%p
  - if !@workshop.invitable
    Not open for registrations.
  - else
    - if @workshop.past?
      - if logged_in?
        This workshop has already taken place.
      - else
        This workshop has already taken place, but you can sign up to receive invitations to our future events.
    - elsif @workshop.attendee? current_user
      You're attending this event.
    - elsif @workshop.waitlisted? current_user
      You are on the Waiting List.
    - elsif !@workshop.spaces?
      This workshop is full, but you can join the waiting list.

- if logged_in? && @workshop.future? && @workshop.invitable
  - if @workshop.attendee?(current_user)
    - if @workshop.rsvp_available?
      = form_tag remove_workshop_path, method: :post do
        = submit_tag "Cancel your attendance", class: 'button round expand'
    - else
      You can't change your RSVP this close to the event. If you can no longer make it, please
      = link_to "send us an email", "mailto:#{@workshop.chapter.email}"


  - elsif @workshop.waitlisted?(current_user)
    = form_tag remove_workshop_path, method: :post do
      = submit_tag "Remove from Waiting list", class: 'button round expand'
      - if @workshop.attendee?(current_user)
        = submit_tag "Cancel your attendance", class: 'button round expand'

  - else
    = form_tag add_workshop_path, method: :post do
      = hidden_field_tag :role, :student
      - if @workshop.student_spaces?
        = submit_tag "Attend as a student", class: 'button round expand'
      - else
        = submit_tag "Join the student waiting list", class: 'button round expand'

    = form_tag add_workshop_path, method: :post do
      = hidden_field_tag :role, :coach
      - if @workshop.coach_spaces?
        = submit_tag "Attend as a coach", class: 'button round expand'
      - else
        = submit_tag "Join the coach waiting list", class: 'button round expand'
- elsif not logged_in?
  = link_to "Sign up as a student", new_member_path, class: 'button round expand'
  = link_to "Sign up as a coach", new_member_path, class: 'button round expand'
  = link_to "Log in", redirect_path, class: 'button round expand'
