- if !@workshop.invitable_yet?
  %p This workshop is not yet open for RSVP.
- else
  - if @workshop.past?
    - unless logged_in?
      %p Sign up to be invited to future events.
  - else
    - if logged_in?
      - if @workshop.attendee? current_user
        %p You are attending this event.
      - elsif @workshop.waitlisted? current_user
        %p You are on the waiting List.
      - elsif !@workshop.spaces?
        %p Unfortunately this workshop is full, but do join the waiting list as spots open up in the lead up to the workshop.

- if logged_in? && @workshop.future? && (@workshop.invitable || @workshop.open_for_rsvp?)
  - if @workshop.attendee?(current_user)
    = button_to "Manage your invitation", rsvp_workshop_path(@workshop), method: :post, class: 'button round '
  - else
    - if current_user.student? && current_user.coach?
      = button_to "Attend as a student", rsvp_workshop_path(@workshop, role: "Student"), method: :post,class: 'button round '
      = button_to "Attend as a coach", rsvp_workshop_path(@workshop, role: "Coach"), method: :post,class: 'button round '
    - elsif current_user.student?
      = button_to "Attend as a student", rsvp_workshop_path(@workshop, role: "Student"), method: :post,class: 'button round '
    - elsif current_user.coach?
      = button_to "Attend as a coach", rsvp_workshop_path(@workshop, role: "Coach"), method: :post,class: 'button round '
    - else
      It looks like something went wrong while you were signing up.
      = link_to "Please tell us whether you want to attend as a student or coach.", subscriptions_path

- elsif not logged_in?
  = link_to "Sign up", new_member_path, class: 'button'
  = link_to "Log in", login_path, class: 'button'
