- title t('workshop.title', host: @workshop.host.name, date: humanize_date(@workshop.date_and_time))

= render partial: 'meta_tags', locals: { workshop: @workshop }

.container-fluid.stripe.reverse
  .row
    .col
      %h2
        = t('workshops.title', host: @workshop.host.name)
        %br
        %small #{humanize_date(@workshop.date_and_time, @workshop.ends_at, with_time: true)} #{@workshop.distance_of_time}
      - if @workshop.date_and_time.past?
        %span.badge.bg-danger= t('messages.already_taken_place')
  .row.mt-3
    .col
      %p.lead
        = t("workshops.lead")
      %p
        = sanitize(@workshop.description)

      = render 'actions' unless current_user&.banned?

.container-fluid.stripe.reverse
  .row
    = render partial: 'shared/venue', locals: { venue: @workshop.host, address: @workshop.address}


.container-fluid.stripe.reverse.text-center
  .row
    .col
      %h3 Sponsors
  .row.mt-4
    - @workshop.sponsors.each do |sponsor|
      .col-4
        = image_tag(sponsor.avatar.url, class: 'sponsor-md', alt: sponsor.name)

.container-fluid.stripe.reverse
  = render partial: 'members/organisers_grid', locals: { members: @workshop.organisers, show_info: false }
