- title t('workshop.virtual.title', chapter: @workshop.chapter.name, date: humanize_date(@workshop.date_and_time))

= render partial: 'virtual_workshops/meta_tags', locals: { workshop: @workshop }

.stripe-reverse
  .row
    .large-12.columns
      %h2
        = t('workshops.virtual.title', chapter: @workshop.chapter.name)
        %br
        %small #{humanize_date(@workshop.date_and_time, @workshop.ends_at, with_time: true)} #{@workshop.distance_of_time}
      - if @workshop.past?
        %label.label.warning= t('messages.already_taken_place')

  %section#banner
    .row
      .medium-12.columns
        %p.lead
          = t("workshops.virtual.lead")
        %p.lead
          = t("workshops.virtual.intro", chapter_email: @workshop.chapter.email)
        %p.lead.description
          = sanitize(@workshop.description)

        = render 'workshops/actions' unless current_user&.banned?

- if @workshop.sponsors.any?
  .stripe.reverse
    .row
      #sponsors
        .small-12.column
          %h3= t('events.sponsors')
          %ul.row.no-bullet
            - @workshop.sponsors.each do |sponsor|
              %li.small-4.columns
                = image_tag(sponsor.avatar.url, class: 'sponsor', alt: sponsor.name)
                %p
                  = link_to sponsor.name, sponsor.website

.stripe.reverse
  = render partial: 'members/organisers_grid', locals: { members: @workshop.organisers, show_info: false }
