- title t('workshop.virtual.title', chapter: @workshop.chapter.name, date: humanize_date(@workshop.date_and_time))

= render partial: 'virtual_workshops/meta_tags', locals: { workshop: @workshop }

.container.py-4.py-lg-5
  .row
    .col
      %h1
        = t('workshops.virtual.title', chapter: @workshop.chapter.name)
        %br
        %small #{humanize_date(@workshop.date_and_time, @workshop.ends_at, with_time: true)} #{@workshop.distance_of_time}
      - if @workshop.date_and_time.past?
        %span.badge.bg-danger= t('messages.already_taken_place')

  .row.mt-3{'data-test': 'workshop-info'}
    .col.col-md-9
      %p.lead
        = t('workshops.virtual.lead')
      %p.lead
        = t('workshops.virtual.intro', chapter_email: @workshop.chapter.email)
      - unless @workshop.description.blank?
        %p.description
          = sanitize(@workshop.description)
      = render 'workshops/actions' unless current_user&.banned?

- if @workshop.sponsors.any?
  .py-4.py-lg-5.section#sponsors
    .container
      .row
        .col
          %h2.text-center Sponsors
      = render partial: 'shared/sponsors', object: @workshop.sponsors

.py-4.py-lg-5.section
  .container
    = render partial: 'members/organisers_grid', locals: { members: @workshop.organisers, show_info: false }
