.stripe.reverse
  .row
    .medium-12.columns
      .text-right
        %br
        %br
      %ul.small-block-grid-2.medium-block-grid-4.large-block-grid-4
        - coaches.each do |coach|
          %li.coach
            .row
              .small-12.columns
                .text-center
                  =link_to twitter_url_for(coach.twitter), class: 'user-link' do
                    =image_tag(coach.avatar(50), class: 'th radius', title: coach.full_name, alt: coach.full_name)

                %br
                =link_to twitter_url_for(coach.twitter) do
                  = coach.full_name
                %p.small= coach.about_you
                - skills = coach.skills.map(&:name)
                - if skills.any?
                  %p
                    skills:
                    - skills.each do |skill|
                      = link_to skill, skill_url(skill), class: "skill"
  .row
    .medium-6.columns.text-left
      = page_entries_info(coaches, model: 'coaches')
    .medium-6.columns.text-right
      = will_paginate(coaches)
