.stripe.reverse
  .row
    - coaches.each do |coach|
      .col-sm-6.col-md-3.coach
        .row
          .col
            .text-center.mb-4
              =link_to twitter_url_for(coach.twitter), class: 'border-0' do
                =image_tag(coach.avatar(50), class: 'rounded-circle', title: coach.full_name, alt: coach.full_name)

            =link_to twitter_url_for(coach.twitter) do
              = coach.full_name
            %p.small.mt-3.mb-3= coach.about_you
            - if coach.skills.any?
              %p
                skills:
                - coach.skills.each do |skill|
                  = link_to skill.name, skill_url(skill.name), class: "skill"
  .row
    .col-6.float-left
      = page_entries_info(@coaches, model: 'coaches')
    .col-6.float-right
      = will_paginate(@coaches)
