%p
  = t('coaches.read_before')
  = succeed ',' do
    =link_to t('coaches.code_of_conduct'), "http://codebar.io/code-of-conduct"
  = t('coaches.policy')
  = succeed '.' do
    = link_to t('coaches.guide'), teaching_guide_path
%p
  = t('coaches.unable_attend')

- unless @invitation.sessions.invite_note.blank?
  %p
    = @invitation.sessions.invite_note.html_safe

%p
  = t('coaches.food')
  #{mail_to @invitation.sessions.chapter.email, @invitation.sessions.chapter.email}.
