%p
  = t('coaches.read_before')
  = succeed ',' do
    =link_to t('coaches.code_of_conduct'), "http://codebar.io/code-of-conduct"
  = t('coaches.policy')
  = succeed '.' do
    = link_to t('coaches.guide'), teaching_guide_path
%p
  = t('coaches.unable_attend')

%p
  - if @workshop.virtual?
    = t('workshop.virtual.invitation.shared_intro_3_html', email_link: mail_to(@workshop.chapter.email, @workshop.chapter.email))
  - else
    = t('coaches.food')
    #{mail_to @invitation.workshop.chapter.email, @invitation.workshop.chapter.email}.
