%p= t('workshop.invitation.student_intro_1')
%p= t('workshop.invitation.student_intro_2')
- if @workshop.virtual?
  %p= t('workshop.virtual.invitation.shared_intro_3_html', email_link: mail_to(@workshop.chapter.email, @workshop.chapter.email))
- else
  %p= t('workshop.invitation.student_intro_3_html')
  %p= t('workshop.invitation.shared_intro_4_html', email_link: mail_to(@workshop.chapter.email, @workshop.chapter.email).html_safe)
