- title t('workshop.invitation.title', date: humanize_date(@workshop.date_and_time))

.stripe.reverse
  .row
    .large-12.columns
      %h2
        = @workshop.title
        %br
        %small #{humanize_date(@workshop.date_and_time, @workshop.ends_at, with_time: true)} #{@workshop.distance_of_time}
      - if @workshop.date_and_time.past?
        %label.label.warning= t('messages.already_taken_place')
.alert-box.info
  .row
    .large-12.columns
      This link can be accessed without authentication so please don't share it with others. You can access and share the <strong> #{link_to("public listing", workshop_url(@workshop))}</strong> of the workshop.


.stripe.reverse
  = render partial: 'shared/announcements', locals: { announcements: @announcements }

  .row
    .medium-7.large-8.columns
      %p#introduction
        Hi #{@invitation.member.name},
        = render partial: @invitation.role.downcase

    .medium-5.large-4.columns
      .panel
        - if @workshop.past?
          %em= t('workshops.already_taken_place')
        - else
          - if @invitation.attending.eql?(true)
            - if @invitation.for_student?
              %p
                %small You will be working on...
                = form_tag invitation_path(@invitation), method: :put do
                  = select_tag :note, options_for_select(@tutorial_titles, @invitation.note)
                  %br
                  = submit_tag 'Update note', class: "expand button small"
            - if @invitation.for_coach?
              %span.has-tip{ 'data-tooltip': '', 'aria-haspopup': 'true', title: I18n.t('workshop_invitation.coach_skills_tooltip') }
                %i.fa.fa-info
              =link_to 'Keep your skills up-to-date!', edit_member_path
              %hr
              = simple_form_for @invitation, url: :invitation, method: :put do |f|
                = f.input :note, required: false, input_html: { rows: 3, maxlength: 100 }
                = f.button :submit, "Update note",  class: "button expand round"
            - if @workshop.rsvp_available?
              = link_to "I can no longer attend", reject_invitation_url(@invitation), class: "expand button small alert"
            - else
              %p
                = t('workshop.invitation.cant_make_it_note', email: @workshop.chapter.email)
          - elsif @invitation.member.banned?
            %p
              %label.label.warning Your account has been suspended.
              %br

              %small
                %strong Why?
                - if @invitation.member.banned_permanently?
                  = @invitation.member.bans.permanent.first.reason
                - else
                  = @invitation.member.bans.active.first.reason
          - else
            - if @invitation.for_coach?
              - if @workshop.coach_spaces?
                %span.has-tip{ 'data-tooltip': '', 'aria-haspopup': 'true', title: I18n.t('workshop_invitation.coach_skills_tooltip') }
                  %i.fa.fa-info
                =link_to 'Keep your skills up-to-date!', edit_member_path
                %hr
                = simple_form_for @invitation, url: :accept_invitation, method: :post do |f|
                  = f.input :note, required: false, input_html: { rows: 3, maxlength: 100 }
                  %br
                  = f.button :submit, "Attend",  class: "button expand round"
              - else
                = render partial: 'invitation/waiting_list', locals: { invitation: @invitation }
            - else
              - if @workshop.student_spaces?
                = simple_form_for @invitation, url: :accept_invitation, method: :post do |f|
                  = f.input :note, label: "What do you plan to work on?", collection: @tutorial_titles, required: true, include_blank: true
                  %br
                  = f.button :submit, "Attend",  class: "button expand round"
              - else
                = render partial: 'invitation/waiting_list', locals: { invitation: @invitation }
          Read our #{link_to "attendance policy", attendance_policy_path}.


.stripe.reverse#info
  .row
    .small-12.column
      %h4= t('workshop.invitation.info')
      - if @workshop.description?
        %p.lead
          = sanitize(@workshop.description)
      - if @workshop.virtual? &&  @invitation.attending.eql?(true)
        %h4= t('workshop.virtual.invitation.info.title')
        #join-info
          %ol
            %li= t('workshop.virtual.invitation.info.line_1_html', slack_link: link_to(t('social_media_links.slack_html')))
            %li= t('workshop.virtual.invitation.info.line_2_html', channel: link_to("##{@workshop.slack_channel}", @workshop.slack_channel_link))
            %li= t('workshop.virtual.invitation.info.line_3_html', discord: link_to("discord", t('social_media_links.discord_invitation')))
            %li= t('workshop.virtual.invitation.info.line_4_html', discord_app: link_to('https://discord.com/download', 'https://discord.com/download'))

          %h5= t('workshop.virtual.invitation.info.begins_title')
          %ol
            %li= t('workshop.virtual.invitation.info.line_5')
            %li= t('workshop.virtual.invitation.info.line_6')

  - unless @workshop.virtual?
    .row
      = render partial: 'shared/venue', locals: { venue: @workshop.host, address: @workshop.address}

- if @workshop.sponsors.any?
  .stripe.reverse#sponsors
    .row
      .small-12.column
        %h3 Sponsors
        %ul.row.no-bullet
          - @workshop.sponsors.each do |sponsor|
            %li.small-4.columns
              = image_tag(sponsor.avatar.url, class: 'sponsor', alt: sponsor.name)
              %p
                = link_to sponsor.name, sponsor.website

.stripe.reverse
  = render partial: 'members/organisers_grid', locals: { members: @workshop.organisers, show_info: true }

.stripe.reverse
  .row
    .medium-6.columns
      %h4 Students (#{@workshop.attending_and_available_student_spots})
      %ul.attendances.no-bullet
        - @workshop.attending_students.each do |invitation|
          %li.attendance
            .row
              .small-2.columns
                =image_tag(invitation.member.avatar(96), class: 'th radius', title: invitation.member.full_name, alt: invitation.member.full_name)
              .small-10.columns
                =invitation.member.full_name
                %br
                .subheader=invitation.note
            %br
    .medium-6.columns
      %h4 Coaches (#{@workshop.attending_and_available_coach_spots})
      %ul.attendances.no-bullet
        - @workshop.attending_coaches.each do |invitation|
          %li.attendance
            .row
              .small-2.columns
                =image_tag(invitation.member.avatar(96), class: 'th radius', title: invitation.member.full_name, alt: invitation.member.full_name)
              .small-10.columns
                =invitation.member.full_name
            %br
