= render partial: 'shared/title', locals: { title: "Workshop", date: humanize_date_with_time(@invitation.sessions.date_and_time, @invitation.sessions.time) }
%section
  .inner-nav{ "data-magellan-expedition" => "fixed" }
    .row
      %dl.sub-nav
        %dd{ "data-magellan-arrival" => "location" }
          =link_to "Location", "#location"
        %dd{ "data-magellan-arrival" => "attendees" }
          =link_to "Who will be there?", "#attendees"

  .row
    .large-8.columns
      %p
        Hi #{@invitation.member.name},
        = render partial: @invitation.role.downcase

    .large-4.columns
      .panel
        - if @invitation.sessions.date_and_time < DateTime.now
          %em This session has already taken place!
        - else

          - if @invitation.attending.eql?(true)
            - if @invitation.for_student?
              %p
                You will be working on
                %em= @invitation.note

            - if @invitation.sessions.date_and_time-3.5.hours <= DateTime.now
              %p
                If you can't make it or plan to arrive late please let us know by sending an email to #{@invitation.sessions.chapter.email}
            - else
              =link_to "I can no longer attend", reject_invitation_url(@invitation), class: "expand button round"
          - else
            - if @invitation.for_coach?
              - if @invitation.coach_spaces?
                = link_to "Attend", accept_invitation_url(@invitation), class: "expand button round center"
              - else
                = render partial: 'invitation/waiting_list', locals: { invitation: @invitation }
            - else
              - if @invitation.student_spaces?
                = simple_form_for @invitation, url: :accept_with_note_invitation, method: :post do |f|
                  = f.input :note, label: "I will be working on... ", placeholder: "e.g. I know a bit of HTML and CSS or the second JQuery tutorial", required: true
                  = f.button :submit, "Attend",  class: "button expand round"
                  %label *Letting us know what you plan to work on will help us manage things easier.
              - else
                = render partial: 'invitation/waiting_list', locals: { invitation: @invitation }
      .panel.callout
        Sign up to codebar's discussion forum at
        =link_to "discuss.codebar.io", "http://discuss.codebar.io"


  .row
    .large-12.columns
      %a{ name: "location" }
      %h4{ "data-magellan-destination" => "location"} Location
  .row
    .medium-9.columns
      %iframe{ width: '100%', height: '350', frameborder: '0', scrolling: 'no', marginheight: '0', marginwidth: '0', src: %{https://maps.google.com/maps?f=q&source=s_q&hl=en&amp;geocode=&q=#{@host_address.for_map}&ie=UTF8&t=m&z=15&output=embed} }
      =link_to "View larger map", %{https://maps.google.com/maps?f=q&source=s_q&hl=en&amp;geocode=&q=#{@host_address.for_map}&ie=UTF8&hq=&t=m&z=15}, style: "color:#0000FF;text-align:left"
    .medium-3.columns
      = image_tag @workshop.venue.avatar, class: 'sponsor-logo'
      %p
        = @host_address.to_html
      %strong Organisers
      - @workshop.organisers.each do |organiser|
        %p
          = organiser.full_name
          %br
          = organiser.mobile

  .row
    .large-12.columns
      %hr
      %a{ name: "attendees" }
      %h4{ "data-magellan-destination" => "attendees"}  Who else will be there?
  .row
    .medium-6.columns
      %h4 Students (#{@invitation.sessions.attending_students.count})
      %ul.attendances.no-bullet
        - @invitation.sessions.attending_students.each do |invitation|
          %li.attendance
            .row
              .small-2.columns
                =image_tag invitation.member.avatar(96), class: 'th radius', title: invitation.member.full_name
              .small-10.columns
                =invitation.member.full_name
                %br
                .subheader=invitation.note
            %br
    .medium-6.columns
      %h4 Coaches (#{@invitation.sessions.attending_coaches.count})
      %ul.attendances.no-bullet
        - @invitation.sessions.attending_coaches.each do |invitation|
          %li.attendance
            .row
              .small-2.columns
                =image_tag invitation.member.avatar(96), class: 'th radius', title: invitation.member.full_name
              .small-10.columns
                =invitation.member.full_name
            %br

