%section#sessions

  .titlebox.session.upcoming
    %h2
      Session
    %small=l(@invitation.sessions.date_and_time, format: :website_format)
    .dot
  .row
    .two-thirds
      .description
        Hi #{@invitation.member.name},
        = render partial: @invitation.role.downcase
        %hr
        %p.rsvp
          - if @invitation.sessions.date_and_time < DateTime.now
            %em This session has already taken place!
          - else
            %h3 RSVP
            %p
              - if @invitation.attending.eql?(true)
                You are attending this workshop.
                - if @invitation.role.eql?("Student")
                  %br
                  %strong Note
                  = @invitation.note
                - if @invitation.sessions.date_and_time-6.hours <= DateTime.now
                  %br
                  %br
                  %small The session is on in less than 6 hours so you can no longer change you attendance. Please send a text at 07402887214 or email meetings@codebar.io so we can try to reallocate your spot.
                - else
                  %br
                  %br
                  =link_to "I can no longer attend", reject_invitation_url(@invitation), class: "button"
              - else
                - if @invitation.role.eql?("Coach")
                  = link_to "Attend", accept_invitation_url(@invitation), class: "button"
                - else
                  = simple_form_for @invitation, url: :accept_with_note_invitation, method: :post do |f|
                    = f.input :note, label: "What do you plan to work on at the workshop?", placeholder: "e.g. I know a bit of HTML and CSS or the second JQuery tutorial"
                    %small This will help us make the workshop easier to manage as we can figure out upfront with whom to pair you on the day.
                    %br
                    .right
                      = f.button :submit, "Attend",  class: "button"
      %hr

    .quarter
      .description
        %h4 Venue
        = image_tag @invitation.sessions.host.avatar, class: 'sponsor-logo'
        %p.address
          = @host_address.to_html
          %br
          %small= link_to "view map", "https://maps.google.com/maps?q=#{@host_address.postal_code}"

        %hr

        %h4 Contact details
        %ul.contact-details
          %li
            Despo
            %b 07402887214

  .row
    .description
      %h2 Attendances
      .half
        %h4 Students
        %ol.attendances
          - @invitation.sessions.attending_students.each do |invitation|
            %li.attendance
              .two-thirds
                =invitation.member.full_name
      .half
        %h4 Coaches
        %ol.attendances
          - @invitation.sessions.attending_coaches.each do |invitation|
            %li.attendance
              .two-thirds
                =invitation.member.full_name

