= simple_form_for [:admin, @workshop], url: :admin_workshop, method: :put do |f|
  .row
    .col-12.col-md-6
      = render partial: 'shared_form', locals: { f: f }
    .col-12.col-md-6
      = render partial: 'virtual_workshop_fields', locals: { f: f }
    .col-12.col-md-6
      = f.input :organisers, collection: @workshop.chapter.organisers, value_method: :id, label_method: :full_name, selected: @workshop.organisers.pluck(:id), input_html: { multiple: true }
    .col-12
      = f.input :invitable, hint_html: { class: 'd-block ms-1' }
  .row
    .col
      = f.button :button, 'Save', class: 'btn btn-primary'
