= simple_form_for [:admin, @workshop], url: :admin_workshop, method: :put do |f|
  .row
    .large-3.columns
      = f.association :chapter, as: :select, collection: Chapter.available_to_user(current_user)
  .row
    .large-3.columns
      = f.input :date_and_time, as: :string, required: true, label: "Date", input_html: { data: { value: @workshop.date_and_time.strftime("%d/%m/%Y") } }
  .row
    .large-3.columns
      = f.input :time, as: :string, required: true, input_html: { id: "sessions_time", data: { value: (@workshop.time).strftime("%H:%M") }}
  .row
    .large-6.columns
      = f.input :host, as: :select, collection: Sponsor.all, include_blank: true, selected: (@workshop.host.id rescue "")
  .row
    .large-6.columns
      = f.association :sponsors
  .row
    .large-6.columns
      %label Organisers
      = f.collection_select :organisers, Member.all, :id, :full_name, { selected: @workshop.organisers.map(&:id) }, { multiple: true }
      = f.input :invitable
  .row
    .large-4.columns
      = render partial: "random_allocate_input"
  .row
    .large-12.columns.text-right
      = f.submit "Save", class: "button"
