= simple_form_for [:admin, @workshop], url: :admin_workshop, method: :put do |f|
  .row
    .medium-6.columns
      =render partial: 'shared_form', locals: { f: f }
    .medium-6.columns
      =render partial: 'virtual_workshop_fields', locals: { f: f }
      .row
        .large-6.columns
          %label Organisers
          = f.collection_select :organisers, Member.all, :id, :full_name, { selected: @workshop.organisers.map(&:id) }, { multiple: true }
  .row
    .large-12.columns
      = f.input :invitable
  .row
    .large-12.columns
      = link_to ' Cancel workshop', admin_workshop_cancelling_path(@workshop), class: 'fa fa-exclamation-triangle alert warning small', method: 'post'
      = f.submit 'Save', class: 'button right'
