= simple_form_for [:admin, @workshop], url: :admin_workshops do |f|
  .row
    .large-3.columns
      = f.association :chapter, as: :select, collection: Chapter.available_to_user(current_user)
  .row
    .large-3.columns
      = f.input :date_and_time, as: :string, required: true, label: "Date", input_html: { data: { value: @workshop.date_and_time } }
  .row
    .large-3.columns
      = f.input :time, as: :string, required: true, input_html: { id: "sessions_time"}
  .row
    .large-6.columns
      = f.input :host, as: :select, collection: Sponsor.all, include_blank: true, selected: (@workshop.host.id rescue "")
  .row
    .large-6.columns
      = f.association :sponsors
  .row
    .large-6.columns
      = f.input :invitable
  .row
    .large-4.columns
      = render partial: "random_allocate_input"
  .row
    .large-12.columns.text-right
      = f.submit "Save", class: "button"
