= simple_form_for [:admin, @workshop], url: :admin_workshops do |f|
  .row
    .large-12.columns
      = f.association :chapter, as: :radio_buttons, collection: Chapter.available_to_user(current_user)

      = f.input :date_and_time, as: :string, placeholder: Date.tomorrow.strftime('%d %b, %Y'), required: true
      = f.input :time, as: :string, placeholder: DateTime.new(2014,6,1,12,30).strftime("%H:%M %P"), required: true, input_html: { id: "sessions_time" }
      = f.input :invite_note, as: :text, placeholder: "Text you include here will be visible on the workshop page and in the email invitations. HTML formatting is OK."
      = f.input :invitable
  .row
    .large-12.columns.text-right
      = f.submit "Save", class: "button"
