.row
  .large-12.columns
    = f.association :chapter, as: :select, collection: Chapter.available_to_user(current_user)

.row
  .large-12.columns.admin_margin
    = f.input :local_date, label: "Date", as: :string, required: true, input_html: { data: { value: @workshop.date_and_time.try(:strftime, '%d/%m/%Y') } }
.row
  .large-6.columns
    = f.input :local_time, label: "Begins at", as: :string, required: true, input_html: { data: { value: @workshop.time.try(:strftime, '%H:%M') } }
  .large-6.columns
    = f.input :ends_at, as: :string, required: true, input_html: { data: { value: @workshop.ends_at.try(:strftime, '%H:%M') } }
.row
  .medium-12.columns#host
    = f.input :host, as: :select, collection: Sponsor.all, include_blank: true, selected: (@workshop.host.id rescue '')
.row
  .medium-12.columns.admin_margin
    = f.association :sponsors
%br
.row
  .large-12.columns
    %h6 Default description text:
    %p
      %small= t("workshops.lead")
.row
  .large-12.columns
    = f.input :description, as: :text
%br
.row
  .large-12.columns
    .panel.callout
      %p= t('admin.workshop.form.rsvp_details')
      = f.input :rsvp_open_local_date, as: :string, input_html: { data: { value: @workshop.rsvp_opens_at.try(:strftime, '%d/%m/%Y') } }
      = f.input :rsvp_open_local_time, as: :string, input_html: { data: { value: @workshop.rsvp_opens_at.try(:time).try(:strftime, '%H:%M') } }
