.row
  .large-12.columns
    .panel.callout
      %p= t('admin.workshop.form.virtual_info')
      = f.input :virtual, as: :boolean
      = f.input :slack_channel
      = f.input :slack_channel_link
      = f.input :coach_spaces
      = f.input :student_spaces
