.container.py-4.py-lg-5
  .row
    .col
      %h1
        Workshop
        = link_to [:admin, @workshop.chapter] do
          %small=@workshop.chapter.name
  .row.align-items-center
    - unless @workshop.virtual?
      .col-auto
        %h2.h4
          = @workshop.venue.name
    .col-auto
      %h2.h5
        #{l(@workshop.date_and_time)}

.py-4.py-lg-5.bg-light
  .container
    .row
      .col
        %h3
          Who should receive the invitations?
        %p
          If you click "Students" now, you can come back and send them to the coaches at a separate time, and vice versa.
        = link_to admin_workshop_invite_path(@workshop, for: "students"), method: :post, class: 'btn btn-primary btn-lg me-2' do
          Students
        = link_to admin_workshop_invite_path(@workshop, for: "coaches"), method: :post, class: 'btn btn-primary btn-lg me-2' do
          Coaches
        = link_to admin_workshop_invite_path(@workshop, for: "everyone"), method: :post, class: 'btn btn-primary btn-lg' do
          Everybody
