.container-fluid
  .stripe.reverse
    .row
      .col
        %h1
          Workshop
          = link_to [:admin, @workshop.chapter] do
            %small=@workshop.chapter.name
    .row
      - unless @workshop.virtual?
        .col-3
          %h2.h4
            = @workshop.venue.name
      .col-3
        %h2.h5
          #{l(@workshop.date_and_time)}

.container-fluid
  .stripe
    .row
      .col
        %h3
          Who should receive the invitations?
        %p
          If you click "Students" now, you can come back and send them to the coaches at a separate time, and vice versa.
        = link_to admin_workshop_invite_path(@workshop, for: "students"), method: :post, class: 'btn btn-primary btn-lg mr-2' do
          Students
        = link_to admin_workshop_invite_path(@workshop, for: "coaches"), method: :post, class: 'btn btn-primary btn-lg mr-2' do
          Coaches
        = link_to admin_workshop_invite_path(@workshop, for: "everyone"), method: :post, class: 'btn btn-primary btn-lg mr-2' do
          Everybody
