%section#banner
  .row
    .medium-12.columns
      %h4.subheader
        =link_to [:admin, @workshop.chapter] do
          =@workshop.chapter.name
      %h2
        Workshop
        %small.subheader= humanize_date_with_time(@workshop.date_and_time, @workshop.time)
        %small
          =link_to edit_admin_workshop_path(@workshop) do
            Edit
            %i.fa.fa-pencil

  .row
    - if @workshop.has_host?
      .medium-1.columns
        - unless @workshop.spaces?
          %label.label.warning Workshop full
      .medium-3.columns
        %strong.label.round.secondary #{@workshop.host.seats} student spots, #{@workshop.host.coach_spots} coach spots
        %br
        %br
  .row
    .large-3.small-6.columns#host
      - if @workshop.has_host?
        %h4 Venue
        %strong= @workshop.host.name
        %br
        %small
          = @address.to_html
    .large-3.small-6.columns#sponsors
      - if (@workshop.sponsors - [@workshop.host]).any?
        %h4 Sponsors
        %ul.no-bullet
          - (@workshop.sponsors - [@workshop.host]).each do |sponsor|
            %li
              %span
                = link_to sponsor.name, [:admin, sponsor]
    .large-6.small-12.columns
      %h4 Team
      - @workshop.organisers.each do |organiser|
        %span{ "data-tooltip" =>"", "aria-haspopup" => "true",  class: "has-tip",  title: organiser.full_name }
          = image_tag(organiser.avatar(40))

#manage
  .row
    .large-6.medium-12.columns
      %ul.button-group.primary
        - if !@workshop.date_and_time.future?
          %li
            =link_to "#", class: "button small secondary disabled", title: "The event has already taken place" do
              %i.fa.fa-send
              Invite
        - elsif @workshop.has_valid_host?
          %li
            =link_to admin_workshop_invite_path(@workshop), method: :post, class: "button secondary small" do
              %i.fa.fa-send
              Invite
        - else
          %li
            =link_to "#", class: "button small secondary" do
              %i.fa.fa-send
              Invite
        %li
          =link_to admin_workshop_path(format: 'csv'), class: 'button small secondary', title: "CSV for labels" do
            %i.fa.fa-users
            Labels
        %li
          =link_to  admin_workshop_students_checklist_path(@workshop, format: 'text'), title: "Student checklist", class: 'button small secondary' do
            %i.fa.fa-list-ul
            Students
        %li
          =link_to  admin_workshop_coaches_checklist_path(@workshop, format: 'text'), title: "Coach checklist", class: 'button small secondary' do
            %i.fa.fa-list-ul
            Coaches
  #invitations
    = render partial: 'invitation_management'
