%section#banner
  .row
    .medium-12.columns
      %h4.subheader
        =link_to [:admin, @workshop.chapter] do
          =@workshop.chapter.name
      %h2
        Workshop
        %small.subheader= humanize_date_with_time(@workshop.date_and_time, @workshop.time)
        %small
          =link_to edit_admin_workshop_path(@workshop) do
            Edit
            %i.fa.fa-pencil
      %hr

  - if @workshop.has_host?
    .row
      .medium-12.columns
        %strong.label.round.secondary #{@workshop.host.seats} seats, #{@workshop.host.coach_spots} coach spots
        %br
        %br
  .row
    .medium-6.columns#host
      %h4 Host
      - unless @workshop.has_host?
        = simple_form_for [:admin, @workshop], url: admin_workshop_host_path(workshop_id: @workshop), method: :post do |f|
          .row
            .medium-8.columns
              = f.association :sponsors, label: false, input_html: { multiple: false }
          = f.submit "Set host", class: "button round tiny"
      - else
        .row
          .medium-6.columns
            %span
              = @workshop.host.name
              = link_to admin_workshop_destroy_host_path(workshop_id: @workshop.id), data: { confirm: "Are you sure?" }, method: :delete do
                =fa_icon "times"
    .medium-6.columns#sponsors
      %h4 Sponsors
      .row
        .medium-6.columns
          = simple_form_for [:admin, @workshop], url: admin_workshop_sponsor_path(workshop_id: @workshop), method: :post do |f|
            .row
              .medium-12.columns
                = f.association :sponsors, label: false, input_html: { multiple: false }
            = f.submit "Add sponsor", class: "button round tiny"
        .medium-6.columns
          %ul.no-bullet
            - @workshop.sponsors.each do |sponsor|
              %li
                %span
                  = sponsor.name
                  = link_to admin_workshop_destroy_sponsor_path(workshop_id: @workshop.id, sponsor_id: sponsor.id), data: { confirm: "Are you sure?" }, method: :delete do
                    =fa_icon "times"
  - if @workshop.invitable?
    .row
      .medium-4.columns
        %h4
          Invitations
          - if @workshop.invitations.any?
            (#{@workshop.invitations.count})
        - if !@workshop.date_and_time.future?
          =link_to "Send Invitations", "#", class: "button round disabled"
          %br
          %small The workshop has already taken place
        - elsif @workshop.has_valid_host?
          =link_to "Send Invitations", admin_workshop_invite_path(@workshop), method: :post, class: "button round"
        - else
          =link_to "Send Invitations", "#", class: "button round disabled"
          %br
          %small you must specify a host before sending out invitations

  - if @workshop.invitations.any?
    .row
      %hr
      .medium-6.columns
        %h4 Students (#{@workshop.attending_students.count})
        =render partial: 'admin/workshop/attendances', locals: { invitations: @workshop.attending_students }
        =render partial: 'admin/workshop/waiting_list', locals: { waiting_list: @student_waiting_list }
      .medium-6.columns
        %h4 Coaches (#{@workshop.attending_coaches.count})
        =render partial: 'admin/workshop/attendances', locals: { invitations: @workshop.attending_coaches }
        =render partial: 'admin/workshop/waiting_list', locals: { waiting_list: @coach_waiting_list }
