.stripe.reverse#banner
  .row
    .large-12.columns
      %h2 Attendance Policy

.stripe.reverse
  .row
    .large-12.columns
      %p
        = t('dashboard.policy.intro')
        %ul
          %li= t('dashboard.policy.rule1')
          %li= t('dashboard.policy.rule2')
          %li= t('dashboard.policy.rule3')
          %li= t('dashboard.policy.rule4')
          %li= t('dashboard.policy.rule5')

      %h3
        = t('dashboard.policy.what_happens')
      %p
        = t('dashboard.policy.strikes_system')
      %p
        = t('dashboard.policy.removing')
      %p
        = t('dashboard.policy.rsvping')
      %h3
        = t('dashboard.policy.eligibility_note')
      %p
        = t('dashboard.policy.abuse')
      %p
        = t('dashboard.policy.reminder')

