.stripe.reverse#code-of-conduct
  .row
    .large-12.columns
      %h2 Code of conduct
.stripe.reverse
  .row
    .large-12.columns
      %h3= t('code_of_conduct.summary.title')
      %p.lead
        = t('code_of_conduct.summary.intro')

      %h3 The Long Version
      %p
        = t('code_of_conduct.harassment')

      %p
        = t('code_of_conduct.comply')

      %p
        = t('code_of_conduct.sponsors')

      %p
        = t('code_of_conduct.sanctions')

      %p
        = t('code_of_conduct.concerns')

      %p
        = raw t('code_of_conduct.applies_to')

      %p
        = t('code_of_conduct.questions')
        =mail_to "hello@codebar.io", "contact us", subject: t('code_of_conduct.email_subject')
