.stripe.reverse
  .row
    .col
      %h2
        Dashboard

.row
  .col-sm-12.col-md-3.mb-sm-5.mb-md-0
    =image_tag(current_user.avatar(33), alt: current_user.full_name)
    = link_to @user.full_name, profile_path

    .row.mt-4
      .col
        %h4
          Subscriptions
          %small
            =link_to "Edit", subscriptions_path
        - if current_user.chapters.any?
          %ul.list-unstyled
            - current_user.chapters.each do |chapter|
              %li= link_to chapter.name, chapter_url(chapter.slug)
        - else
          %i.fa.fa-warning
          %small You are not subscribed to any groups.


  .col-sm-12.col-md-9
    - if @announcements.any?
      - @announcements.each do |announcement|
        .alert.alert-info= dot_markdown(announcement.message)
    .col
      - if @ordered_events.none?
        There are no upcoming events announced for the chapters you are subscribed to.
      - @ordered_events.each do |date, workshops|
        .row
          .col
            %h4= date
        = render workshops
