.container-fluid.stripe.reverse
  .row
    .col
      %h2 Dashboard

.container-fluid
  .row
    .col-12.col-lg-3.mb-4
      .bg-light.p-3
        .mb-4.text-lg-center
          = image_tag(current_user.avatar(80), alt: current_user.full_name, class: 'rounded-circle mb-2')
          = link_to @user.full_name, profile_path, class: 'd-inline-block'

        .d-flex.align-items-center.mb-2
          %h4 Subscriptions
          %small= link_to 'Edit', subscriptions_path, class: 'ml-2'
        - if current_user.chapters.any?
          .list-group.list-group-flush
            - current_user.chapters.each do |chapter|
              = link_to chapter.name, chapter_url(chapter.slug), class: 'list-group-item list-group-item-action'
        - else
          %i.fas.fa-exclamation-triangle
          %small You are not subscribed to any groups.


    .col-12.col-lg-8.offset-lg-1#main
      - if @announcements.any?
        = render partial: 'shared/announcements', locals: { announcements: @announcements }

      %div
        - if @ordered_events.none?
          There are no upcoming events announced for the chapters you are subscribed to.
        - @ordered_events.each do |date, workshops|
          %h4= date
          = render workshops
