.stripe.reverse
  .row
    .col
      %h3
        Coach Guide
      %p
        This is a brief guide we've put together for our coaches. If you have any suggestions to make open a #{link_to "pull request", "https://github.com/codebar/planner"} or #{link_to "create an issue", "https://github.com/codebar/planner/issues/new"}.

.stripe.reverse
  .row
    .col
      %ul
        %li
          %p.mb-2= t('dashboard.teacher_guide.laptop')
        %li
          %p.mb-2= t('dashboard.teacher_guide.keyboard')
        %li
          %p.mb-2= t('dashboard.teacher_guide.typing')
        %li
          %p.mb-2= t('dashboard.teacher_guide.questions')
        %li
          %p.mb-2= t('dashboard.teacher_guide.mistakes')
        %li
          %p.mb-2= t('dashboard.teacher_guide.introduction')
        %li
          %p.mb-2= t('dashboard.teacher_guide.backgrounds')
        %li
          %p.mb-2= t('dashboard.teacher_guide.limits')
        %li
          %p.mb-2= t('dashboard.teacher_guide.collaboration')
        %li
          %p.mb-2= t('dashboard.teacher_guide.discussion')
        %li
          %p.mb-2= t('dashboard.teacher_guide.talk_slow')
        %li
          %p.mb-2= t('dashboard.teacher_guide.mild_approach')
        %li
          %p.mb-2= t('dashboard.teacher_guide.paper')
        %li
          %p.mb-2= t('dashboard.teacher_guide.stubling')
