= render partial: 'shared/title', locals: { title: "Coaching guide", date: nil }
%section#banner
  .row
    .large-12.columns
      %ul.square
        %li= t('dashboard.teacher_guide.laptop')
        %li= t('dashboard.teacher_guide.keyboard')
        %li= t('dashboard.teacher_guide.typing')
        %li= t('dashboard.teacher_guide.questions')
        %li= t('dashboard.teacher_guide.mistakes')
        %li= t('dashboard.teacher_guide.introduction')
        %li= t('dashboard.teacher_guide.backgrounds')
        %li= t('dashboard.teacher_guide.limits')
        %li= t('dashboard.teacher_guide.colaboration')
        %li= t('dashboard.teacher_guide.discussion')
        %li= t('dashboard.teacher_guide.talk_slow')
        %li= t('dashboard.teacher_guide.mild_approach')
        %li= t('dashboard.teacher_guide.paper')
        %li= t('dashboard.teacher_guide.stubling')

  .row
    .large-12.columns
      %p Do you have something to suggest? Make a #{link_to "pull request", "https://github.com/codebar/planner"} or #{link_to "create an issue", "https://github.com/codebar/planner/issues/new"}.
