.stripe.reverse#banner
  .row
    .col
      %h2= t('participant_student_guide.title')
      = link_to t('participant_student_guide.attendance_policy.title') , '#attendance'
      \|
      = link_to t('participant_student_guide.eligibility_criteria.title') , '#eligibility'
      \|
      = link_to t('participant_student_guide.disability.title') , '#disability'

.stripe.reverse
  .row
    .col
      %h3#attendance= t('participant_student_guide.attendance_policy.title')
      %p
        = t('participant_student_guide.attendance_policy.intro')

        %ol
          %li
            = raw t('participant_student_guide.attendance_policy.rule1')
          %li
            = raw t('participant_student_guide.attendance_policy.rule2')
          %li
            = t('participant_student_guide.attendance_policy.rule3')
          %li
            = t('participant_student_guide.attendance_policy.rule4')
          %li
            = raw t('participant_student_guide.attendance_policy.rule5')
          %li
            = t('participant_student_guide.attendance_policy.rule6')
          %li
            = t('participant_student_guide.attendance_policy.rule7')

      %h4= t('dashboard.policy.what_happens')

      %p= t('dashboard.policy.strikes_system')

      %p= t('dashboard.policy.removing')

      %p= t('dashboard.policy.rsvping')

      %h3#eligibility= t('participant_student_guide.eligibility_criteria.title')

      %p= raw t('participant_student_guide.eligibility_criteria.p_1')

      %p= raw t('participant_student_guide.eligibility_criteria.p_2')

      %p= t('participant_student_guide.eligibility_criteria.p_3')

      %p= t('participant_student_guide.eligibility_criteria.p_4')

      %p= t('participant_student_guide.eligibility_criteria.p_5')

      %p= t('participant_student_guide.eligibility_criteria.p_6')

      %h3#disability= t('participant_student_guide.disability.title')

      %p= raw t('participant_student_guide.disability.description')