- title t('homepage.title')

.alert.alert-dark.mb-0.text-center
  We’re beyond proud to launch our <strong>2025</strong> Impact Report, which you can read here - <a href="https://impact-report.codebar.io/" class="text-dark" target="_blank"">impact-report.codebar.io</a>

.homepage-hero.d-flex.align-items-center
  .container.d-flex
    .col-md-5.offset-md-1.p-3.text
      %p.lead.mb-0= raw t('homepage.intro')
      = link_to t('members.sign_up'), new_member_path, class: 'btn btn-primary btn-lg mt-4'

.py-4.py-lg-5.bg-light
  .container
    .row.justify-content-md-center
      .col-md-8
        %p.lead.mb-0= raw t('homepage.explanation')

-# = render 'shared/festival_banner'

.container.py-4.py-lg-5
  .row
    .col-md-4.mb-4.mb-md-0
      .card.h-100.text-md-center.border-0
        .card-body
          %h3.h4.card-title
            = t('homepage.participate.students_title')
          %p.card-text
            = t('homepage.participate.students_explanation_p1')
          %p.card-text
            = t('homepage.participate.students_explanation_p2')
        .card-footer.border-0.bg-transparent
          = link_to t('homepage.participate.students_button'), new_member_path, class: 'btn btn-primary'

    .col-md-4.mb-4.mb-md-0
      .card.h-100.text-md-center.border-0
        .card-body
          %h3.h4.card-title
            = t('homepage.participate.coaches_title')
          %p.card-text
            = raw t('homepage.participate.coaches_explanation_p1', link: 'https://tutorials.codebar.io')
          %p.card-text
            = t('homepage.participate.coaches_explanation_p2')
        .card-footer.border-0.bg-transparent
          = link_to t('homepage.participate.coaches_button'), new_member_path, class: 'btn btn-primary'

    .col-md-4
      .card.h-100.text-md-center.border-0
        .card-body
          %h3.h4.card-title
            = t('homepage.participate.workshop_title')
          %p.card-text
            = t('homepage.participate.workshop_explanation_p1')
          %p.card-text
            = t('homepage.participate.workshop_explanation_p2')
        .card-footer.border-0.bg-transparent
          = mail_to 'hello@codebar.io', t('homepage.participate.workshop_button'), subject: t('homepage.participate.workshop_email_subject'), class: 'btn btn-primary'

.py-4.py-lg-5.bg-light
  .container
    = render partial: 'shared/donation_platforms', locals: { title: t('homepage.donation_platforms.title'), with_button: true }

.container.py-4.py-lg-5
  .row
    .col-lg-8
      - if @upcoming_workshops.empty?
        %p
          = t('events.no_upcoming_events')
        %p
          = link_to t('events.view_past_events'), events_url(anchor: 'past'), class: 'btn btn-primary btn-block'
      - if @upcoming_workshops.any?
        %h2.h3.mb-4= t('homepage.events.upcoming')
        - @upcoming_workshops.each do |date, workshops|
          %h3.h5= date
          = render workshops

        - if @has_more_events
          = link_to 'Explore all events →', events_path, class: 'btn btn-outline-primary mt-3'

    .col-lg-4.pl-lg-5
      %h3
        = t('homepage.chapters.title')
      %ul.list-unstyled.ms-0
        - @chapters.each do |chapter|
          %li
            = link_to chapter.name, chapter_path(chapter.slug)

- if @testimonials.any?
  .py-4.py-lg-5.bg-light
    .container
      .row.justify-content-md-center
        .col-md-8
          = render partial: 'members/testimonials'

.container.py-4.py-lg-5
  = render partial: 'shared/newsletter'
