= render partial: 'shared/title', locals: { title: "Coding is easier than you think", date: nil }
%section#banner
  .container
    .row
      .medium-8.columns
        %p.lead
          Join our weekly workshops in #{link_to "London", chapter_url("london")},  #{link_to "Brighton", chapter_url("brighton")} and #{link_to "Cambridge", chapter_url("cambridge")} to get to grips with the basics of programming and web development.
      .medium-offset-1.medium-3.columns
        =link_to "Sign up as a student", new_member_path(role:"student"), class: 'button round expand'
        =link_to "Sign up as a coach", new_member_path(role: "coach"), class: 'button round expand'


%section#chapter
  .events
    .row
      %hr
      .large-7.columns
        - if @upcoming_workshops.empty?
          %p
            There are no upcoming workshops.
          %p
            =link_to "View past events", events_url, class: "button round expand"

        - if @upcoming_workshops.present?
          %ul.no-bullet
            - @upcoming_workshops.each do |workshop|
              = render partial: 'events/event', locals: { event: workshop }
      .large-offset-1.large-4.medium-12.small-12.columns
        %a.twitter-timeline{href: "https://twitter.com/#{twitter}", "data-widget-id" => twitter_id}="Tweets by #{twitter}"
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  .row
    %hr
    .large-12.columns
      %h4 Sponsors
      %ul.small-block-grid-2.medium-block-grid-4.large-block-grid-5
        - @sponsors.each do |sponsor|
          %li
            = link_to image_tag(sponsor.avatar, class: "sponsor-logo", alt: sponsor.name), sponsor.website
