= render partial: 'shared/title', locals: { title: "Coding is easier than you think", date: nil }
%section#banner
  .row
    .medium-12.columns
      %p.lead.text-center
        = raw t("dashboard.join_workshops_in")
        #{link_to "London", chapter_url("london")}, #{link_to "Brighton", chapter_url("brighton")} and #{link_to "Cambridge", chapter_url("cambridge")}
        = t("dashboard.workshops_goal")
  %br
  .row
    .medium-offset-2.medium-4.columns
      =link_to t("Students"), new_member_path(role:"student"), class: 'button round expand'
    .medium-4.columns
      =link_to t("Coaches"), new_member_path(role: "coach"), class: 'button round expand'
%br

- if @testimonials.any?
  %section.testimonials
    = render partial: 'members/testimonials'

%section#chapter
  .events
    .row
      .large-12.columns
        %h4= t("Events")
        %hr
        - if @upcoming_workshops.empty?
          %p
            t("no_upcoming_events")
          %p
            =link_to t("view_past_events"), events_url(anchor: 'past'), class: "button round expand"

        - if @upcoming_workshops.present?
          %ul.no-bullet
            - @upcoming_workshops.each do |workshop|
              = render partial: 'events/event', locals: { event: workshop }

  .row
    .large-12.columns
      %h4
        = t("latest_sponsors")
        %small.subheader
          = link_to t("view_all"), sponsors_path
      %hr

      %ul.small-block-grid-2.medium-block-grid-4.large-block-grid-5#sponsors
        - @sponsors.each do |sponsor|
          %li
            = link_to image_tag(sponsor.avatar, class: "sponsor-logo", alt: sponsor.name), sponsor.website
  %br
