= render partial: 'shared/title', locals: { title: "Coding is easier than you think", date: nil }
%section#banner
  .container
    .row
      .medium-12.columns
        %p
          Codebar is an initiative aiming to bridge the diversity gap in the tech industry by running free weekly coding workshops and other programming related events aimed at women, LGBTQ and people otherwise underrepresented.
        %p
          If you would like to attend our events as a student or help out as a coach just #{link_to "sign up", new_member_path}.
        %p
          Do you have any questions? Have a look at our #{link_to "FAQ", faq_path}.

      .row
        .medium-12.columns
          = render partial: 'shared/social_media'

%section
  .events
    .row
      %hr
      .large-12.columns
        %h4 Upcoming events
        .row{ "data-equalizer" => "" }
          - if @meeting.present?
            .large-4.medium-6.columns
              %ul.pricing-table.meeting{ "data-equalizer-watch" => '' }
                %li.title=@meeting.title
                %li.description
                  = humanize_date_with_time(@meeting.date_and_time)
                %li.bullet-item
                  - @meeting.meeting_talks.each do |talk|
                    =talk.title
                    %br
                %li.cta-button
                  =link_to "RSVP", @meeting, class: "button round tiny"

          - if @next_session.present?
            .large-4.medium-6.columns
              %ul.pricing-table.workshop{ "data-equalizer-watch" => '' }
                %li.title Coding Workshop
                %li.description
                  = humanize_date_with_time(@next_session.date_and_time)
                %li.bullet-item
                  = link_to @next_session.host.name, @next_session.host.website
                  %br
                  = AddressDecorator.decorate(@next_session.host.address).to_html
                %li.cta-button
                  = link_to "RSVP", "/auth/github", class: "button round tiny"

          - if @next_course.present?
            .large-4.medium-6.columns
              %ul.course.pricing-table{ "data-equalizer-watch" => '' }
                %li.title= @next_course.title
                %li.description
                  = humanize_date_with_time(@next_course.date_and_time)
                %li.bullet-item
                  = @next_course.short_description.html_safe
                %li.cta-button
                  =link_to "View details", @next_course, class: "button round tiny "

  .row
    %hr
    .large-12.columns
      %h4 Sponsors
      %ul.small-block-grid-2.medium-block-grid-4.large-block-grid-5
        - @sponsors.each do |sponsor|
          %li
            = link_to image_tag(sponsor.avatar, class: "sponsor-logo", alt: sponsor.name), sponsor.website
