- title t('homepage.title')

%div.homepage-hero.d-flex.align-items-center
  %row.container.d-flex
    %div.col-md-4.offset-md-1.p-3.text
      %p= raw t('homepage.intro')

%row
  %div.col-md-4.align-self-center
    %p= raw t('homepage.explanation')

-# %section.stripe.reverse
-#   .row
-#     .medium-offset-1.medium-10.columns
-#       %p.lead
-#         = t('homepage.explanation')


%section.stripe.reverse
  .row
    .large-4.columns
      .text-center
        %h4
          = t('homepage.participate.students_title')
      %p
        = t('homepage.participate.students_explanation_p1')
      %p
        = t('homepage.participate.students_explanation_p2')
      .text-center
        = link_to t('homepage.participate.students_button'), new_member_path, class: 'button'

    .large-4.columns
      .text-center
        %h4
          = t('homepage.participate.coaches_title')
      %p
        = raw t('homepage.participate.coaches_explanation_p1')
      %p
        = t('homepage.participate.coaches_explanation_p2')
      .text-center
        = link_to t('homepage.participate.coaches_button'), new_member_path, class: 'button'

    .large-4.columns
      .text-center
        %h4
          = t('homepage.participate.workshop_title')
      %p
        = t('homepage.participate.workshop_explanation_p1')
      %p
        = t('homepage.participate.workshop_explanation_p2')
      .text-center
        = mail_to "hello@codebar.io", t('homepage.participate.workshop_button'), subject: t('homepage.participate.workshop_email_subject'), class: 'button'

%section.stripe.reverse
  = render partial: 'shared/donation_platforms'

%section.stripe.reverse
  .row
    .large-8.columns
      - if @upcoming_workshops.empty?
        %p
          = t('events.no_upcoming_events')
        %p
          =link_to t('events.view_past_events'), events_url(anchor: 'past'), class: 'button round expand'

      - if @upcoming_workshops.any?
        %h2.h3 Upcoming Events
        - @upcoming_workshops.each do |date, workshops|
          .grouped-events
            %h3.date= date
            = render workshops

    .large-4.columns
      %h3
        = t('homepage.chapters.title')
      %ul.no-bullet
        - @chapters.each do |chapter|
          %li
            = link_to chapter.name, chapter_path(chapter.slug)

- if @testimonials.any?
  %section.stripe.reverse
    .row
      .medium-offset-1.medium-10.columns
        = render partial: 'members/testimonials'
