- title t('homepage.title')

.homepage-hero.d-flex.align-items-center
  .container.d-flex
    .col-md-4.offset-md-1.p-3.text
      %p= raw t('homepage.intro')

.container-fluid.py-4.py-lg-5.bg-light
  .row.justify-content-md-center
    .col-md-8
      %p.lead.mb-0= raw t('homepage.explanation')

.container-fluid.py-4.py-lg-5
  .row
    .col-md-4.mb-4.mb-md-0
      .card.h-100.text-md-center.border-0
        .card-body
          %h3.h4.card-title
            = t('homepage.participate.students_title')
          %p.card-text
            = t('homepage.participate.students_explanation_p1')
          %p.card-text
            = t('homepage.participate.students_explanation_p2')
        .card-footer.border-0.bg-transparent
          = link_to t('homepage.participate.students_button'), new_member_path, class: 'btn btn-primary'

    .col-md-4.mb-4.mb-md-0
      .card.h-100.text-md-center.border-0
        .card-body
          %h3.h4.card-title
            = t('homepage.participate.coaches_title')
          %p.card-text
            = raw t('homepage.participate.coaches_explanation_p1')
          %p.card-text
            = t('homepage.participate.coaches_explanation_p2')
        .card-footer.border-0.bg-transparent
          = link_to t('homepage.participate.coaches_button'), new_member_path, class: 'btn btn-primary'

    .col-md-4
      .card.h-100.text-md-center.border-0
        .card-body
          %h3.h4.card-title
            = t('homepage.participate.workshop_title')
          %p.card-text
            = t('homepage.participate.workshop_explanation_p1')
          %p.card-text
            = t('homepage.participate.workshop_explanation_p2')
        .card-footer.border-0.bg-transparent
          = mail_to 'hello@codebar.io', t('homepage.participate.workshop_button'), subject: t('homepage.participate.workshop_email_subject'), class: 'btn btn-primary'

.container-fluid.py-4.py-lg-5.bg-light
  = render partial: 'shared/donation_platforms'

.container-fluid.py-4.py-lg-5
  .row
    .col-lg-8
      - if @upcoming_workshops.empty?
        %p
          = t('events.no_upcoming_events')
        %p
          = link_to t('events.view_past_events'), events_url(anchor: 'past'), class: 'btn btn-primary btn-block'
      - if @upcoming_workshops.any?
        %h2.h3.mb-4= t('homepage.events.upcoming')
        - @upcoming_workshops.each do |date, workshops|
          %h3.h5= date
          = render workshops

    .col-lg-4.pl-lg-5
      %h3
        = t('homepage.chapters.title')
      %ul.list-unstyled.ml-0
        - @chapters.each do |chapter|
          %li
            = link_to chapter.name, chapter_path(chapter.slug)

- if @testimonials.any?
  .container-fluid.py-4.py-lg-5.bg-light
    .row.justify-content-md-center
      .col-md-8
        = render partial: 'members/testimonials'

%section.container-fluid.py-4.py-lg-5
  = render partial: 'shared/newsletter'
