%section#main
  .left-panel
    .titlebox.mission
      %h2
        Our mission
      .dot

    .description
      %p.lead
        Making tech more diverse and welcoming by bringing people together and helping teach programming skills.
      %p.lead
        We organise free sessions in HTML, CSS, Javascript, Ruby and offer guidance and advice on a variety of programming related topics. Our target is to help groups of people that are underrepresented in the tech industry.
      %p.lead
        All these, with the help of our
        =link_to "amazing coaches", wall_of_fame_path
        \.
      %p.lead
        %b
          Before you continue, you should read our
          =link_to "code of conduct", "#code-of-conduct"

    - if @meeting.present?
      .titlebox.meeting
        %h2
          =link_to @meeting.title, @meeting
        .dot
      .description
        - @meeting.meeting_talks.each do |talk|
          .talk
            .speaker
              =link_to talk.speaker.full_name, twitter_url_for(talk.speaker.twitter)

            .information
              =talk.title
              - if talk.description.present?
                %br
                %small=talk.description
        %h6
          = "#{l(@meeting.date_and_time, format: :meeting_format)}"
          to
          = "#{l(@meeting.end_time, format: :time)}"
        .sub-block
          =link_to "Read more and RSVP", @meeting, class: 'member-button'

    - if @next_session.present?
      .titlebox.session
        %h2
          Next session
        .dot

      .description
        .details-block
          %h3= @next_session.title
          %h5= @next_session.description
          %h6
            = "on #{l(@next_session.date_and_time, format: :website_format)}"
        %p.lead.move-top
          We run sessions weekly where we offer guided help in going through HTML/CSS, Javascript and Ruby tutorials - and not just that! There, you will also get the opportunity to meet other people interested in coding and pair with them. If you would like to attend as a student or help out as a coach you can do so by signing up.
        - unless logged_in?
          .sub-block
            = link_to "Sign up to the session", "/auth/github", class: 'member-button'

    - if @next_course.present?
      .titlebox.course
        %h2
          Next course
        .dot

      .description
        .details-block
          %h3= @next_course.title
          %h5
            Course run by
            %b=link_to @next_course.tutor.full_name, twitter_url_for(@next_course.tutor.twitter)
          %h6= "on #{l(@next_course.date_and_time, format: :website_format)}"
        %p.lead.move-top
          = @next_course.short_description.html_safe
          %small
            =link_to "read more about the course", @next_course
        - unless logged_in?
          .sub-block
            =link_to "Sign up to the course", new_member_path, class: 'member-button'


    .titlebox#code-of-conduct
      %h2
        Code of conduct
      .dot

    .description
      %p.lead
        Our events are dedicated to providing a harassment-free experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion.
      %p.lead
        We do not tolerate harassment of our members in any form. Sexual language and imagery is not appropriate for any of our events, including talks, workshops, parties, Twitter and any other online media. Members violating these rules may be sanctioned or expelled from the event and any future events at the discretion of the organisers.
        %br
        %br
        =link_to "Read the full version", code_of_conduct_path

  .right-panel
    %ul.social
      %li
        =link_to image_tag("github.png", width: '33px'), "https://github.com/codebar"
      %li
        =link_to image_tag("twitter.png", width: '33px'), "https://twitter.com/by_codebar"
      %li
        =link_to image_tag("facebook.png", width: '33px'), "https://facebook.com/bycodebar"
    .right-block.support-us
      %h4 Support us
    .right-block.center
      %br
      %script{ :"data-gittip-username" => "by_codebar", :src => "//gttp.co/v1.js" }
      %br

    .right-block
      %br
      %h4 Sponsors & Hosts
    .right-block.sponsors
      %ul
        - @latest_sponsors.each do |sponsor|
          %li
            = link_to image_tag(sponsor.avatar, class: "sponsor-logo", alt: sponsor.name), sponsor.website

      .view-all
        = link_to "View all", "#sponsors", class: "sponsor-button"

    .right-block
      %br
      %h4 Gallery
    .right-block
      %ul.gallery
        %li
          =image_tag("pic1.jpg", height: '183px')
        %li
          =image_tag("pic2.jpg", height: '183px')
        %li
          =image_tag("pic3.jpg", height: '183px')

  %section#sponsors
    %ul
      - @sponsors.each do |sponsor|
        %li
          = link_to image_tag(sponsor.avatar, class: "sponsor-logo", alt: sponsor.name), sponsor.website
