= render partial: 'shared/title', locals: { title: "Coding is easier than you think", date: nil }
%section#banner
  .row
    .medium-12.columns
      %p.lead.text-center
        Join our  <i>free</i> weekly workshops in #{link_to "London", chapter_url("london")},  #{link_to "Brighton", chapter_url("brighton")} and #{link_to "Cambridge", chapter_url("cambridge")} to get to grips with the basics of programming and web development.
  %br
  .row
    .medium-offset-2.medium-4.columns
      =link_to "Students", new_member_path(role:"student"), class: 'button round expand'
    .medium-4.columns
      =link_to "Coaches", new_member_path(role: "coach"), class: 'button round expand'
%br

- if @testimonials.any?
  %section.testimonials
    = render partial: 'members/testimonials'

%section#chapter
  .events
    .row
      .large-12.columns
        %h4 Events
        %hr
        - if @upcoming_workshops.empty?
          %p
            There are no upcoming events.
          %p
            =link_to "View past events", events_url(anchor: 'past'), class: "button round expand"

        - if @upcoming_workshops.present?
          %ul.no-bullet
            - @upcoming_workshops.each do |workshop|
              = render partial: 'events/event', locals: { event: workshop }

  .row
    .large-12.columns
      %h4
        Latest Sponsors
        %small.subheader
          = link_to "View all", sponsors_path
      %hr

      %ul.small-block-grid-2.medium-block-grid-4.large-block-grid-5#sponsors
        - @sponsors.each do |sponsor|
          %li
            = link_to image_tag(sponsor.avatar, class: "sponsor-logo", alt: sponsor.name), sponsor.website
  %br
