= render partial: 'shared/title', locals: { title: "Sponsoring", date: nil }
%section#banner
  .row
    .large-12.columns
      %p
        Codebar has now been running for over 6 months and it has gone from strength to strength. There are over 300 students signed up and more than 70 developers offering their time for free on a regular basis. We started by running workshops in London and have recently expanded to Brighton with the help of #{link_to "Rosa Fox", "http://twitter.com/rosaemerald"} and #{link_to "Tom Ashworth", "http://twitter.com/phuunet"}. Soon we will be running workshops in Edinburgh and Glasgow.
      %p
        We need money to keep Codebar free and be able to reach out to more places. If you would like to partner up with us and offer long-term support or just to make a substantial donation, #{mail_to "despo@codebar.io", "send me an email"}.

      %p
        Other ways to help include: providing space, or getting food for one of our events. Have a look at our #{link_to "events calendar", "http://calendar.codebar.io"} and send me an email to book a date.

      %p
        Despo Pentara, Founder
