=render partial: 'shared_mailers/header', locals: { title: "Workshop Attendance Confirmation" }
%body{ bgcolor: "#FFFFFF" }

  =render partial: 'shared_mailers/body_header', locals: { title: "Workshop Attendance Confirmation" }

  %table{ class: "body-wrap"}
    %tr
      %td
      %td{ class: "container", bgcolor: "#FFFFFF" }

        .content
          %table
            %tr
              %td
                %h3 Hi, #{@member.name}
                %p.lead
                  - if @waiting_list
                    A spot became available and your attendance has now been confirmed.
                  - else
                    Thank you for confirming you attendance.
                  See you at our workshop!
                  %p
                    Please remember that removing the calendar entry will not cancel your invitation RSVP.



        .content
          %table{ bgcolor: "#FFFFFF" }
            %tr
              %td.small{ width: "30%", style: "vertical-align: top; padding-right:10px;"}
                =image_tag(@workshop.venue.avatar)
              %td
                %h4
                  Workshop
                  %small #{humanize_date_with_time(@session.date_and_time, @session.time)}
                %p
                  #{@session.host.name}
                  %br
                  #{@host_address.to_html}
                = link_to "Who else will be there?", full_url_for(invitation_url(@invitation)), class: 'btn'

        .content
          %table
            %tr
              %td
                %p
                  If you have any trouble finding the venue, give us a call
                  - @workshop.organisers.each do |organiser|
                    %p
                      = organiser.full_name
                      =organiser.mobile
                      %br

        .content
          = render partial: 'shared_mailers/social'
      %td

  = render partial: 'shared_mailers/footer'
