<h2 style="font-weight: 400; font-size: 24px; border-bottom:1px solid #ececec; padding-bottom: 15px; margin-bottom:35px">Hi <%= @member.name %></h2>

<% if @invitation.role.eql?("Coach") %>
  <p style="font-weight: 300; font-size: 16px; color: #2e2e2e; margin-bottom: 50px;">Thanks for offering to coach, this means a lot to us. See you at the workshop!</p> 
<%  elsif @invitation.role.eql?("Student") %>
  <p style="font-weight: 300; font-size: 16px; color: #2e2e2e; margin-bottom: 50px;"> Thank you for confirming you attendance. See you at our workshop!</p> 
<% end %>

<div style="display: block;">
  <div style="width: 340px; padding-right: 40px; display: inline-block; vertical-align: top;">
    <h2 style="color: #2d183d; font-size: 27px; font-weight: 500;letter-spacing: 0.03em; margin-bottom: 0;">Coding workshop by Codebar</h2>
    <p style="font-size: 16px; font-weight: 300; margin-top: 7px;">on <b style="color: #555555;font-size: 16px; font-weight: 600; margin-top: 0;"><%= l(@session.date_and_time, format: :email)%></b></p>
    <div style="width: 90%; font-size: 18px; padding: 5px 14px; text-align: center; margin: 31px 0 25px;">
    </div>
  </div>

  <div style="width:150px; border-left: 1px solid #ececec; padding-left: 50px; display: inline-block;">
    <h3 style="color: #434950; font-size: 17px;font-weight: 600;letter-spacing: 0.02em;">Location</h3>
    <h2 style="color: #2D183D; font-weight: 400; "><%= @session.host.name %></h2>
    <p style="color: #434950; font-size: 16px; font-weight: 400; padding-bottom: 15px;">
    <%= @host_address.to_html %>
    </p>
    <a href="https://maps.google.com/maps?q=<%= @host_address.postal_code %>" style="color: a369d5 text-decoration: underline"> view map </a>
    <div style="width:120px; height:41px; margin-top: 33px;"><%=image_tag(@session.host.avatar, width: "120px") %></div>
  </div>

</div>

<div style="padding-top: 10px;">
  If you have any trouble finding the venue give us a call
  <br/>
  Despo Pentara <b>07402887214</b>
  <br/>
</div>
<div style="clear:both; width: 100%; height: 10px;"></div>
