=render partial: 'shared_mailers/header', locals: { title: "Workshop Coach Invitation" }
%body{ bgcolor: "#FFFFFF" }

  =render partial: 'shared_mailers/body_header', locals: { title: "Workshop Coach Invitation" }

  %table{ class: "body-wrap"}
    %tr
      %td
      %td{ class: "container", bgcolor: "#FFFFFF" }

        .content
          %table
            %tr
              %td
                %h3 Hi #{@member.name}
                %p.lead
                  We are looking for coaches for the workshop that will take place on #{humanize_date_with_time(@session.date_and_time, @session.time)}

                %p At the workshop you will be guiding students while they work through our tutorials. Or in other programming related areas that they request help in.

                %p You can find all our tutorials at #{link_to "http://codebar.github.io/tutorials", "http://codebar.github.io/tutorials/"}. If you would like to improve any of the existing content, you can issue a pull request to our #{link_to "GitHub repository", "https://github.com/codebar/tutorials"}

                %p Before attending, make sure you read and understand our #{link_to "code of conduct", "http://codebar.io/code-of-conduct"}. We have a zero tolerance policy and expect everyone to behave appropriately. You should also go through our #{link_to "How to be an effective teacher", "htpp://codebar.io/effective-teacher-guide"}. If you have anything to add to it, please open a pull request or an issue.
                
                %p.callout It would be awesome if you could also #{link_to "join the chat on gitter", "https://gitter.im/codebar/tutorials"} to offer help and guidance outside the workshops.

        .content
          %table{ bgcolor: "#FFFFFF" }
            %tr
              %td.small{ width: "30%", style: "vertical-align: top; padding-right:10px;"}
                =image_tag(@session.host.avatar)
              %td
                %h4
                  Workshop
                  %small #{humanize_date_with_time(@session.date_and_time, @session.time)}
                %p
                  %b Venue
                  #{@session.host.name}
                =link_to "View invitation and RSVP", full_url_for(invitation_url(@invitation)), class: 'btn'

        .content
          = render partial: 'shared_mailers/social'
      %td

  = render partial: 'shared_mailers/footer'
