=render partial: 'shared_mailers/header', locals: { title: "Workshop invitation" }
%body{ bgcolor: "#FFFFFF" }

  =render partial: 'shared_mailers/body_header', locals: { title: "Workshop invitation" }

  %table{ class: "body-wrap"}
    %tr
      %td
      %td{ class: "container", bgcolor: "#FFFFFF" }

        .content
          %table
            %tr
              %td
                %h3 Hi, #{@member.name}
                %p.lead
                  If you will be attending the workshop please RSVP as we need to know who is coming to make sure we have enough coaches and food around.
                %p
                  In our workshops, you can work through any of our #{link_to "tutorials", "http://codebar.github.io/tutorials" } or get help and guidance on other technologies or your personal projects. We believe that everyone should be entitled to free learning and our community has #{ link_to "a lot of devoted developers", full_url_for(coaches_url)} who help out weekly by coaching.
                %p You will also get the opportunity to meet other people interested in coding and collaborate with them.

                %p.callout If you are working through the tutorials outside our workshop or need any other help or advice #{ link_to "join the chat on gitter", "https://gitter.im/codebar/tutorials"}.


        .content
          %table{ bgcolor: "#FFFFFF" }
            %tr
              %td.small{ width: "30%", style: "vertical-align: top; padding-right:10px;"}
                =image_tag(@session.host.avatar)
              %td
                %h4
                  Workshop
                  %small= humanize_date_with_time(@session.date_and_time, @session.time)
                %p
                  %b Venue
                  #{@session.host.name}
                =link_to "View invitation and RSVP", full_url_for(invitation_url(@invitation)), class: 'btn'

        .content
          = render partial: 'shared_mailers/social'

      %td

  = render partial: 'shared_mailers/footer'
