=render partial: 'shared_mailers/header', locals: { title: "Workshop Attendance Reminder" }
%body{ bgcolor: "#FFFFFF" }

  =render partial: 'shared_mailers/body_header', locals: { title: "Workshop Attendance Reminder" }

  %table{ class: "body-wrap"}
    %tr
      %td
      %td{ class: "container", bgcolor: "#FFFFFF" }

        .content
          %table
            %tr
              %td
                %h3 Hi, #{@member.name}
                %p.lead
                  This is a quick email to remind you that you have signed up for tomorrow's workshop.
                %p
                  If you can no longer make it, please cancel your invitation <strong>before 15:00</strong> on the day of the event.
                  <a href="https://codebar.io/student-guide#attendance">We have a three-strikes attendance policy for no-shows.</a>
                %p
                  <strong>Please do not turn up before #{(@workshop.date_and_time).strftime("%H:%M")}.</strong> If you are early, please wait in a nearby cafe.


        .content
          %table{ bgcolor: "#FFFFFF" }
            %tr
              %td.small{ width: "30%", style: "vertical-align: top; padding-right:10px;"}
                =image_tag(@workshop.host.avatar, alt: @workshop.host.name)
              %td
                %h4
                  Workshop
                  %small= humanize_date(@workshop.date_and_time, with_time: true)
                %p
                  #{@workshop.host.name}
                  %br
                  #{@host_address.to_html}
                = link_to "Update your attendance", full_url_for(invitation_url(@invitation)), class: 'btn'

        .content
          %table
            %tr
              %td
                %p
                  If you have any trouble finding the venue call
                  - @workshop.organisers.each do |organiser|
                    = organiser.full_name
                    =organiser.mobile
                    %br

        .content
          = render partial: 'shared_mailers/social'
      %td

  = render partial: 'shared_mailers/footer'
