<h2 style="font-weight: 400; font-size: 24px; border-bottom:1px solid #ececec; padding-bottom: 15px; margin-bottom:35px">Hi <%= @member.name %></h2>

<h3 style="font-weight: 600; font-size: 17px; letter-spacing: 0.02em; color: #111111">We'd like to let you know that there's been a last minute change to <%= @workshop.title %>!</h3>
<p style="font-weight: 300; font-size: 16px; color: #2e2e2e; margin-bottom: 50px;">Below you can find the updated workshop details:</p>


<h2 style="color: #2d183d; font-size: 27px; font-weight: 500;letter-spacing: 0.03em; margin-bottom: 0;"><%= @workshop.title %> by codebar</h2>
<small><%= @workshop.description %></small>
<p style="font-size: 16px; font-weight: 300; margin-top: 7px;">on <b style="color: #555555;font-size: 16px; font-weight: 600; margin-top: 0;"><%= l(@workshop.date_and_time, format: :email)%></b></p>

<div style="display: inline-block;">
  <div style="min-width: 200px; padding-right: 40px; display: inline-block; vertical-align: top;">

    <h3 style="color: #434950; font-size: 17px;font-weight: 600;letter-spacing: 0.02em;">Location</h3>
    <h2 style="color: #2D183D; font-weight: 400; "><%= @workshop.host.name %></h2>
    <p style="color: #434950; font-size: 16px; font-weight: 400; padding-bottom: 15px;">
    <%= @host_address.to_html %>
    </p>
    <a href="https://maps.google.com/maps?q=<%= @host_address.postal_code %>" style="color: a369d5 text-decoration: underline"> view map </a>
    <div style="width:120px; height:41px; margin-top: 33px;">
      <%= link_to full_url_for(@sponsor.website) do %>
        <%=image_tag(@workshop.host.avatar, width: "120px", alt: @workshop.host.name) %>
      <% end %>
    </div>
  </div>

</div>

<% if @sponsor %>
  <div style="width:150px; border-left: 1px solid #ececec; padding-left: 50px; display: inline-block;">
    <div style="width: 340px; padding-right: 40px; display: inline-block; vertical-align: top;">

      <h3 style="color: #434950; font-size: 17px;font-weight: 600;letter-spacing: 0.02em;">Sponsor</h3>
      <h2 style="color: #2D183D; font-weight: 400; "><%= @sponsor.name %></h2>
      <div style="width:120px; height:41px; margin-top: 33px;">
        <%= link_to full_url_for(@sponsor.website) do %>
          <%=image_tag(@sponsor.avatar, width: "120px", alt: @sponsor.name) %></div>
      <% end %>
    </div>

  </div>
<% end %>

<div style="clear:both; width: 100%; height: 10px;"></div>
