= render partial: 'shared_mailers/header', locals: { title: "Workshop #{@workshop.chapter.name} Student Invitation" }
%body{ bgcolor: '#FFFFFF' }

  = render partial: 'shared_mailers/body_header', locals: { title: "Workshop #{@workshop.chapter.name} Student Invitation" }

  %table{ class: 'body-wrap'}
    %tr
      %td
      %td{ class: 'container', bgcolor: '#FFFFFF' }
        .content
          %table
            %tr
              %td
                %h3 Hi #{@member.name},
                %p.lead
                  We’d love to see you at the next #{@workshop.chapter.name} workshop! Don’t miss this chance to secure your spot, enjoy some light refreshments, and work one-to-one or in a small group with a dedicated coach.
                %p At the workshop, you’ll have the opportunity to:
                %ul
                  %li Work through our #{link_to 'tutorials', 'http://codebar.github.io/tutorials' } or get guidance on your personal projects.
                  %li Connect and collaborate with others who share your passion for coding.
                  %li Be part of a supportive community that believes learning should be accessible to everyone.
                %p Our workshops are powered by a network of dedicated developers who volunteer their time to coach and guide participants like you.
                %p We can’t wait to welcome you and support you on your coding journey. RSVP now, and we’ll see you there!
                
                %p <strong>Please note:</strong> We do not accept any RSVPs over email.

                %p.callout If you are working through the tutorials outside our workshop, or need any other help or advice #{ link_to 'join the codebar Slack', 'https://slack.codebar.io'}.

        .content
          %table{ bgcolor: '#FFFFFF' }
            %tr
              %td{ width: '60%', style: 'vertical-align: top; padding-right: 20px;' }
                %h4
                  Workshop
                  %br
                  %small #{humanize_date(@workshop.date_and_time, @workshop.ends_at, with_time: true)}
                = link_to 'View invitation and RSVP', full_url_for(invitation_url(@invitation)), class: 'btn'
              %td{ width: '40%', style: 'vertical-align: top;'}
                %h4
                  Venue
                  %br
                  %small= @workshop.host.name
                  %br
                  %small= @workshop.address
                = image_tag(@workshop.host.avatar.url, alt: @workshop.host.name)

        .content
          = render partial: 'shared_mailers/social', locals: { workshop: @workshop }
      %td

  = render partial: 'shared_mailers/footer'
