=render partial: 'shared_mailers/header', locals: { title: "Workshop #{@workshop.chapter.name} Coach Invitation" }
%body{ bgcolor: '#FFFFFF' }

  =render partial: 'shared_mailers/body_header', locals: { title: "Workshop #{@workshop.chapter.name} Coach Invitation" }

  %table{ class: 'body-wrap'}
    %tr
      %td
      %td{ class: 'container', bgcolor: '#FFFFFF' }

        .content
          %table
            %tr
              %td
                %h3 Hi #{@member.name},
                %p.lead We’re excited to invite you to our next #{@workshop.chapter.name} workshop and would love for you to join us as a coach.

                %p As a coach, you’ll guide students as they work through one of our #{link_to 'tutorials', 'http://codebar.github.io/tutorials' } or seek help on a personal project. Rest assured, we’ll match you with a student based on your expertise and experience, ensuring a fulfilling and impactful coaching session for everyone involved.

                %p You can find all of our tutorials at #{link_to 'http://tutorials.codebar.io/', 'http://tutorials.codebar.io/'}. If you spot areas for improvement, we’d appreciate your contributions via a pull request to our #{link_to 'GitHub repository', 'https://github.com/codebar/tutorials'}

                %h5 Before the Workshop

                %ul
                  %li Please read and understand our #{link_to 'Code of Conduct', 'http://codebar.io/code-of-conduct'}. We are committed to creating a safe and inclusive environment, with zero tolerance for negative behavior.
                  %li Review our guide on #{link_to 'How to be an effective teacher', 'http://codebar.io/effective-teacher-guide'} to make the most of your coaching experience.
                 
                %p <strong>Please note:</strong> We do not accept any RSVPs over email.

                %p.callout #{link_to 'Join us on Slack', 'https://slack.codebar.io'} to offer help and guidance outside the workshops.

        .content
          %table{ bgcolor: '#FFFFFF' }
            %tr
              %td{ width: '60%', style: 'vertical-align: top; padding-right: 20px;' }
                %h4
                  Workshop
                  %br
                  %small #{humanize_date(@workshop.date_and_time, @workshop.ends_at, with_time: true)}
                = link_to 'View invitation and RSVP', full_url_for(invitation_url(@invitation)), class: 'btn'
                - if @workshop.description.present?
                  %p
                    %strong Description:
                    = @workshop.description
              %td{ width: '40%', style: 'vertical-align: top;'}
                %h4
                  Venue
                  %br
                  %small= @workshop.host.name
                = image_tag(@workshop.host.avatar.url, alt: @workshop.host.name)

        .content
          = render partial: 'shared_mailers/social', locals: { workshop: @workshop }
      %td

  = render partial: 'shared_mailers/footer'
