= render partial: 'shared_mailers/header', locals: { title: 'Waiting List' }
%body{ bgcolor: '#FFFFFF' }

  = render partial: 'shared_mailers/body_header', locals: { title: 'Waiting List spot available' }

  %table{ class: 'body-wrap'}
    %tr
      %td
      %td{ class: 'container', bgcolor: '#FFFFFF' }

        .content
          %table
            %tr
              %td
                %h3 Hi #{@member.name},
                %p.lead
                  A spot just opened up for the workshop. If you would like to attend, please RSVP.

        .content
          %table{ bgcolor: '#FFFFFF' }
            %tr
              %td
                %h4
                  Workshop
                  %small #{humanize_date(@workshop.date_and_time, with_time: true)}#{@workshop.ends_at.present? ? " - " + @workshop.ends_at.strftime('%H:%M') : ""}
                = link_to 'Update your attendance', full_url_for(invitation_url(@invitation)), class: 'btn'

        .content
          %table
            = render partial: 'shared_mailers/venue', locals: { host: @workshop.host, address: @host_address }
            %tr
              %td
                %p
                  If you have any trouble finding the venue, give one of the organisers a call:
                %ul
                  - @workshop.organisers.each do |organiser|
                    - if organiser.mobile.present?
                      %li
                        = organiser.full_name
                        = organiser.mobile

        .content
          = render partial: 'shared_mailers/social', locals: { workshop: @workshop }
      %td

  = render partial: 'shared_mailers/footer'
