- if @meeting.venue.present?
  %h4 Venue
  %strong= @meeting.venue.name
  %p= @host_address

  %h4 RSVP

  - if logged_in?
    - if @meeting.past?
      %p This event has already occurred.

    - elsif current_user.banned?
      %p Your invitations have been temporarily suspended.

    - elsif @meeting.attending?(current_user)
      %h5 You are attending this event.
      %strong
        = link_to "Can't make it anymore? Click here to cancel your spot.", meeting_cancel_path(meeting_id: @meeting.id, token: @invitation.token)

    - elsif @meeting.invitable && @meeting.not_full
      = link_to meeting_invitation_path(@meeting), class: 'button round' do
        = "Attend"

    - elsif !@meeting.not_full
      %h5 This event is now full.
      %strong To join the waitlist, please <a href="mailto:monthlies@codebar.io">email us</a>.

    - else
      %h5 This event is not open for RSVP.

  - else
    = link_to "Sign up", new_member_path, class: 'button'
    = link_to "Log in", redirect_path, class: 'button'
