%section.stripe.reverse
  .row
    .medium-12.columns
      %h2
        =@meeting.name
      %h3
        %small=humanize_date_with_time(@meeting.date_and_time)
      %p.lead= @meeting.description.html_safe

  .row
    .large-3.small-6.columns#host
      - if @meeting.venue.present?
        %h4 Venue
        %strong= @meeting.venue.name

  .row
    .large-10.columns
      - if @meeting.invitable

        - if @meeting.attending?(current_user)
          %h5 You are attending this event.
          %strong
            = link_to "Can't make it anymore?", meeting_cancel_path(meeting_id: @meeting.id, token: @invitation.token)
        - else
          = link_to meeting_invitation_path(@meeting), class: 'button round' do
            = "Attend"

