#note-modal.modal.fade{ 'aria-labelledby': 'modal-title', 'aria-hidden': 'true', role: 'dialog' }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#modal-title Add a note for #{@member.full_name}
        %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
          %span{ 'aria-hidden': 'true'} &times;
      .modal-body
        = simple_form_for [:admin, MemberNote.new], html: { class: 'form-inline' } do |f|
          = f.input :note, label: false, input_html: { rows: 3 }, placeholder: 'e.g. very enthusiastic student.'
          = f.hidden_field :member_id, value: @member.id
          .text-right
            = f.button :button, 'Save note', class: 'btn btn-primary mb-0'
