#profile
  = image_tag(@member.avatar(200), title: @member.full_name, alt: @member.full_name)
  %span.d-block= @member.full_name
  %span.d-block= mail_to @member.email, @member.email
  %span.d-block= @member&.mobile
  %span.d-block
    %p.lead= @member.about_you

  - if @member.skills.any?
    .mb-4
      %h5 Skills
      - @member.skills.each do |skill|
        .badge.bg-success= skill.name

  - if @workshop_attendances.positive? || @meeting_rsvps.positive? || @event_rsvps.positive?
    .attendance-summary.mt-4
      %h5 Attendance summary
      %ul.list-unstyled.ml-0
        - if @workshop_attendances.positive?
          %li
            .badge.rounded-pill.bg-secondary
              #{@workshop_attendances}
            workshops

        - if @meeting_rsvps.positive?
          %li
            .badge.rounded-pill.bg-secondary
              #{@meeting_rsvps}
            meetings

        - if @event_rsvps.positive?
          %li
            .badge.rounded-pill.bg-secondary
              #{@event_rsvps}
            events

  - if @member.groups.any?
    %h5 Groups
    %ul.list-unstyled.ml-0#subscriptions
      - @member.groups.each do |group|
        %li
          = link_to [:admin, group] do
            #{group.name} (#{group.chapter.name})
          = link_to admin_member_update_subscriptions_path(member_id: @member, group: group), data: {confirm: "Clicking OK will remove this user from this subscription. This cannot be undone. Are you sure?"} do
            %span.fas.fa-times
  - else
    .badge.bg-primary.mb-4.mb-md-0 #{@member.name} is not subscribed to any chapters
