#admin-member
  = render 'actions'
  .container.mb-4
    .row
      .col-12.col-md-3
        = render 'profile'
      .col-12.col-md-9
        %ul.list-unstyled.m-0#actions
          - @actions.each do |action|
            %li= render action, action: action

          %li
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x.success
              %i.fa.fa-user-o.fa-stack-1x
            .details
              %strong Signed up
              = l(@member.created_at, format: :website_format)


        - if @member.upcoming_rsvps.any?
          %h3 Upcoming RSVPs
          - @member.upcoming_rsvps.each do |invitation|
            = render EventPresenter.decorate(invitation.event), invitation: invitation

        = link_to 'View all RSVPS', admin_member_events_path(@member), class: 'btn btn-primary btn-block'
