#admin-member
  = render 'actions'
  .container-fluid.mb-4
    .row
      .col-12.col-md-3
        = render 'profile'
      .col-12.col-md-9
        .row
          .col
            %ul.list-unstyled.m-1#actions
              - @actions.each do |action|
                %li.border-bottom.border-light.mb-3= render action, action: action

        .row.d-flex.align-items-center
          .col-2.col-md-1
            %span.fa-stack.text-success
              %i.fas.fa-circle.fa-stack-2x
              %i.fas.fa-user-plus.fa-stack-1x.fa-inverse
          .col-9.col-md-11
            %strong Signed up
            = l(@member.created_at, format: :website_format)


        - if @member.upcoming_rsvps.any?
          .row
            .col
              %h3.mt-4 Upcoming RSVPs
              - @member.upcoming_rsvps.each do |invitation|
                = render EventPresenter.decorate(invitation.event), invitation: invitation
        .row.mt-4
          .col
            = link_to 'View all RSVPS', admin_member_events_path(@member), class: 'btn btn-primary btn-block'
