#admin-member
  = render 'actions'
  %section
    .row
      .medium-3.columns
        = render 'profile'
      .medium-9.columns
        %ul.no-bullet#actions
          - @actions.each do |action|
            %li= render action, action: action

          %li
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x.success
              %i.fa.fa-user-o.fa-stack-1x
            .details
              %strong Signed up
              .date
                = l(@member.created_at, format: :website_format)


        - if @member.upcoming_rsvps.any?
          %h3 Upcoming RSVPs
          - @member.upcoming_rsvps.each do |invitation|
            = render EventPresenter.decorate(invitation.event), invitation: invitation

        = link_to 'View all RSVPS', admin_member_events_path(@member), class: 'button expand'
