.col.event
  .card.mb-4
    - if event.date_and_time.past?
      .attendance
        - if (invitation.is_a?(WorkshopInvitation) && invitation.attended?)
          .attended.p-1.bg-success
            Attended
        - elsif (invitation.is_a?(WorkshopInvitation) && !invitation.attended?)
          .not-attended.p-1.bg-danger
            Not attended
        - else
          .no-attendance.p-1.bg-danger
            No attendance data
    .card-body
      .d-md-flex.justify-content-md-between
        .order-md-2
          %span.badge.bg-success
            = invitation.role
          - if event.chapter
            %span.badge.bg-primary.mb-3.mb-md-0
              = event.chapter.name
        .order-md-1
          %h3.h5
            = link_to event.to_s, [:admin, event]
          .mb-3
            %p.mb-0
              %i.far.fa-calendar
              = event.date
            %p
              %i.far.fa-clock
              = event.time
      - if event.organisers.any?
        .d-md-flex.align-items-md-center
          - event.organisers.each do |organiser|
            = link_to twitter_url_for(organiser.twitter), class: 'border-0 d-inline-block mx-1' do
              = image_tag(organiser.avatar(26), class: 'rounded-circle', title: organiser.full_name, alt: organiser.full_name)
