- if @event.invitations.any?
  .row
    .large-12.columns
      - if @event.invitations.any?
        .panel
          %p
            <strong>#{@event.invitations.count}</strong> members have been invited to this event.
            %br
            <strong>#{@attending_students.count}</strong> are attending as students and <strong>#{@attending_coaches.count}</strong> as coaches.
  .row
    .medium-6.columns
      %h4
        Students
        %label.label.round.secondary #{@attending_students.count}#{(" of " + @event.venue.seats.to_s) if @event.venue.present?}
      =render partial: 'admin/events/attendances', locals: { invitations: @attending_students }
    .medium-6.columns
      .row
        %h4
          Coaches
          %label.label.round.secondary #{@event.attending_coaches.count}#{(" of " + @event.venue.coach_spots.to_s) if @event.venue.present?}
      =render partial: 'admin/events/attendances', locals: { invitations: @attending_coaches }

