.row.mb-4
  .col
    .card.border-info
      .card-body
        %p.mb-0
          <strong>#{@event.invitations.count}</strong> members have been invited to this event.
          %br
          <strong>#{@attending_students.count}</strong> are attending as students and <strong>#{@attending_coaches.count}</strong> as coaches.

.row
  .col-12.col-md-6
    %h4 Students
    = render partial: 'admin/events/attendances', locals: { invitations: @attending_students }
  .col-12.col-md-6
    %h4 Coaches
    = render partial: 'admin/events/attendances', locals: { invitations: @attending_coaches }
