%section#banner
  .row
    .medium-12.columns
      %h2 Edit Event

      = simple_form_for [:admin, @event] do |f|
        .row
          .large-6.columns
            .row
              .large-12.columns
                = f.input :name
              .large-12.columns
                = f.input :slug
            .row
              .large-6.columns
                = f.input :date_and_time, as: :string, required: true, label: "Date", input_html: { data: { value: @event.date_and_time } }
              .large-6.columns
                .row
                  .large-12.columns
                    = f.input :begins_at, as: :string, required: true, input_html: { data: { value: @event.date_and_time.time }}
                  .large-12.columns
                    = f.input :ends_at, as: :string, required: true, input_html: { data: { value: @event.ends_at }}
          .large-6.columns
            .row
              = f.input :coach_spaces
            .row
              = f.input :student_spaces
        .row
          .large-12.columns
            = f.input :description, as: :text
        .row
          .large-12.columns
            = f.input :schedule
        .row
          .large-12.columns
            = f.input :info
        .row
          .large-3.columns
            = f.association :venue, input_html: { data: { placeholder: "Select sponsors" }}, required: true
        .row
          .large-3.columns
            = f.association :sponsors, input_html: { data: { placeholder: "Select sponsors" }}
        .row
          .large-6.columns
            %label Organisers
            = f.collection_select :organisers, Member.all, :id, :full_name, { selected: @event.organisers.map(&:id) }, { multiple: true }
        .row
          .large-12.columns.text-right
            = f.submit "Save", class: "button"


%br
