.icon-bar.five-up
  = link_to edit_admin_event_path(@event), class: 'item' do
    %i.fa.fa-pencil
    %label Edit

  - if !@event.date_and_time.future?
    = link_to '#', class: 'item disabled', title: 'The event has already taken place' do
      %i.fa.fa-send-o
      %label Invite
  - elsif @event.venue and @event.invitable?
    = link_to admin_event_invite_path(@event), method: :post, class: 'item' do
      %i.fa.fa-send-o
      %label Invite
  - else
    = link_to '#', class: 'item disabled', title: 'The event is not invitable.' do
      %i.fa.fa-send-o
      %label Invite

  = link_to admin_event_attendees_emails_path(@event, format: 'text'), class: 'item' do
    %i.fa.fa-at
    %label Emails

  = link_to admin_event_path(@event, format: 'csv'), class: 'item', title: 'CSV for labels' do
    %i.fa.fa-users
    %label Labels


%section
  .stripe.reverse
    .row
      .medium-12.columns
        %h2= @event.to_s
        %h3
          %small #{l(@event.date_and_time)} to #{l(@event.ends_at, format: :time) }

    .row
      - if @event.venue.present?
        .medium-6.columns
          %strong.label.round.primary #{@event.student_spaces} student spots, #{@event.coach_spaces} coach spots
          %br
          %br
          %strong Chapters
          %ul.inline-list
            - @event.chapters.each do |chapter|
              %li= link_to chapter.name, [:admin, chapter]

    .row
      .large-3.small-6.columns#host
        - if @event.venue.present?
          %h4 Venue
          %strong= @event.venue.name
          %br
          %small
            = @address.to_html
      .large-3.small-6.columns#sponsors
        - if @event.sponsors.any?
          %h4 Sponsors
          %ul.no-bullet
            - @event.sponsors.each do |sponsor|
              %li
                %span
                  = link_to sponsor.name, [:admin, sponsor]
      .large-6.small-12.columns
        %h4 Team
        - @event.organisers.each do |organiser|
          %span.has-tip{ 'data-tooltip': '', 'aria-haspopup': 'true', title: organiser.full_name }
            = image_tag(organiser.avatar(40), alt: organiser.full_name)

    %br
    .row
      .large-12.columns
        %p.lead= @event.description.html_safe
    - if @event.tito_url.present?
      .row
        .large-6.columns
          .row
            .large-12.columns
              %strong Student ticket url
              %p.lead= link_to @event.tito_url, @event.tito_url
          .row
            .large-12.columns
              - if @event.student_questionnaire.present?
                .row
                  .large-12.columns
                    %strong Student questionnaire
                    %p.lead= link_to @event.student_questionnaire, @event.student_questionnaire
              - if @event.coach_questionnaire.present?
                .row
                  .large-12.columns
                    %strong Coach questionnaire
                    %p.lead= link_to @event.coach_questionnaire, @event.coach_questionnaire

        .large-6.columns
          .panel
            %strong Webhook url for student tickets
            %p.lead= event_rsvp_url(@event)
            %small You can setup this up in ti.to unde <strong>Customise/Webhooks</strong>
    .row
      .large-6.columns
        %dl.accordion{ 'data-accordion': true }
          %dd.accordion-navigation
            = link_to 'Schedule', '#schedule'
            #schedule.content
              = dot_markdown(@event.schedule)

  #invitations.stripe.reverse
    = render partial: 'invitation_management'
