= simple_form_for [:admin, @meeting] do |f|
  .row
    .col-12
      = f.input :name, required: true
    .col-12.col-md-6
      = f.input :slug, required: true
    .col-12.col-md-6
      = f.input :local_date, as: :string, required: true, input_html: { data: { value: @meeting.date_and_time.try(:strftime, '%d/%m/%Y') } }
    .col-12.col-md-6
      = f.input :local_time, label: 'Starts at', as: :string, required: true, input_html: { data: { value: @meeting.time.try(:strftime, '%H:%M') } }
    .col-12.col-md-6
      = f.input :local_end_time, label: 'Ends at', as: :string, required: true, input_html: { data: { value: @meeting.ends_at.try(:strftime, '%H:%M') } }
    .col-12
      = f.input :description, placeholder: 'Supports HTML', as: :text, input_html: { rows: 5 }
    .col-12
      = f.input :spaces, as: :integer
    .col-12
      = f.association :venue, input_html: { data: { placeholder: 'Select venue' }}, required: true
    .col-12
      = f.input :organisers, collection: Member.all, label_method: :full_name, value_method: :id, selected: @meeting.organisers.map(&:id), input_html: { multiple: true }
    .col-12
      = f.input :chapters, collection: Chapter.all, label_method: :name, value_method: :id, selected: @meeting.chapters.map(&:id), input_html: { multiple: true }
    .col-12
      = f.input :invitable, as: :boolean, hint: 'Allow members to RSVP', hint_html: { class: 'ml-1' }
    .text-right
      = f.button :button, 'Save', class: 'btn btn-primary'
