.icon-bar.five-up
  = link_to invite_admin_meeting_path(@meeting), class: 'item', title: 'Invite' do
    %i.fa.fa-send-o
    %label Invite
  = link_to edit_admin_meeting_path(@meeting), class: 'item' do
    %i.fa.fa-pencil
    %label Edit
  = link_to attendees_emails_admin_meeting_path(@meeting, format: 'text'), class: 'item' do
    %i.fa.fa-at
    %label Emails
  = link_to admin_meeting_path(@meeting, format: 'csv'), class: 'item', title: 'CSV for labels' do
    %i.fa.fa-users
    %label Labels

%section
  .stripe.reverse
    .row
      .medium-12.columns
        %h2
          =@meeting.name
        %h3
          %small #{l(@meeting.date_and_time)}

    .row
      .medium-2.columns
        %p
          %strong #{@meeting.spaces} spaces

    .row
      .large-3.small-6.columns#host
        - if @meeting.venue.present?
          %h4 Venue
          %p
            %strong= @meeting.venue.name
          %strong Accessibility info
          - if @meeting.venue.accessibility_info.present?
            %p= @meeting.venue.accessibility_info
          - else
            %p This venue does not have accessibility information yet. Please update the sponsor entry with accessibility information.

      .large-3.small-12.columns
        %h4 Team
        - @meeting.organisers.each do |organiser|
          %span.has-tip{ 'data-tooltip': '', 'aria-haspopup': 'true',  title: organiser.full_name }
            = image_tag(organiser.avatar(40), alt: organiser.full_name)

      .large-3.columns
        %h4 Chapters
        - @meeting.chapters.each do |chapter|
          %div
            = chapter.name

    .row
      .large-8.columns
        %h4 Agenda
        %br
        = @meeting.description.html_safe

#invitations.stripe.reverse
  = render partial: 'invitation_management'
