.container-fluid.pt-3
  - if @feedback.any?
    .row
      .col
        = page_entries_info(@feedback, model: 'feedback')

    .row.mb-4
      - @feedback.each do |feedback|
        .col-12
          .card.mt-4
            .card-header.d-md-flex.justify-content-md-between
              .d-block= I18n.l(feedback.created_at, format: :date)
              .d-block= feedback.tutorial.title
              .d-block
                = image_tag(feedback.coach.avatar(24), class: 'rounded-circle', title: feedback.coach.full_name, alt: feedback.coach.full_name)
                %small= feedback.coach.full_name
              .d-block
                - (0...feedback.rating).each do |rating|
                  %i.fa.fa-star
            .card-body
              - if feedback.request.present?
                %h5.card-title How did you find the workshop?
                %p.card-text= feedback.request
              - if feedback.suggestions.present?
                %h5.card-title Suggestions
                %p.card-text= feedback.suggestions

    .row.mb-4
      .col.text-right
        = will_paginate(@feedback)

  - elsif @chapter.present?
    .row
      %p No feedback has been submitted for #{@chapter.name} workshops yet.
