%section#admin#banner
  .row
    .large-12.columns
      - @feedback.each do |feedback|
        .panel
          .row
            .large-2.columns
              %h5= I18n.l(feedback.created_at, format: :date)
            .large-3.columns
              %h5.subheader
                = feedback.tutorial.title
            - if feedback.coach.present?
              .large-1.columns
                = image_tag(feedback.coach.avatar(50), class: 'th radius', title: feedback.coach.full_name, alt: feedback.coach.full_name)
              .large-2.columns
                = feedback.coach.full_name
            .large-2.columns
              - (0...feedback.rating).each do |rating|
                %i.fa.fa-star
          - if feedback.request.present?
            .row
              .large-12.columns
                %h5 How did you find the workshop?
                %p= feedback.request
          - if feedback.suggestions.present?
            .row
              .large-12.columns
                %h5 Suggestions
                %p= feedback.suggestions
