.container.py-4.py-lg-5
  - if @feedback.any?
    = render partial: 'shared/pagination', locals: { pagy: @pagy }

    .row.mb-4
      - @feedback.each do |feedback|
        .col-12
          .card.mt-4
            .card-header.d-md-flex.align-items-center
              .d-block.pe-4= I18n.l(feedback.created_at, format: :date)
              .d-block.pe-4= feedback.tutorial.title
              - if feedback.coach.present?
                .d-block.pe-4
                  = image_tag(feedback.coach.avatar(24), class: 'rounded-circle', alt: feedback.coach.full_name)
                  %small= feedback.coach.full_name
              .d-block.text-warning.ms-auto
                - (0...feedback.rating).each do |rating|
                  %i.fas.fa-star
            .card-body
              - if feedback.request.present?
                %h5.card-title How did you find the workshop?
                %p.card-text= feedback.request
              - if feedback.suggestions.present?
                %h5.card-title Suggestions
                %p.card-text= feedback.suggestions

    = render partial: 'shared/pagination', locals: { pagy: @pagy }

  - elsif @chapter.present?
    .row
      %p No feedback has been submitted for #{@chapter.name} workshops yet.
