.container.py-4.py-lg-5
  .row.mb-4
    .col
      %nav{'aria-label': 'breadcrumb'}
        %ol.breadcrumb.ms-0
          %li.breadcrumb-item= link_to @member.full_name, admin_member_path(@member)
          %li.breadcrumb-item.active=t('.title')

  .row
    .col.col-lg-8
      = simple_form_for [:admin, @member, @ban], method: :post do |f|
        = f.input :reason, as: :select, collection: [ 'Violated attendance policy', 'Violated code of conduct', 'Violated attendance eligibility', 'Offensive behavior' ]
        = f.input :note, input_html: { rows: 3 }
        = f.input :explanation, input_html: { rows: 3 }
        = f.input :expires_at, as: :string, required: true, label: 'Date', input_html: { data: { value: Time.zone.now+1.month } }
        = f.input :permanent, as: :boolean
        .text-right
          = f.button :button, t('.create'), class: 'btn btn-primary'
