.container.py-4.py-lg-5
  .row.mb-4
    .col
      %h1 Member search

  .row
    .col.col-md-10.col-lg-8
      = render partial: 'search_form', locals: { callback_url: callback_url }

  .row 
    .col.col-md-10.col-lg-8
      - if members.present?
        %h2 Select Member 
        = simple_form_for :member_pick, url: callback_url, method: :get do |f|
          .row 
            .col-12.col-md-6
            = f.label :members, 'Member Name'
            - members.each do |member|
              .form-check
                = f.check_box :members, { multiple: true, checked: member.id }, member.id, nil
                = f.label "members_#{member.id}", member.name_and_surname, class: 'form-check-label'
            = f.button :submit, 'Take me back', class: 'btn btn-primary mt-3', name: nil
