<h2 style="font-weight: 400; font-size: 24px; border-bottom:1px solid #ececec; padding-bottom: 15px; margin-bottom:35px">Hi <%= @member.name %></h2>

<h3 style="font-weight: 600; font-size: 17px; letter-spacing: 0.02em; color: #111111">We would like to invite you to our upcoming <b><%= @course.to_s %></b> course</h3>

<div style="font-size: 18px; padding: 10px 0;"><%= @course.short_description %></div>

<div style="font-size: 15px"><%= @course.description.html_safe %></div>
<% if @course.url %>
  <div style="float: right;">
    <%=link_to "read more about the course", @course.url, style: "color: #a369d5; text-decoration: underline" %>
  </div>
<% end %>

<br/>
<div style="padding-bottom: 20px;">
  <h2>Tutors</h2>
  <% @course.tutors.each do |tutor| %>

    <h3>
      <%=link_to "#{tutor.full_name}", "http://twitter.com/#{tutor.twitter}", style: "text-decoration:none; color: #663095; font-size: 16px; margin-bottom: 20px; letter-spacing: 0.02em; text-decoration: none; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);" %>
    </h3> 
    <div>
      <%= tutor.about_you.html_safe %>
    </div>

  <% end %>

</div>

<div>
  <div style="width:340px; padding-right: 40px; display: inline-block;">
    <h2 style="color: #2d183d; font-size: 26px; font-weight: 500;letter-spacing: 0.03em; margin-bottom: 0;"><%= @course.title %> </h2>
    <p style="font-size: 16px; font-weight: 300; margin-top: 7px;">on <b style="color: #555555;font-size: 16px; font-weight: 600; margin-top: 0;"><%= l(@course.date_and_time, format: :email)%></b></p>
  </div>

  <div style="background-color: #F7F7F7; width: 90%; border-radius: 6px; box-shadow: 1px 1px 0 rgba(250, 250, 250, 0.5) inset, -1px -1px 2px rgba(250, 250, 250, 0.1) inset; font-size: 18px; padding: 5px 14px; text-align: center; margin: 31px 0 25px; border: 1px solid #dddddd;">
    <p> <%= link_to "View details and get your ticket", full_url_for(course_invitation_url(@invitation)), style: "text-decoration:none; color: #663095; font-size: 25px; font-weight: 600; letter-spacing: 0.02em; margin: 10px; text-decoration: none; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);"%></p>
  </div>
</div>


  <div style="clear:both; width: 100%; height: 10px;"></div>

