%section#banner
  .row
    .large-4.columns
      %h3 Chapters
      %ul.side-nav
        - @chapters.each do |chapter|
          %li= link_to chapter.name, [ :admin, chapter ]
    .large-4.columns
      %h3 Upcoming Workshops
      %ul.side-nav
        - @workshops.each do |workshop|
          %li
            = link_to admin_workshop_path(workshop) do
              %strong= workshop.chapter.name
              %br
              = humanize_date(workshop.date_and_time, with_time: true)
    .large-4.columns
      = link_to 'View all sponsors', admin_sponsors_path, class: 'button expand round'
      = link_to 'Admin Guide', admin_guide_path, class: 'button expand round'
      = link_to 'Members Directory', admin_members_path, class: 'button expand round'
    %hr

  .row
    .large-3.columns
      %h3 Groups
      %ul.side-nav
        - @groups.each do |group|
          %li
            = link_to [:admin, group] do
              #{group.name} (#{group.chapter.name})

    .large-9.columns
      %h3 Latest Subscribers
      = render partial: 'admin/subscriptions/index', locals: { subscribers: @subscribers }
