%li.card.mb-4.shadow-sm
  .card-body
    %h3.h5.mb-2= link_to job.title, job_path(job)
    %p.mb-3="#{job.company}, #{job.location}"
    %dl.row
      - if job.salary.present?
        %dt.col-4.text-muted= t('job.salary')
        %dd.col-8.mb-2= number_to_currency(job.salary)
      %dt.col-4.text-muted= t('job.published_on')
      %dd.col-8.mb-2= job.published_on
      %dt.col-4.text-muted= t('job.expires_on')
      %dd.col-8.mb-2= l(job.expiry_date, format: :full_date)
      %dt.col-4.text-muted.mb-0= t('job.location.title')
      %dd.col-8.mb-0= job.location_or_remote
