.stripe.reverse
  - if @job.expired?
    .row
      .large-12.columns
        .panel
          =t('job.expired')
          =t('job.check_out_jobs_html', link: link_to('jobs', jobs_url))
  .row
    .medium-12.columns
      %h2
        #{@job.title}
    .medium-9.columns
      = dot_markdown(@job.description)
      %br
      %h4 Company
      = @job.company
      -if @job.company_website.present?
        %br
        =link_to(@job.company_website)


    .medium-3.columns
      -if @job.salary.present?
        %p.salary
          %strong=t('job.salary')
          %br
          =number_to_currency(@job.salary)
      %p.location
        %strong=t('job.location.title')
        %br
        = @job.location_or_remote
      %p.closing-date
        %strong=t('job.closing_date')
        %br
        #{I18n.l(@job.expiry_date, format: :date)}
        - if @job.expired?
          %br
          %span.label.warning=t('job.status.expired')
      -if @job.email?
        %p.email
          %strong=t('job.contact_email')
          %br
          =mail_to(@job.email, @job.email, subject:"#{@job.title} job enquiry")
      %p.posted-by
        %strong=t('job.posted_by')
        %br
          =link_to @job.created_by.full_name, twitter_url_for(@job.created_by.twitter)
      %p.published_on
        %strong=t('job.published_on')
        %br
        = @job.published_on
      =link_to t('job.apply'), @job.link_to_job, class: 'button small expand'
