- title t('jobs.title')

.container-fluid.stripe.reverse
  .row
    .col
      %h1= t('jobs.title')
      %p.lead
        - if @jobs.any?
          = t('jobs.index.description', count: @jobs.count)
        - else
          = t('jobs.index.none')
        %br
        %small #{link_to('Click here', new_member_job_path)} if you would like to post a new job.
  - if @jobs.any?
    .row
      .col.col-md-8
        %ul.jobs.list-unstyled.ml-0.mb-0
          - @jobs.each do |job|
            = render partial: 'job', locals: { job: job }
