= render partial: 'shared_mailers/header', locals: { title: 'codebar Monthly Attendance Confirmation' }
%body{ bgcolor: '#FFFFFF' }

  = render partial: 'shared_mailers/body_header', locals: { title: 'codebar Monthly Attendance Confirmation' }

  %table{ class: 'body-wrap'}
    %tr
      %td
      %td{ class: 'container', bgcolor: '#FFFFFF' }

        .content
          %table
            %tr
              %td
                %h3 Hi #{@member.name},
                %p.lead
                  A spot opened up for the next codebar Monthly on #{l(@meeting.date_and_time, format: :_humanize_date_with_time)} at #{@meeting.venue.name}!

        = render partial: 'agenda'

        = render partial: 'cancel_attendance'

        .content
          %table
            = render partial: 'shared_mailers/venue', locals: { host: @meeting.venue, address: @host_address }
            %tr
              %td
                %p
                  If you have any trouble finding the venue, give one of the organisers a call:
                %ul
                  - @meeting.organisers.each do |organiser|
                    %li
                      = organiser.full_name
                      = organiser.mobile

        .content
          = render partial: 'shared_mailers/social'
      %td
