= render partial: 'shared_mailers/header', locals: { title: 'codebar Monthly Attendance Reminder' }
%body{ bgcolor: '#FFFFFF' }

  = render partial: 'shared_mailers/body_header', locals: { title: 'codebar Monthly Attendance Reminder' }

  %table{ class: 'body-wrap'}
    %tr
      %td
      %td{ class: 'container', bgcolor: '#FFFFFF' }

        .content
          %table
            %tr
              %td
                %h3 Hi #{@member.name},
                %p.lead
                  This is a quick email to remind you that you have signed up for tomorrow's codebar Monthly.
                %p
                  Please be advised that repeated no-shows to codebar events, including Monthlies, will result in suspension of your invitations. No +1s are allowed for Monthlies.
                %p
                  The talks will begin promptly at 7:00PM, food and drinks will be served from 6:30PM.

        = render partial: 'agenda'

        = render partial: 'cancel_attendance'

        .content
          %table
            = render partial: 'shared_mailers/venue', locals: { host: @meeting.venue, address: @host_address }
            %tr
              %td
                %p
                  If you have any trouble finding the venue, give one of the organisers a call:
                %ul
                  - @meeting.organisers.each do |organiser|
                    %li
                      = organiser.full_name
                      = organiser.mobile

        .content
          = render partial: 'shared_mailers/social'
