= render partial: 'shared_mailers/header', locals: { title: 'codebar Monthly Attendance Confirmation' }
%body{ bgcolor: '#FFFFFF' }

  = render partial: 'shared_mailers/body_header', locals: { title: 'Attendance Confirmation' }

  %table{ class: 'body-wrap'}
    %tr
      %td
      %td{ class: 'container', bgcolor: '#FFFFFF' }

        .content
          %table
            %tr
              %td
                %h3 Hi, #{@member.name}
                %p.lead
                  You're confirmed for the next codebar Monthly!

        .content
          %table
            %tr
              %td
                %h4 Details
            %tr
              %td.small{ width: "30%", style: "vertical-align: top; padding-right: 10px;" }
                = image_tag(@meeting.venue.avatar, alt: @meeting.venue.name)
              %td.small{ style: "vertical-align: top;" }
                %p #{humanize_date(@meeting.date_and_time, with_time: true)}
                %p
                  #{@meeting.venue.name}
                  %br
                  #{@host_address.to_html}
                - if @host_address.directions
                  %p
                    %strong Directions:
                    %br
                    #{@host_address.directions}

        .content
          %table
            %tr
              %td
                %p
                  If you have any trouble finding the venue, give us a call
                  - @meeting.organisers.each do |organiser|
                    %p
                      = organiser.full_name
                      = organiser.mobile
                      %br

        .content
          = render partial: 'shared_mailers/social'
      %td
