=render partial: 'shared_mailers/header', locals: { title: "Workshop #{@workshop.chapter.name} Coach Invitation" }
%body{ bgcolor: '#FFFFFF' }

  =render partial: 'shared_mailers/body_header', locals: { title: "Workshop #{@workshop.chapter.name} Coach Invitation" }

  %table{ class: 'body-wrap'}
    %tr
      %td
      %td{ class: 'container', bgcolor: '#FFFFFF' }

        .content
          %table
            %tr
              %td
                %h3 Hi #{@member.name},
                %p.lead
                  We’re excited to invite you to join our upcoming virtual #{@workshop.chapter.name} workshop as a coach!

                %p As a coach, you’ll support students remotely as they work through one of our #{link_to 'tutorials', 'http://tutorials.codebar.io/'} or seek guidance on a personal project. Don’t worry — you’ll only be paired with students whose needs align with your skills and expertise.

                %p You can explore all of our tutorials at #{link_to 'tutorials.codebar.io', 'http://tutorials.codebar.io/'}. If you have ideas for improving our content, feel free to contribute by submitting a pull request to our #{link_to 'GitHub repository', 'https://github.com/codebar/tutorials'}.

                %p Before the workshop, please take a moment to:

                %ul
                  %li Review our #{link_to 'Code of Conduct', 'http://codebar.io/code-of-conduct'}, which ensures a welcoming and respectful environment.
                  %li Check out our guide on  #{link_to 'How to be an effective teacher.', 'http://codebar.io/effective-teacher-guide'}.

                %p <strong>Please note:</strong> We do not accept any RSVPs over email.

                %p.callout #{link_to 'Join us on Slack', 'https://slack.codebar.io'} to offer help and guidance outside the workshops.

        .content
          %table{ bgcolor: '#FFFFFF' }
            %tr
              %td{ width: '60%', style: 'vertical-align: top; padding-right: 20px;' }
                %h4
                  =@workshop.to_s
                  %br
                  %small #{humanize_date(@workshop.date_and_time, @workshop.ends_at, with_time: true)}
                = link_to 'View invitation and RSVP', full_url_for(invitation_url(@invitation)), class: 'btn'
              %td{ width: '40%', style: 'vertical-align: top;'}
                - if @workshop.sponsors.any?
                  %h4 Sponsored by
                  - @workshop.sponsors.each do |sponsor|
                    = image_tag(sponsor.avatar.url, alt: sponsor.name)
                    %br

        .content
          = render partial: 'shared_mailers/social', locals: { workshop: @workshop }
      %td

  = render partial: 'shared_mailers/footer'
