%ul.list-inline.ms-0.social-media
  %li.list-inline-item
    = link_to 'https://slack.codebar.io' do
      %span.sr-only codebar Slack team
      %i.fab.fa-slack.fa-2x.social-icon{ 'aria-hidden': 'true' }
  %li.list-inline-item
    = link_to 'https://github.com/codebar' do
      %span.sr-only codebar Github account
      %i.fab.fa-github.fa-2x.social-icon{ 'aria-hidden': 'true' }
  %li.list-inline-item
    = link_to 'https://facebook.com/codebarHQ' do
      %span.sr-only codebar Facebook group
      %i.fab.fa-facebook.fa-2x.social-icon{ 'aria-hidden': 'true' }
  %li.list-inline-item
  %li.list-inline-item
    = link_to 'https://www.youtube.com/channel/UCEYz232agE47GHUq8wneBCA' do
      %span.sr-only codebar Youtube channel
      %i.fab.fa-youtube.fa-2x.social-icon{ 'aria-hidden': 'true' }
  %li.list-inline-item
    = link_to 'https://www.linkedin.com/company/codebarcommunity' do
      %span.sr-only codebar LinkedIn community
      %i.fab.fa-linkedin.fa-2x.social-icon{ 'aria-hidden': 'true' }
