- formatted_address = address.to_html
- section_title = formatted_address.empty? ? "Host" : "Venue"

#venue.row
  .col-md-6.col-sm-12.mb-4.mb-md-0
    %h3= section_title
    %p
      %strong= venue.name
    - unless formatted_address.empty?
      #address
        = address.to_html

    - if address.directions.present?
      %p
        %strong Directions:
        = address.directions

    - if venue.accessibility_info.present?
      %p
        %strong Accessibility information:
        = venue.accessibility_info

  .col-md-6.col-sm-12
    %iframe{ width: '100%', height: '350', frameborder: '0', scrolling: 'no', marginheight: '0', marginwidth: '0', src: %{https://maps.google.com/maps?f=q&source=s_q&hl=en&amp;geocode=&q=#{address.for_map}&ie=UTF8&t=m&z=15&output=embed} }
    = link_to "View larger map", %{https://maps.google.com/maps?f=q&source=s_q&hl=en&amp;geocode=&q=#{address.for_map}&ie=UTF8&hq=&t=m&z=15}, style: "color:#0000FF;text-align:left"
