%li.workshop
  .row
    .large-4.medium-4.small-4.columns
      =link_to event.path do
        .date{ class: event.class_string }
          .month
            = event.month
          .day
            =l(event.date_and_time, format: :day)
          .time
            #{t('events.venue_at')} #{event.time}
    .large-5.medium-5.small-5.columns
      .title
        =link_to event.to_s, event.path
      %small= event.description
      - if event.venue.present?
        %br
        = t("events.kindly_hosted_by")
        = link_to event.venue.name, event.venue.website
        %br
        = AddressDecorator.decorate(event.venue.address).to_html
    .large-3.medium-3.small-3.columns
      - if event.sponsors.any?
        - event.sponsors.each do |sponsor|
          = image_tag sponsor.avatar, class: 'sponsor'
      - if event.organisers.any?
        .organisers
          %small= t("events.organisers")
          %br
          - event.organisers.each do |organiser|
            =link_to twitter_url_for(organiser.twitter) do
              =image_tag organiser.avatar(26), class: 'th radius', title: organiser.full_name
