%ul.small-block-grid-1.medium-block-grid-3
  %li
    %small
      %b= t('events.faq.experience.q')
    %p
      %small
        You must have a general idea about programming and preferably to have already finished the #{link_to("HTML tutorials", "http://tutorials.codebar.io")} or have a similar level of understanding, and basic git knowledge.
  %li
    %small
      %b= t('events.faq.contribution.q')
    %p
      %small
        Your contributions can be tiny, as simple as fixing a typo, to something incredible. You can help with documentation, fix a bug that you found, improve the copy, help with design or even tackle bigger tasks and help introduce new features. Every little helps!
  %li
    %small
      %b= t('events.faq.laptop.q')
    %p
      %small
        = t('events.faq.laptop.a_html', link: mail_to("24pullrequests@codebar.io", t("events.send_us_an_email") ))
  %li
    %small
      %b= t('events.faq.keyboard.q')
    %p
      %small
        = t('events.faq.keyboard.a_html', link: mail_to("24pullrequests@codebar.io", t("events.send_us_an_email") ))
  %li
    %small
      %b= t('events.faq.travel_costs.q')
    %p
      %small
        = t('events.faq.travel_costs.a')


