%ul.row.list-unstyled.row-cols-md-3
  %li
    %small
      %b= t('events.faq.laptop.q')
    %p
      %small
        = t('events.faq.laptop.a_html', link: mail_to(@event.email, t('events.send_us_an_email') ))
  %li
    %small
      %b= t('events.faq.keyboard.q')
    %p
      %small
        = t('events.faq.keyboard.a_html', link: mail_to(@event.email, t('events.send_us_an_email') ))
  %li
    %small
      %b= t('events.faq.travel_costs.q')
    %p
      %small
        = t('events.faq.travel_costs.a')


