.past__container
  .row
    .large-12.columns
      %h2= @event.name
      %h3
        %small #{l(@event.date_and_time)} to #{l(@event.ends_at, format: :time) }
      %p.lead= @event.description

  .row
    .large-10.columns
      =link_to event_student_rsvp_path(@event), class: 'button round' do
        Get started with Open Source!
      =link_to event_coach_rsvp_path(@event), class: 'button round' do
        Attend as a coach
      %br
      %br

%br
%br
.row
  .large-7.columns
    %a{ name: "schedule" }
    %h4{ "data-magellan-destination" => "schedule"} Schedule
    = @event.schedule.html_safe
  .large-5.columns
    %h4 Location
    .row
      .medium-8.columns
        %p
          = @host_address.to_html
      .medium-4.columns
        = image_tag @event.venue.avatar, class: 'sponsor-logo'
    .row
      .large-12.columns
        %iframe{ width: '100%', height: '250', frameborder: '0', scrolling: 'no', marginheight: '0', marginwidth: '0', src: %{https://maps.google.com/maps?f=q&source=s_q&hl=en&amp;geocode=&q=#{@host_address.for_map}&ie=UTF8&t=m&z=15&output=embed} }
        =link_to "View larger map", %{https://maps.google.com/maps?f=q&source=s_q&hl=en&amp;geocode=&q=#{@host_address.for_map}&ie=UTF8&hq=&t=m&z=15}, style: "color:#0000FF;text-align:left"
      .medium-6.columns
.past__container
  .row
    .large-12.columns
      %a{ name: "faq" }
        %h2{ "data-magellan-destination" => "faq"}
          .text-center FAQ
      %ul.small-block-grid-1.medium-block-grid-3
        %li
          %small
            %b How experienced should I be to join the workshop?
          %p
            %small
              You must have a general idea about programming and preferably to have already finished the #{link_to("HTML tutorials", "http://tutorials.codebar.io")} or have a similar level of understanding, and basic git knowledge.
        %li
          %small
            %b What kind of contributions can I make?
          %p
            %small
              Your contributions can be tiny, as simple as fixing a typo, to something incredible. You can help with documentation, fix a bug that you found, improve the copy, help with design or even tackle bigger tasks and help introduce new features. Every little helps!
        %li
          %small
            %b Do I need to bring a laptop?
          %p
            %small
              Yes, you should bring a laptop. If you don't have one #{mail_to("24pullrequests@codebar.io", "send us an email" )} as we may be able to help.
        %li
          %small
            %b Do I need to bring a keyboard?
          %p
            %small
              A keyboard would help as you will spend the entire day pairing with someone on your latop. If you don't have a keyboard, #{mail_to("24pullrequests@codebar.io", "send us an email" )} and we'll try to organise something for you.
        %li
          %small
            %b I will be commuting from Brighton/Cambrdige. Can you help with my travel expenses?
          %p
            %small
              Yes, we can help by covering your travel costs. Make sure you fill in the questionnaire and we'll get in contact.


%br
%br
.row
  .large-12.columns
    %a{ name: "sponsors" }
    %h2{ "data-magellan-destination" => "sponsors"}
      .text-center Sponsors
    %p.text-center
      %i A big thanks to all of our sponsors for making the event possible!
    %br
    - if @event.sponsors.any?
      %ul.no-bullet
        - @event.sponsors.each do |sponsor|
          %li
            .row
              .large-2.columns
                = image_tag sponsor.avatar, class: 'sponsor'
              .large-10.columns
                =link_to sponsor.name, sponsor.website
                %p
                  = sponsor.description
            %br
%br
.past__container
  .row
    .large-12.columns
      %a{ name: "coaches" }
        %h2{ "data-magellan-destination" => "coaches"}
          .text-center Coaches
      %br
      - if @event.verified_coaches.any?
        %ul.small-block-grid-2.medium-block-grid-5
          - @event.verified_coaches.each do |coach|
            %li.text-center
              =link_to twitter_url_for(coach.twitter) do
                =image_tag coach.avatar(56), class: 'th radius', title: coach.full_name
                %br
                %br
                = coach.full_name
  %br
%br
.row
  .large-12.columns
    %a{ name: "organisers" }
      %h2{ "data-magellan-destination" => "organisers"}
        .text-center Organisers
    %br
    - if @event.organisers.any?
      %ul.small-block-grid-2.medium-block-grid-4
        - @event.organisers.each do |organiser|
          %li.text-center
            =link_to twitter_url_for(organiser.twitter) do
              =image_tag organiser.avatar(56), class: 'th radius', title: organiser.full_name
              %br
              %br
              = organiser.full_name
  %br
