.container.py-4.py-lg-5
  .row
    .col-12
      %h1
        = @event.name
        %br
        %small #{humanize_date(@event.date_and_time, @event.ends_at, with_time: true)}
    .col-12.col-md-9
      %p.lead= sanitize(@event.description)

  .row
    .col
      = render partial: 'event_actions'

.py-4.py-lg-5.bg-light
  .container
    .row
      - if @event.venue.present?
        = render partial: 'shared/venue', locals: { venue: @event.venue, address: @host_address}
      - else
        %p= "#{t('events.virtual')}."

    .row.mt-4
      .col
        - if @event.announce_only
          %h3 Information
        - else
          %h3= t('events.schedule')
        = dot_markdown(@event.schedule)

- if @event.show_faq?
  .py-4.py-lg-5.section
    .container
      .row
        .col
          %h2.text-center FAQ
          - if @event.announce_only
            %p.text-center If you have any questions, #{mail_to(@event.email, "get in contact")}
      - unless @event.announce_only
        = render partial: 'events/faq'

- if @event.sponsors?
  .py-4.py-lg-5.section#sponsors
    .container
      = render partial: 'event_sponsors', locals: { event: @event }

- if @event.verified_coaches.any?
  .py-4.py-lg-5.section
    .container
      .row
        .col
          %h2.text-center= t('events.coaches')
      .row.text-center
        = render partial: 'members/avatar_listing', locals: { member: @event.verified_coaches, show_info: false }

- if @event.organisers.any?
  .py-4.py-lg-5.section
    .container
      = render partial: 'members/organisers_grid', locals: { members: @event.organisers, show_info: false }
