%tr
  %td
    = link_to job.title, admin_job_path(job.id), class: 'border-0'
  %td
    = job.company
  %td
    = job.location_or_remote
  %td
    = l(job.created_at, format: :date)
  %td
    - if job.published? && job.expired?
      %span.badge.bg-danger= t('job.admin.status.expired')
    - else
      %span.badge.bg-info{ class: job.status }= t("job.admin.status.#{job.status}")
  %td
    - if job.pending?
      = link_to 'Review', admin_job_path(job.id), class: 'border-0'
    - if job.published?
      = link_to 'Unpublish', admin_job_unpublish_path(job.id), class: 'border-0'
