.container-fluid.pt-3
  .row.mb-4
    .col
      %nav{'aria-label': 'breadcrumb'}
        %ol.breadcrumb.ml-0
          %li.breadcrumb-item= link_to t('admin.dashboard.title'), admin_root_path, class: 'border-0'
          %li.breadcrumb-item.active= t('admin.jobs.title')

  - if @jobs.any?
    .row.mb-4
      .col
        %table.table
          %thead
            %tr
              %th Title
              %th Company
              %th Location
              %th Created at
              %th Status
              %th
          %tbody
            - @jobs.each do |job|
              = render partial: 'admin/jobs/job', locals: { job: job }
    .row.mb-4
      .col-6
        = page_entries_info(@jobs, model: 'job')
      .col-6.text-right
        = will_paginate(@jobs)
