.container-fluid
  .row
    .col
      %h1
        Organisers
        %small.subheader= @chapter.name
  .row
    .col-12.col-md-6.mt-3
      = simple_form_for :organiser, url: admin_chapter_organisers_path(@chapter), html: { class: 'border border-primary p-3' } do |f|
        %label.form-label.mb-2 Add new organiser
        = f.select :organiser, @chapter_members.uniq.map { |member| ["#{member.full_name}", member.id] }, { include_blank: true }, { class: 'form-select form-select-lg', required: true, data: { placeholder: 'Select a member to make organiser' } }
        = f.submit 'Add organiser', class: 'btn btn-primary btn-block mt-3'

  .row.mt-4.organisers
    .col-3
      %p.mb-0 Name
    .col-3
      %p.mb-0 Email
    .col-3
      %p.mb-0 Phone number
    .col-3
      %p.mb-0 Actions

  - @organisers.each do |organiser|
    .row.mt-4.mb-4
      .col-3
        %p.mb-0= organiser.full_name
      .col-3
        %p.mb-0= organiser.email
      .col-3
        %p.mb-0= organiser.mobile
      .col-3
        = link_to 'Remove', admin_chapter_organiser_path(@chapter, organiser), method: :delete, data: { confirm: 'Are you sure?' }
