.container.py-4.py-lg-5.organisers
  .row.mb-4
    .col
      %h1
        Organisers
        %small.subheader= @chapter.name

  .row.mb-4
    .col-12.col-md-6
      = simple_form_for :organiser, url: admin_chapter_organisers_path(@chapter), html: { class: 'border border-primary p-3' } do |f|
        = f.input :organiser, collection: @chapter_members, label_method: :full_name, required: true, prompt: 'Select a member to make organiser'
        = f.button :button, 'Add organiser', class: 'btn btn-primary btn-block mb-0'

  .row
    .col
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Name
            %th Email
            %th Phone number
            %th Actions
        %tbody
          - @organisers.each do |organiser|
            %tr
              %td
                = organiser.full_name
              %td
                = organiser.email
              %td
                = organiser.mobile
              %td
                = link_to 'Remove', admin_chapter_organiser_path(@chapter, organiser), method: :delete, data: { confirm: 'Are you sure?' }
