.container.py-4.py-lg-5
  .row.justify-content-md-center
    .col-md-10.col-lg-8
      :markdown
        # #{t('pages.breach.title')}

.py-4.py-lg-5.bg-light
  .container
    .row.justify-content-md-center
      .col-md-10.col-lg-8
        :markdown
          #{t('pages.breach.opening_para')}

          #{t('pages.breach.second_para')}

          #{t('pages.breach.outcome_title')}

          - #{t('pages.breach.correction')}

          - #{t('pages.breach.warning')}

          - #{t('pages.breach.lifetime_ban')}

          #{t('pages.breach.closing_para')}
