.row
  .large-12.columns
    :markdown

      ##{t('pages.cookies.title')}

      #{t('pages.cookies.p1')}

      #{t('pages.cookies.p2')}

      #{t('pages.cookies.sub.title')}


      ## #{t('pages.cookies.functional.title')}

       #{t('pages.cookies.functional.description')}
      <br/>

      | Cookie name | Purpose | Expires |
      | ---- | ------- |    ----- |
      | `_planner_session` | #{t('pages.cookies.functional.planner')} | #{t('pages.cookies.functional.planner_expiry ')} |

      <div style="height:1px;font-size:1px;">&nbsp;</div>

      ## #{t('pages.cookies.google_analytics.title')}

      #{t('pages.cookies.google_analytics.description')}

      **#{t('pages.cookies.google_analytics.info')}**

      <div style="height:1px;font-size:1px;">&nbsp;</div>

      | Name |	Purpose | 	Expires |
      | ---- | ------- |    ----- |
      | `_ga` | #{t('pages.cookies.google_analytics.ga')} | #{t('pages.cookies.google_analytics.ga_expiry ')} |
      | `_ga` | #{t('pages.cookies.google_analytics.gid')} | #{t('pages.cookies.google_analytics.gid_expiry ')} |

      <div style="height:1px;font-size:1px;">&nbsp;</div>

      #{t('pages.cookies.google_analytics.opt_out')}

      ### #{t('pages.cookies.cloudflare.title')}

      <div style="height:1px;font-size:1px;">&nbsp;</div>

      | Name | Purpose | Expires |
      | ---- | ------- |    ----- |
      | `_cfduid` | #{t('pages.cookies.cloudflare.cfduid')} | #{t('pages.cookies.cloudflare.cfduid_expiry')} |

      <div class='mb1' >&nbsp;</div>
