.row.mt1
  .large-12.columns
    :markdown

      # #{t('pages.privacy_policy.title')}

      ### #{t('pages.privacy_policy.subtitle')}

      #{t('pages.privacy_policy.p1')}

      #{t('pages.privacy_policy.address_html')}

      ### #{t('pages.privacy_policy.information.title')}

      #{t('pages.privacy_policy.information.description')}

      #{t('pages.privacy_policy.information.subscribing_html')}

      #{t('pages.privacy_policy.information.cookies_html')}

      #{t('pages.privacy_policy.information.usage_html')}

      ### #{t('pages.privacy_policy.your_rights.title')}

      #{t('pages.privacy_policy.your_rights.rights_html')}

      #{t('pages.privacy_policy.your_rights.data_retention_html')}

      #{t('pages.privacy_policy.your_rights.personal_data_access_html')}

      ####{t('pages.privacy_policy.security.title')}
      #{t('pages.privacy_policy.security.text')}

      ####{t('pages.privacy_policy.changes.title')}
      #{t('pages.privacy_policy.changes.text')}

      ####{t('pages.privacy_policy.contact.title')}
      #{t('pages.privacy_policy.contact.text')}


      <div class='margin-bottom-4'>&nbsp;</div>
