%a{ name: "coach" }
%h3{ "data-magellan-destination" => "coach"} Coach

%h5 Upcoming

- if @upcoming_coach.any?
  .row
    - @upcoming_coach.each do |invitation|
      .medium-4.small-12.columns
        .panel
          %p
            %h4
              = link_to invitation.parent.to_s, invitation_path(invitation)
            .date= "on #{l(invitation.parent.date_and_time, format: :website_format)}"
            %br

            =link_to attendance_status(invitation), invitation_path(invitation), class: "button round expand"
- else
  %em There are no upcoming events

- if @coached.any?
  %p
    %h5 Attended

    .row
      - @coached.each do |invitation|
        .medium-4.small-12.columns
          .panel
            %p
              %h4
                = link_to invitation.parent.to_s, invitation_path(invitation)
              .date= " #{l(invitation.parent.date_and_time, format: :website_format)}"
              %br
              =link_to "View", invitation_path(invitation), class: "button round expand"
