.container.py-4.py-lg-5
  .row
    .col-12
      %h1 Invitations
    .col-12
      = link_to 'Upcoming', '#upcoming'
      \|
      = link_to 'Attended', '#attended'

.container.pb-4.pb-lg-5
  .row
    .col.col-md-8
      %h3#upcoming Upcoming workshops
      - if @upcoming_invitations.any?
        - @upcoming_invitations.each do |invitation|
          .card.shadow-sm.mb-4
            .card-body
              .d-flex.align-items-start.justify-content-between
                %h4= invitation.parent.to_s
                %span.badge.bg-primary= invitation.parent.chapter.name
              - if invitation.parent.present?
                .mb-3
                  Group: #{invitation.role.pluralize}
                  %br
                  .text-muted #{humanize_date(invitation.parent.date_and_time, with_time: true)}
                - if invitation.is_a? InvitationPresenter
                  = link_to invitation.attendance_status, invitation_path(invitation),
                    class: 'btn btn-sm btn-primary', role: 'button'

      - elsif @upcoming_workshop
        %p You have no invitations. If you just signed up you should receive one soon.
      - else
        %p There are no upcoming events.

      %h3#attended Workshops attended
      - unless @attended_invitations.any?
        %p You haven't attended any events yet.
      - else
        - @attended_invitations.each do |invitation|
          .card.shadow-sm.mb-4
            .card-body
              .d-flex.align-items-start.justify-content-between
                %h4= invitation.parent.to_s
                %span.badge.bg-primary= invitation.parent.chapter.name
              - if invitation.parent.present?
                .mb-3
                  Group: #{invitation.role.pluralize}
                  %br
                  .text-muted #{humanize_date(invitation.parent.date_and_time, with_time: true)}
                = link_to 'View', invitation_path(invitation), class: 'btn btn-sm btn-primary', role: 'button'
