= render partial: 'shared/title', locals: { title: "Invitations", date: nil }
%section
  .inner-nav{ "data-magellan-expedition" => "fixed" }
    %dl.sub-nav
      .row
        %dd{ "data-magellan-arrival" => "upcoming" }
          =link_to "Upcoming", "#upcoming"
        %dd{ "data-magellan-arrival" => "attended" }
          =link_to "Attended", "#attended"


  .row
    .large-12.columns
      %a{ name: "upcoming" }
      %h3{ "data-magellan-destination" => "upcoming"} Upcoming workshops

      - if @upcoming_invitations.any?
        .row
          - @upcoming_invitations.each do |invitation|
            .medium-4.small-12.columns
              .panel
                %p
                  %h4
                    = invitation.parent.to_s
                    %br
                    - if invitation.parent.present?
                      %small.subheader #{invitation.parent.chapter.name} Group: #{invitation.role.pluralize}
                      .date #{humanize_date(invitation.parent.date_and_time, with_time: true)}
                  %br
                  - if invitation.is_a? WorkshopInvitation
                    =link_to attendance_status(invitation), invitation_path(invitation), class: "button round expand"
                  - elsif invitation.is_a? CourseInvitation
                    =link_to attendance_status(invitation), course_invitation_path(invitation), class: "button round expand"
      - elsif @upcoming_workshop
        %em You have no invitations. If you just signed up you should receive one soon.
      - else
        %em There are no upcoming events.

      %a{ name: "attended" }
      %h3{ "data-magellan-destination" => "attended"} Workshops attended
      - unless @attended_invitations.any?
        You haven't attended any events yet.
      - else
        .row
          - @attended_invitations.each do |invitation|
            .medium-4.small-12.columns
              .panel
                %p
                  %h4
                    = invitation.parent.to_s
                    %br
                    - if invitation.parent.present?
                      %small.subheader #{invitation.parent.chapter.name} Group: #{invitation.role.pluralize}
                      .date #{humanize_date(invitation.parent.date_and_time, with_time: true)}
                  %br
                  =link_to "View", invitation_path(invitation), class: "button round expand"
