.container-fluid.stripe.reverse
  .row
    .col-12
      %h1
        = @event.name
        - if @invitation.attending
          %span.badge.bg-success Attending
        %br
        %small #{humanize_date(@event.date_and_time, @event.ends_at, with_time: true)}
    .col-12.col-md-9
      %p.lead= @event.description.html_safe

  .row
    .col-12.col-md-9
      - if @invitation.for_student?
        - if !@invitation.attending
          - if @member.already_attending(@event)
            %p You have already RSVP'd to this event as a coach! Please cancel through the email confirmation you received if you wish to sign up as a student instead.
          - else
            - if @event.event_student_spaces?
              - if @event.tito_url.present?
                = link_to @event.tito_url, target: '_blank', class: 'btn btn-primary', method: :post do
                  RSVP
              - else
                = link_to event_attend_path, class: 'btn btn-primary', method: :post do
                  RSVP as a student
            - else
              %p Unfortunately there are no more student spots left. Send us an email at #{@event.email} to be added to the waiting list.
        - else
          = link_to event_reject_path, class: 'btn btn-danger', method: :post, 'data-confirm' => "Are you sure you won't be able to attend the event? There may not be any spots available later on." do
            Cancel my spot

      - if @invitation.for_coach?
        - if !@invitation.attending
          - if @member.already_attending(@event)
            %p You have already RSVP'd to this event as a student! Please cancel through the email confirmation you received if you wish to sign up as a coach instead.
          - else
            - if @event.event_coach_spaces?
              - if @event.tito_url.present?
                = link_to @event.tito_url, target: '_blank', class: 'btn btn-primary', method: :post do
                  RSVP
              - else
                = link_to event_attend_path, class: 'btn btn-primary', method: :post do
                  RSVP as a coach
            - else
              %p Unfortunately there are no more coach spots left. Send an email at #{@event.email} to be added to the waiting list.
        - else
          = link_to event_reject_path, class: 'btn btn-danger', method: :post, 'data-confirm' => "Are you sure you won't be able to attend the event? There may not be any spots available later on." do
            Cancel my spot

  - if @invitation.attending
    .row
      .col
        - if !@invitation.verified
          - if @event.surveys_required
            .alert.alert-warning.mt-4{ "data-alert" => true }
              .d-flex.align-items-center
                %i.fas.fa-exclamation-triangle.warning.mr-3
                %p.mb-0 
                  To complete signing up for the event, you must #{link_to("complete our questionnaire", @event.questionnaire(@invitation), class: 'alert-link border-0 text-decoration-underline')} as we need to know a couple of things in advance to plan the day.
                  %strong You will receive an email when your attendance is verified.

.container-fluid.stripe.reverse
  .row
    .col-12.col-lg-6
      %h3 Schedule
      = dot_markdown(@event.schedule)
    .col-12.col-lg-6
      %h3 Location
      .row
        .col-12.col-md-8
          %address= @host_address.to_html
        .col-12.col-md-4
          = image_tag(@event.venue.avatar, class: 'small-image', alt: @event.venue.name)
      .row
        .col
          %iframe{ width: '100%', height: '250', frameborder: '0', scrolling: 'no', marginheight: '0', marginwidth: '0', src: %{https://maps.google.com/maps?f=q&source=s_q&hl=en&amp;geocode=&q=#{@host_address.for_map}&ie=UTF8&t=m&z=15&output=embed} }
          = link_to 'View larger map', %{https://maps.google.com/maps?f=q&source=s_q&hl=en&amp;geocode=&q=#{@host_address.for_map}&ie=UTF8&hq=&t=m&z=15}, style: "color:#0000FF;text-align:left"

- if @event.show_faq
  .container-fluid.stripe.reverse
    .row
      .col
        %h2.text-center FAQ
    = render partial: 'events/faq'

- if @event.sponsors?
  .container-fluid.stripe.reverse
    = render partial: 'events/event_sponsors', locals: { event: @event }

- if @event.verified_coaches.any? && @event.display_coaches
  .container-fluid.stripe.reverse
    .row
      .col
        %h2.text-center= t('events.coaches')
    .row.text-center
      = render partial: 'members/avatar_listing', locals: { member: @event.verified_coaches, show_info: false }

- if @event.verified_students.any? && @event.display_students
  .container-fluid.stripe.reverse
    .row
      .col
        %h2.text-center= t('events.students')
    .row.text-center
      = render partial: 'members/avatar_listing', locals: { member: @event.verified_students, show_info: false }

- if @event.organisers.any?
  .container-fluid.stripe.reverse
    = render partial: 'members/organisers_grid', locals: { members: @event.organisers, show_info: false }
