- content_for :head do
  %script{:type => "text/javascript", :src => "https://checkout.stripe.com/checkout.js"}

  :javascript
    var stripePublishableKey = "#{Rails.configuration.stripe[:publishable_key]}"


  = javascript_include_tag 'donations'

.stripe.reverse
  .row
    .large-12.columns
      %h2 Donations

.stripe.reverse.donation-container
  .row
    .medium-6.columns
      %p.lead Firstly thank you for considering a donation to codebar, without your support we would not be able to continue.
      %p.lead By donating to codebar you are helping to promote diversity in the tech industry so that more women, LGBTQA and other underrepresented folks will be able to get started with programming and raise their skills to the next level.
    .medium-6.columns
      = simple_form_for :donation, url: donations_path, method: :post do |f|
        = f.input :name, placeholder: "Name", required: false, html: {id: "name"}
        = f.input :amount, placeholder: "25.00", required: true, id: "amount"
        = f.submit :Donate, class: 'button', id: "donate"
        .message

.stripe.reverse.text-center
  .row
    .small-12.columns
    %h3 A big thank you to some of our sponsors
  .row.sponsor-row
    .medium-2.small-4.columns
      = image_tag("sponsors/8th-Light.png", class: "small-image", alt: "8th Light")
    .medium-2.small-4.columns
      =image_tag("sponsors/bloomberg.png", alt: "Bloomberg")
    .medium-2.small-4.columns
      =image_tag("sponsors/ustwo.png", alt: "ustwo")
    .medium-2.small-4.columns
      =image_tag("sponsors/gds-logo.png", alt: "GDS")
    .medium-2.small-4.columns
      =image_tag("sponsors/google.png", alt: "Google")
    .medium-2.small-4.columns
      =image_tag("sponsors/mozilla.png", alt: "Mozilla")
  .row.sponsor-row
    .medium-2.small-4.columns
      =image_tag("sponsors/pivotal.png", alt: "Pivotal Labs")
    .medium-2.small-4.columns
      =image_tag("sponsors/shutl_logo.png", alt: "Shutl")
    .medium-2.small-4.columns
      =image_tag("sponsors/softwire.png", alt: "Softwire")
    .medium-2.small-4.columns
      =image_tag("sponsors/StreetTeam.png", alt: "StreetTeam")
    .medium-2.small-4.columns
      =image_tag("sponsors/the-guardian.png", alt: "The Guardian")
    .medium-2.small-4.columns
      =image_tag("sponsors/ticketmaster.png", alt: "Ticketmaster")
