#coach.content
  .titlebox.mission
    %h2
      Upcoming
    .dot

  .description
    .details-block
      - @upcoming.each do |invitation|
        .three-quarters
          %h3
            = invitation.parent.title
            .right-float
              =link_to attendance_status(invitation), invitation_path(invitation), class: "button"
          %h5= invitation.parent.description
          %h6
            = "on #{l(invitation.parent.date_and_time, format: :website_format)}"

  .titlebox.mission
    %h2
      Sessions coached
    .dot

  .description
    - @coached.each do |invitation|
      .details-block
        %h3
          = invitation.parent.title
        %h5= invitation.parent.description
        %h6
          = "on #{l(invitation.parent.date_and_time, format: :website_format)}"
