.nested-fields.card.bg-light.border-secondary.mb-3
  .card-body
    .text-right
      = link_to_remove_association 'Delete', f
    = f.input :name
    = f.input :surname
    = f.input :email
    = f.input :comment, as: :text, input_html: { rows: 5 }, label: 'Contact comment'
    = f.input :mailing_list_consent, as: :boolean, hint_html: { class: 'd-block ms-1' }
