= simple_form_for [:admin, @sponsor], :html => {:multipart => true} do |f|
  .row
    .large-6.columns
      = f.input :name
    .large-6.columns
      = f.input :website, as: :url

  .row
    .large-6.columns
      = f.input :avatar, as: :file, required: !@sponsor.avatar?
      = f.hidden_field :image_cache
    .large-3.columns
      = f.input :seats, label: 'Student Spots'
    .large-3.columns
      = f.input :number_of_coaches, label: 'Coaches Spots'
 
  .row
    .large-6.columns
      = f.input :level, collection: Sponsor.levels.keys, label_method: :humanize, disabled: !current_user.has_role?(:admin)
    .large-6.columns
      = f.input :accessibility_info, label: 'Accessibility information'

  .row
    .large-6.columns
      .panel
        %strong Address
        = f.simple_fields_for :address do |a|
          = a.input :flat, label: 'Line 1'
          = a.input :street, label: 'Line 2'
          = a.input :postal_code
          = a.input :city
          = a.input :latitude
          = a.input :longitude
    .large-6.columns
      .panel
        %strong Contact Details
        %p Complete the fields below and/or select a member(s)
        = f.collection_select :contact_ids, Member.all, :id, :full_name,
          { selected: @sponsor.contacts.map(&:id) }, { multiple: true }
        = f.input :email
        = f.input :contact_first_name, label: 'Contact First Name'
        = f.input :contact_surname, label: 'Contact Surname'

  .row
    .large-6.columns
      - if params[:action] == 'new'
        = f.submit 'Create sponsor', class: 'button round'
      - elsif params[:action] == 'edit'
        = f.submit 'Save changes', class: 'button round'
