= simple_form_for [:admin, @sponsor], :html => {:multipart => true, novalidate: true } do |f|
  .row
    .large-6.columns
      .row
        .large-12.columns
          = f.input :name

      .row
        .large-12.columns
          = f.input :website, as: :url

      .row
        .large-12.columns
          = f.input :description

      - if current_user.has_role?(:admin)
        .row
          .large-6.columns
            = f.input :level, collection: Sponsor.levels.keys, label_method: :humanize

      .row
        .large-12.columns.admin_margin
          = f.input :avatar, as: :file, required: !@sponsor.avatar?
          = f.hidden_field :image_cache

      .row
        .large-12.columns
          .panel.callout#contacts
            %strong Contact Details
            %p Required so that all organisers can get in touch with sponsor when required. Please do not use your personal or chapter details.
            = f.simple_fields_for :contacts do |c|
              = render 'contact_fields', f: c
            .links
              = link_to_add_association 'Add contact', f, :contacts, class: 'button tiny'

    .large-6.columns
      .panel.callout
        %p Only required for hosts
        .row
          .large-6.columns
            = f.input :seats
          .large-6.columns
            = f.input :number_of_coaches


        .row
          .large-12.columns
            = f.input :accessibility_info
        .row
          .large-12.columns
            %strong Address
            = f.simple_fields_for :address do |address|
              = address.input :flat, label: 'Line 1'
              = address.input :street, label: 'Line 2'
              = address.input :postal_code
              = address.input :city
              = address.input :latitude
              = address.input :longitude
              = address.input :directions

  .row
    .large-12.columns.text-right
      - if params[:action] == 'new' || params[:action] == 'create'
        = f.submit 'Create sponsor', class: 'button round'
      - else
        = f.submit 'Save changes', class: 'button round'
