%section#banner
  .row
    %h1 Sponsors
    .row
      %hr
      .large-3.columns
        NAME / ADDRESS
      .large-4.columns
        LOGO
      .large-3.columns
        CONTACT(S)

  - @sponsors.each do |sponsor|
    .row
      %hr
      .large-3.columns
        = sponsor.name
        %p= AddressPresenter.new(sponsor.address).to_html
        %p
          %em Sponsored #{sponsor.workshop_sponsors.count} workshops

      .large-4.columns
        = image_tag(sponsor.avatar, class: 'sponsor', alt: sponsor.name)
      .large-3.columns
        %p= SponsorPresenter.new(sponsor).contact_info

      .large-1.columns
        = link_to "Edit", edit_admin_sponsor_path(sponsor), class: 'button round small'
  %br
