%section#admin#banner
  .row
    .large-12.columns
      %ul.breadcrumbs
        %li.current Sponsors
  .row
    .large-12.columns
      .digg_pagination
        .page_info
          = page_entries_info(@sponsors, model: 'sponsor')
        = will_paginate(@sponsors)
    %table{width: '100%'}
      %thead
        %tr
          %th
            Name
          %th
            Level
          %th
            Chapter(s)
          %th
            Sponsorships
      %tbody
        - @decorated_sponsors.each do |sponsor|
          %tr
            %td
              = link_to(sponsor.name, admin_sponsor_path(sponsor))
            %td
              =sponsor.level
            %td
              - sponsor.chapters.each do |chapter|
                =link_to chapter.name, admin_chapter_path(chapter)
            %td
              = sponsor.sponsorships_count
  .row
    .large-12.columns
      .digg_pagination
        = will_paginate(@sponsors)
  %br
