.container.py-4.py-lg-5
  .row.mb-4
    .col-12
      %nav{'aria-label': 'breadcrumb'}
        %ol.breadcrumb.ms-0
          %li.breadcrumb-item.active= t('admin.shared.sponsors')

    .col-12
      .row.row-cols-md-auto.align-items-center
        = simple_form_for @sponsors_search, url: admin_sponsors_path, method: :get, wrapper: :inline_form, html: { class: 'row row-cols-1 row-cols-md-auto align-items-center' } do |f|
          = f.collection_select :chapter, @chapters, :id, :name, { include_blank: true, prompt: 'Select a chapter' }, { class: 'chosen-select'}
          = f.input :name, required: false, label: false, placeholder: 'Filter by sponsor name', input_html: { class: 'my-2 my-md-0' }
          = f.button :button, 'Filter', class: 'btn btn-primary'
        = link_to 'Reset form', admin_sponsors_path

  .row.mb-3
    .col
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              Name
            %th
              Level
            %th
              Chapter(s)
            %th
              Sponsorships
        %tbody
          - @decorated_sponsors.each do |sponsor|
            %tr.sponsor
              %td
                = link_to(sponsor.name, admin_sponsor_path(sponsor))
              %td
                = sponsor.level
              %td
                - sponsor.chapters.uniq.each do |chapter|
                  = link_to chapter.name, admin_chapter_path(chapter)
              %td
                = sponsor.sponsorships_count
