%section#banner
  .row
    .medium-12.columns
      %h2 New Sponsor
      = simple_form_for [:admin, @sponsor], method: :post do |f|
        .row
          .large-6.columns
            .row
              .large-12.columns
            = f.input :name
            .row
              .large-12.columns
                = f.input :avatar
            .row
              .large-12.columns
                = f.input :website
            .row
              .large-3.columns
                = f.input :seats, label: "Spots"
          .large-6.columns
            .panel
              %strong Address
              = f.simple_fields_for :address do |a|
                = a.input :flat, label: "Line 1"
                = a.input :street, label: "Line 2"
                = a.input :postal_code
                = a.input :city
        .row
          .large-6.columns
            = f.submit "Create sponsor", class: "button round"
