%section#banner
  .row
    .large-9.columns
      %h1= @sponsor.name
    .large-3.columns
      = link_to 'Edit', edit_admin_sponsor_path(@sponsor), class: 'button round'

  .row
    .large-3.columns
      %h4 Address
      = AddressPresenter.new(@sponsor.address).to_html

    .large-3.columns
      %h4 Logo
      = image_tag(@sponsor.avatar, alt: @sponsor.name)
    .large-3.columns
      %h4 Contacts
      = SponsorPresenter.new(@sponsor).contact_info
    .large-3.columns
      %h4 Sponsored
      %ul.no-bullet
        - @sponsor.workshops.each do |workshop|
          %li
            = link_to admin_workshop_path(workshop) do
              %strong=workshop.chapter.name
              %br
              = humanize_date(workshop.date_and_time, with_time: true)
  .row
    .large-6.columns
      %h4 Accessibility information
      %p= @sponsor.accessibility_info
