.container-fluid.pt-3
  .row
    .col
      %nav{'aria-label': 'breadcrumb'}
        %ol.breadcrumb.ml-0
          %li.breadcrumb-item= link_to t('admin.shared.sponsors'), admin_sponsors_path, class: 'border-0'
          %li.breadcrumb-item.active= @sponsor.name

  .row
    .d-flex.justify-content-between.align-items-center.mb-4
      %h1= @sponsor.name
      = link_to t('.edit_button'), edit_admin_sponsor_path(@sponsor), class: 'btn btn-primary'
    .col-12.col-lg-3
      .d-flex.justify-content-center.py-3.mb-4
        = image_tag(@sponsor.avatar.url, alt: @sponsor.name, class: 'small-image')
      .bg-light.p-3.mb-4
        %dl.row
          %dt= t('.website')
          %dd= link_to @sponsor.website

          %dt= t('.address')
          - if @sponsor.address.present?
            %dd= @sponsor.address.to_html

          %dt= t('.directions')
          %dd
            - if @sponsor&.address&.directions.present?
              = @sponsor.address.directions
            - else
              = t('.empty_state.directions')

          %dt= t('.description')
          %dd
            - if @sponsor.description.present?
              = @sponsor.description
            - else
              = t('.empty_state.description')

          %dt.col-8= t('.student_spots')
          %dd.col-4= @sponsor.seats

          %dt.col-8= t('.coach_spots')
          %dd.col-4= @sponsor.coach_spots

          %dt
            = t('.level')
            %i.fas.fa-trophy
          %dd= @sponsor.level

          %dt
            = t('.accessibility_info')
            %i.fas.fa-universal-access
          %dd
            - if @sponsor.accessibility_info.present?
              = @sponsor.accessibility_info
            - else
              = t('.empty_state.accessibility_info')

          %dt.mb-0= t('.contacts')
          %dd
            %ul.list-unstyled.ml-0.mb-0#contacts
              - @sponsor.contacts.each do |contact|
                %li.mt-1
                  = mail_to(contact.email, contact.full_name)
                  %i.fas{ class: contact.mailing_list_subscription_class }

    .col-12.col-lg-9
      %h2.h3.mb-3= t('.map_preview')
      .card.mb-4
        .card-body
          - if @sponsor.address.present?
            = render partial: 'shared/venue', locals: { venue: @sponsor, address: @sponsor.address}
          - else
            = t('.empty_state.map')

      #sponsorships.mb-4
        %h2.h3.mb-3= t('.sponsorships')
        - if @sponsor.workshops.none? && @sponsor.events.none? && @sponsor.meetings.none?
          = t('.empty_state.sponsorships')
        - else
          .row.row-cols-md-3
            - if @sponsor.workshops.any?
              .col
                %strong= t('admin.shared.workshops')
                %ul.list-unstyled.ml-0
                  - @sponsor.workshop_sponsors.each do |ws|
                    %li
                      = link_to admin_workshop_path(ws.workshop) do
                        = I18n.l(ws.workshop.date_and_time, format: :default_date)
                        #{ws.workshop.chapter.name} #{ws.workshop.host ? '(host)' : ''}
            - if @sponsor.event_sponsorships.any?
              .col
                %strong= t('admin.shared.events')
                %ul.list-unstyled.ml-0
                  - @sponsor.event_sponsorships.each do |sponsorship|
                    %li
                      = link_to admin_event_path(sponsorship.event) do
                        = I18n.l(sponsorship.event.date_and_time, format: :default_date)
                        = sponsorship.event.to_s
                        \- #{sponsorship&.level&.upcase || 'Standard'}

            - if @sponsor.meetings.any?
              .col
                %strong= t('admin.shared.meetings')
                %ul.list-unstyled.ml-0
                  - @sponsor.meetings.each do |meeting|
                    %li
                      = link_to admin_meeting_path(meeting) do
                        #{I18n.l(meeting.date_and_time, format: :default_date)}
                        = meeting.title

      #activities.mb-4
        %h2.h3.mb-3= t('.activities')
        %ul.list-unstyled.ml-0
          = render_activities @sponsor.activities
