.container.py-4.py-lg-5
  .row.mb-4
    .col
      %nav{'aria-label': 'breadcrumb'}
        %ol.breadcrumb.ms-0
          %li.breadcrumb-item= link_to t('admin.shared.sponsors'), admin_sponsors_path
          %li.breadcrumb-item.active Contacts

  .row
    .col
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Sponsor
            %th Contact name
            %th Contact email
            %th Mailing list
        %tbody
          - @contacts.each do |contact|
            %tr
              %td
                = link_to contact.sponsor.name, admin_sponsor_path(contact.sponsor)
              %td
                #{contact.name} #{contact.surname}
              %td
                = contact.email
              %td
                - if contact.mailing_list_consent
                  %i.fas.fa-check.text-success
                - else
                  %i.fas.fa-times
