.container-fluid.pt-3
  .row.mb-3
    .col
      %nav{'aria-label': 'breadcrumb'}
        %ol.breadcrumb.ml-0
          %li.breadcrumb-item= link_to t('admin.shared.sponsors'), admin_sponsors_path, class: 'border-0'
          %li.breadcrumb-item.active Contacts

  .row.mb-4
    .col
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th Sponsor
            %th Contact name
            %th Contact email
            %th Mailchimp
        %tbody
          - @contacts.each do |contact|
            %tr
              %td
                = link_to contact.sponsor.name, admin_sponsor_path(contact.sponsor), class: 'border-0'
              %td
                #{contact.name} #{contact.surname}
              %td
                = contact.email
              %td
                - if contact.mailing_list_consent
                  %i.fa.fa-check.success
                - else
                  %i.fa.fa-times
