= render partial: 'shared_mailers/header', locals: { title: 'Event Attendance Confirmation' }
%body{ bgcolor: '#FFFFFF' }

  = render partial: 'shared_mailers/body_header', locals: { title: 'Event Attendance Confirmation' }

  %table{ class: 'body-wrap'}
    %tr
      %td
      %td{ class: 'container', bgcolor: '#FFFFFF' }

        .content
          %table
            %tr
              %td
                %h3 Hi #{@member.name},
                %p
                  Your spot for the <strong>#{@event.name}</strong> event has been confirmed.
                %p
                  If you have any questions send us an email at #{mail_to(@event.email, @event.email)}.
                %p
                  See you at the event!

        .content
          %table{ bgcolor: '#FFFFFF' }
            %tr
              %td
                %h4
                  #{@event.name}
                  %small #{humanize_date(@event.date_and_time, @event.ends_at, with_time: true)}
                = link_to 'Update your attendance', full_url_for(event_invitation_url(@event.id, @invitation.token)), class: 'btn'

        .content
          %table
            = render partial: 'shared_mailers/venue', locals: { host: @event.venue, address: @host_address }
            %tr
              %td
                %p If you have any trouble finding the venue, give one of the organisers a call:
                %ul
                  - @event.organisers.each do |organiser|
                    - if organiser.mobile.present?
                      %li
                        = organiser.full_name
                        = organiser.mobile

        .content
          = render partial: 'shared_mailers/social'
      %td

  = render partial: 'shared_mailers/footer'
