=render partial: 'shared_mailers/header', locals: { title: "Event invitation" }
%body{ bgcolor: "#FFFFFF" }

  =render partial: 'shared_mailers/body_header', locals: { title: "Event invitation" }

  %table{ class: "body-wrap"}
    %tr
      %td
      %td{ class: "container", bgcolor: "#FFFFFF" }

        .content
          %table
            %tr
              %td
                %h3 Hi, #{@member.name}
                %p.lead
                  We'd like to invite you to #{@event.name}. If you can come, please RSVP using the link in this email.
                %p
                  #{@event.description.html_safe}.


        .content
          %table{ bgcolor: "#FFFFFF" }
            %tr
              %td.small{ width: "30%", style: "vertical-align: top; padding-right:10px;"}
                %h5 When?
                #{l(@event.date_and_time)} to #{l(@event.ends_at, format: :time) }
                %br
                %br
                %h5 Venue
                =image_tag(@event.venue.avatar, style: 'max-height: 100px', alt: @event.venue.name)
                %p
                  #{@event.venue.name}
              %td{ width: "50%", style: "text-align: center;"}
                = link_to "RSVP", full_url_for(event_invitation_url(event_id: @event.slug, token: @invitation.token)), class: 'btn'
            %tr
              %td{ width: "50%", style: "vertical-align: top; padding-right:10px;"}
                %h5 Sponsors
                - @event.sponsors.each do |sponsor|
                  =link_to sponsor.website do
                    = image_tag(sponsor.avatar, style: 'max-height: 100px;', alt: sponsor.name)

        .content
          = render partial: 'shared_mailers/social'

      %td

  = render partial: 'shared_mailers/footer'
