= render partial: 'shared_mailers/header', locals: { title: 'Coach Event Invitation' }
%body{ bgcolor: '#FFFFFF' }

  = render partial: 'shared_mailers/body_header', locals: { title: 'Coach Event Invitation' }

  %table{ class: 'body-wrap'}
    %tr
      %td
      %td{ class: 'container', bgcolor: '#FFFFFF' }

        .content
          %table
            %tr
              %td
                %h3 Hi #{@member.name},
                %p.lead
                  We'd like to invite you to #{@event.name}. If you can come, please RSVP using the link in this email.
                %p
                  #{@event.description.html_safe}.

        .content
          %table{ bgcolor: '#FFFFFF' }
            %tr
              %td
                %h4
                  #{@event.name}
                  %small #{humanize_date(@event.date_and_time, @event.ends_at, with_time: true)}
                = link_to 'View invitation and RSVP', full_url_for(event_invitation_url(event_id: @event.slug, token: @invitation.token)), class: 'btn'

        .content
          %table
            = render partial: 'shared_mailers/venue', locals: { host: @event.venue, address: @host_address }

        .content
          %table
            %tr
              %td
                %h4 Sponsors
                - @event.sponsors.each do |sponsor|
                  = link_to sponsor.website do
                    = image_tag(sponsor.avatar.url, style: 'max-height: 100px;', alt: sponsor.name)

        .content
          = render partial: 'shared_mailers/social'
      %td

  = render partial: 'shared_mailers/footer'
