.container.py-4.py-lg-5
  .row.mb-4
    .col
      %h1 Edit announcement

  .row
    .col.col-md-10.col-lg-8
      = simple_form_for [:admin, @announcement] do |f|
        = f.association :groups, label_method: :to_s, label: 'Select groups'
        = f.input :message, input_html: { rows: 3 },
          hint: raw(t('admin.shared.markdown_hint', link: link_to(t('admin.shared.markdown'), 'https://commonmark.org/help/')))
        = f.input :expires_at, as: :string
        .text-right
          = f.button :button, :update, class: 'btn btn-primary'
