.container.py-4.py-lg-5
  .row.mb-4
    .col
      %h1 Announcements

  .row.border-bottom.border-primary
    .col
      %p.mb-2 Created by
    .col-4
      %p.mb-2 Message
    .col
      %p.mb-2 Groups
    .col
      %p.mb-2 Expires at
    .col
      %p.mb-2 Edit
  - @announcements.each do |announcement|
    .row.mt-3
      .col
        .d-flex.align-items-start
          = image_tag(announcement.created_by.avatar(25), alt: announcement.created_by.full_name)
          %p.ml-2.mb-0= announcement.created_by.full_name
      .col-4
        = dot_markdown(announcement.message)
      .col
        %ul
          - announcement.groups.each do |group|
            %li
              %p.mb-2= group.to_s
      .col
        - if announcement.expires_at.present?
          %p= l(announcement.expires_at, format: :date)
      .col
        = link_to 'Edit', edit_admin_announcement_path(announcement)
