.container-fluid
  .row.mb-4
    .col
      %h1 New announcement
  .row.mb-4
    .col
      = simple_form_for [:admin, @announcement] do |f|
        = f.association :groups, label_method: :to_s
        = f.input :message
        = f.input :expires_at, as: :string
        = f.button :button, :create, class: 'btn btn-primary'
