.container-fluid.pt-3
  .row.mb-4
    .col
      %h1 New announcement

  .row
    .col.col-lg-8
      = simple_form_for [:admin, @announcement] do |f|
        = f.association :groups, label_method: :to_s
        = f.input :message, input_html: { rows: 3 }
        = f.input :expires_at, as: :string
        .text-right
          = f.button :button, :create, class: 'btn btn-primary'
