.container.py-4.py-lg-5
  .row
    .col
      %h1 Subscriptions

.container.pb-4.pb-lg-5
  .row.mb-4
    .col-md-10.col-lg-8
      .card
        .card-body
          %h3= t('subscriptions.mailing_list.title')
          %p= t('subscriptions.mailing_list.summary')
          - if @member.subscribed_to_newsletter?
            = simple_form_for @mailing_list, url: mailing_lists_path, method: :delete do |f|
              = f.button :button, t('subscriptions.mailing_list.unsubscribe'), class: 'btn btn-success btn-lg mb-0'
          - else
            = simple_form_for @mailing_list, url: mailing_lists_path do |f|
              = f.button :button, t('subscriptions.mailing_list.subscribe'), class: 'btn btn-success btn-lg mb-0'

  .row.mb-4
    .col.col.col-lg-8
      %p.lead= t('subscriptions.summary')

  - @groups.group_by(&:chapter).each do |chapter, groups|
    .row.mb-4.border-bottom
      .col
        %h4= chapter.name
    - groups.sort_by(&:name).each do |group|
      .row.mb-3
        .col
          %p= group.name
        .col.col-md-4.col-lg-3
          - if belongs_to_group?(group)
            = simple_form_for :subscription, url: subscriptions_path, method: :delete, html: { class: 'w-100' } do |f|
              = f.hidden_field :subscription_id, value: nil
              = f.hidden_field :group_id, value: group.id
              = f.button :button, 'Subscribed', class: 'btn btn-success btn-lg w-100', id: "#{chapter.name.downcase}-#{group.name.downcase}"
          - else
            = simple_form_for :subscription, url: subscriptions_path, html: { class: 'w-100' } do |f|
              = f.hidden_field :group_id, value: group.id
              = f.button :button, 'Subscribe', class: 'btn btn-primary btn-lg w-100', id: "#{chapter.name.downcase}-#{group.name.downcase}"
