.container.py-4.py-lg-5
  .row.justify-content-md-center
    .col-md-10.col-lg-8
      %h1= t('terms_and_conditions.title')
      %p
        = t('terms_and_conditions.body')
        %br
        = link_to t('terms_and_conditions.link_text'), code_of_conduct_path, target: '_blank'

  = simple_form_for @terms_and_conditions_form, url: terms_and_conditions_path, method: :patch do |f|
    .row.justify-content-md-center
      .col-md-10.col-lg-8
        = f.input :terms, as: :boolean
        = f.button :button, t('terms_and_conditions.accept'), class: 'btn btn-primary mb-0'
