.row
  .col.attendances
    - invitations.each do |invitation|
      .row.attendee.mb-3
        .col-1
          - if (invitation.parent.date_and_time - 30.minutes).past?
            - if invitation.attended.nil?
              = link_to admin_workshop_invitation_path(@workshop, invitation, attended: true),
                class: 'verify_attendance', title: 'Verify attendance', method: :put, remote: true,
                data: { disable_with: "<i class='fa fa-spinner spin'></i>" } do
                %i.far.fa-square
            - else
              %i.far.fa-check-square
          - else
            = link_to admin_workshop_invitation_path(@workshop, invitation, attending: false), class: 'cancel_attendance float-right', title: 'Cancel RSVP', data: { confirm: "Are you sure you want to remove #{invitation.member.full_name} from the list of attendees?" }, method: :put, remote: true do
              %i.far.fa-minus-square
        .col-5
          - if invitation.member.newbie?
            %span{'data-bs-toggle': 'tooltip', 'data-bs-placement': 'bottom', title: 'New attendee.' }
              %i.fas.fa-paw
          - elsif invitation.member.flag_to_organisers?
            %span{'data-bs-toggle': 'tooltip', 'data-bs-placement': 'bottom', title: 'Multiple no shows and attendance warnings in the last six months' }
              %i.fas.fa-exclamation-circle

          - if invitation.member.recent_notes.any?
            %span{'data-bs-toggle': 'tooltip', 'data-bs-placement': 'bottom', title: "Note recently added"}
              %i.fas.fa-comment

          = link_to admin_member_path(invitation.member) do
            - if invitation.member.full_name.blank?
              = invitation.member.email
            - else
              = invitation.member.full_name
        .col-6
          -if invitation.tutorial?
            %p.mb-1 Tutorial: #{invitation.tutorial}
          -if invitation.note?
            %p.mb-1=invitation.note
          - if invitation.rsvp_time.present?
            %span{'data-bs-toggle': 'tooltip', 'data-bs-placement': 'bottom', title: 'Time of RSVP'}
              %p.mb-1.small
                %i.fas.fa-history
                =l(invitation.rsvp_time)
            - if invitation.automated_rsvp?
              %span{'data-bs-toggle': 'tooltip', 'data-bs-placement': 'bottom', title: 'Waiting list or admin addition'}
                %p.mb-1.small
                  %i.fas.fa-magic
          - if invitation.reminded_at.present?
            %span{'data-bs-toggle': 'tooltip', 'data-bs-placement': 'bottom', title: 'Reminder emailed at'}
              %p.mb-1.small
                %i.far.fa-clock
                =l(invitation.reminded_at)
