.container.py-4.py-lg-5
  .row.justify-content-md-center
    .col-md-10.col-lg-8
      %h1= t('member.details.edit.title')
      %p= t('member.details.edit.summary')

  = simple_form_for @member, url: member_details_path, method: :put do |f|
    .row.justify-content-md-center
      .col-md-10.col-lg-8
        = f.input :name, required: true
        = f.input :surname, required: true
        = f.input :pronouns
        = f.input :email, required: true
        - if @member.coach?
          = f.input :about_you, as: :text, label: t('member.details.edit.coach.about_you'), input_html: { rows: 3 }, required: true
        - else
          = f.input :about_you, as: :text, label: t('member.details.edit.student.about_you'), input_html: { rows: 3 }, required: true
        - if @member.errors[:how_you_found_us].any?
          %span.text-danger= @member.errors[:how_you_found_us].first
        .col-12.mb-3
          %label{ for: 'how_you_found_us' }= t('member.details.edit.how_you_found_us')
          %span *
          - options = ['From a friend', 'Search engine (Google etc.)', 'Social Media', "One of Codebar's hosts or partners"]
          - options.each do |option|
            .form-check
              = check_box_tag 'member[how_you_found_us][]', option, false, id: "how_you_found_us_#{option.parameterize}", class: 'form-check-input'
              = label_tag "how_you_found_us_#{option.parameterize}", option, class: 'form-check-label', style: 'margin-left: 8px;'
          = label_tag :how_you_found_us_other_reason, t('member.details.edit.how_you_found_us_other_reason'), class: 'my-1'
          = text_field_tag 'member[how_you_found_us_other_reason]', nil, placeholder: "Please specify how you heard about us", class: 'form-control w-100'
        = f.input :newsletter, as: :boolean, checked_value: true, unchecked_value: false
        .text-right.mb-4
          = hidden_field_tag :next_page, step2_member_path(member_type: @type)
          = f.button :button, t('member.details.edit.submit'), class: 'btn btn-primary'
