.container-fluid.pt-3
  .row.justify-content-md-center
    .col.col-md-8
      %h1= t('member.details.edit.title')
      %p= t('member.details.edit.summary')

  = simple_form_for @member, url: member_details_path, method: :put do |f|
    .row.justify-content-md-center
      .col.col-md-8
        = f.input :name, required: true
        = f.input :surname, required: true
        = f.input :pronouns
        = f.input :email, required: true
        - if @member.coach?
          = f.input :about_you, as: :text, label: t('member.details.edit.coach.about_you'), input_html: { rows: 3 }, required: true
        - else
          = f.input :about_you, as: :text, label: t('member.details.edit.student.about_you'), input_html: { rows: 3 }, required: true
        = f.input :newsletter, as: :boolean, checked_value: true, unchecked_value: false
        .text-right
          = hidden_field_tag :next_page, step2_member_path(member_type: @type)
          = f.button :button, t('member.details.edit.submit'), class: 'btn btn-primary'
