%section#banner
  .row
    .medium-12.columns
      %h1= t('member.details.edit.title')
      %p= t('member.details.edit.summary')

  = simple_form_for @member, url: member_details_path, method: :put do |f|
    .row
      .large-6.large-offset-3.columns
        = f.input :name, required: true
    .row
      .large-6.large-offset-3.columns
        = f.input :surname, required: true
    .row
      .large-6.large-offset-3.columns
        = f.input :pronouns

    .row
      .large-6.large-offset-3.columns
        = f.input :email, required: true

    .row
      .large-6.large-offset-3.columns
        - if @member.coach?
          = f.input :about_you, as: :text, label: t('member.details.edit.coach.about_you'), required: true
        - else
          = f.input :about_you, as: :text, label: t('member.details.edit.student.about_you'), required: true

    .row
      .large-6.large-offset-3.columns
        = f.input :newsletter, as: :boolean, boolean_style: :inline, checked_value: true, unchecked_value: false

    .row
      .large-6.large-offset-3.columns.text-right
        = hidden_field_tag :next_page, step2_member_path(member_type: @type)
        = f.submit t('member.details.edit.submit'), class: 'button round right'
