%h1= @course.title

=l(@course.date_and_time)

%h3= @course.short_description

.description
  = @course.description.html_safe
  - if @course.url.present?
    .right
      =link_to "read more about the course", @course.url

.tutor
  .avatar
    =link_to twitter_url_for(@course.tutor.twitter) do
      =image_tag @course.tutor.avatar

  .about
    %strong= @course.tutor.full_name
    =link_to "@#{@course.tutor.twitter}", twitter_url_for(@course.tutor.twitter)
    %br= @course.tutor.about_you.html_safe
