%section#courses
  .titlebox.course
    %h2
      = @course.title
    %small= "#{l(@course.date_and_time, format: :website_format)}"
    .dot

  .description
    %h4= @course.short_description
    = @course.description.html_safe
    - if @course.url.present?
      .right
        =link_to "read more about the course", @course.url

    - if @course.seats > @course.attending.length
      .sub-block
        #{link_to "Sign up", new_member_path} to receive an invitation to the course.
    - else
      .sub-block
        %small
          %em
            This course is fully booked! If you would like to receive an invitation to other courses we will be running, you should #{link_to("sign up", new_member_path)}.

  .row.description
    - @course.tutors.each do |tutor|
      .tutor.half
        .avatar
          =link_to twitter_url_for(tutor.twitter) do
            =image_tag tutor.avatar(80)

        .about
          %strong= tutor.full_name
          =link_to "@#{tutor.twitter}", twitter_url_for(tutor.twitter)
          %br= tutor.about_you.html_safe
