= render partial: 'shared/title', locals: { title: @course.title, date:  humanize_date_with_time(@course.date_and_time) }
%section#banner
  .container
    .row
      .medium-8.columns
        .row
          .large-12.columns
            %h5= @course.short_description
            %p= @course.description.html_safe

            - if @course.url
              #{link_to " Read more ", @course.url} about this event.
              %br
              %br

        .row
          .large-12.columns
            %h5 Tutors
            %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
              - @course.tutors.each do |tutor|
                %li.coach
                  .row
                    .small-2.columns
                      =link_to twitter_url_for(tutor.twitter) do
                        =image_tag tutor.avatar(106), class: 'th radius'
                    .small-10.columns
                      =link_to twitter_url_for(tutor.twitter) do
                        = tutor.full_name
                      %p= tutor.about_you.html_safe

      .medium-4.columns
        .panel
          - if @course.date_and_time.future?
            - if @course.seats > @course.attending.length
              #{link_to("RSVP", course_rsvp_path(@course), class: 'button round expand')}
            - else
              %p
                This course is fully booked. To receive an invitation to other courses we will be running, #{link_to("sign up", new_member_path)}.

  %br
    .row
      %hr
      .medium-8.columns
        %h4 Location
        %p
          %strong= @course.venue.name
          %br
            = @host_address.to_html
          %br
        %iframe{ width: '100%', height: '350', frameborder: '0', scrolling: 'no', marginheight: '0', marginwidth: '0', src: %{https://maps.google.com/maps?f=q&source=s_q&hl=en&amp;geocode=&q=#{@host_address.for_map}&ie=UTF8&t=m&z=15&output=embed} }
        = link_to "View larger map", %{https://maps.google.com/maps?f=q&source=s_q&hl=en&amp;geocode=&q=#{@host_address.for_map}&ie=UTF8&hq=&t=m&z=15}, style: "color:#0000FF;text-align:left"
      .large-4.columns
        %h4 Sponsors
        %ul.no-bullet
          - @course.sponsors.each do |sponsor|
            %li
              .row
                .large-4.columns
                  = image_tag sponsor.avatar, class: 'sponsor'
                .large-8.columns
                  =link_to sponsor.name, sponsor.website
                  %p
                    = sponsor.description
            %br


    .row
      .large-12.columns
        %hr
        %h4= t('events.organisers')
        %br
        %ul.small-block-grid-2.medium-block-grid-4
          - @course.organisers.each do |organiser|
            %li.text-center
              =link_to twitter_url_for(organiser.twitter) do
                =image_tag organiser.avatar(56), class: 'th radius', title: organiser.full_name
              %br
              %br
              = organiser.full_name
  %br
