.stripe.reverse
  .row
    .large-12.columns
      %h2
        = @course.title
        %br
        %small #{humanize_date(@course.date_and_time, with_time: true)}
      - if @course.date_and_time.past?
        %label.label.warning This event has already taken place.

.stripe.reverse
  .row
    .large-12.columns
      %h5= @course.short_description
      %p= dot_markdown(@course.description)

      - if @course.url
        #{link_to " Read more ", @course.url} about this event.
        %br
        %br
  .row
    .large-12.columns
      = render 'course_actions'

.stripe.reverse
  .row
    .large-12.columns
      .text-center
        %h3 Tutors
      %br
      %br
      %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-2
        - @course.tutors.each do |tutor|
          %li.coach
            .row
              .small-2.columns
                =link_to twitter_url_for(tutor.twitter), class: 'user-link' do
                  =image_tag(tutor.avatar(106), class: 'th radius', alt: tutor.full_name)
              .small-10.columns
                =link_to twitter_url_for(tutor.twitter) do
                  = tutor.full_name
                %p= tutor.about_you.html_safe


.stripe.reverse
  .row
    .large-8.columns
      %h4 Venue
      %p
        %strong= @course.venue.name
        %br
          = @host_address.to_html
      %iframe{ width: '100%', height: '350', frameborder: '0', scrolling: 'no', marginheight: '0', marginwidth: '0', src: %{https://maps.google.com/maps?f=q&source=s_q&hl=en&amp;geocode=&q=#{@host_address.for_map}&ie=UTF8&t=m&z=15&output=embed} }
      = link_to "View larger map", %{https://maps.google.com/maps?f=q&source=s_q&hl=en&amp;geocode=&q=#{@host_address.for_map}&ie=UTF8&hq=&t=m&z=15}, style: "color:#0000FF;text-align:left"
    .large-4.columns
      %h4 Sponsors
      %ul.no-bullet
        - @course.sponsors.each do |sponsor|
          %li
            .row
              .large-4.columns
                = image_tag(sponsor.avatar, class: 'sponsor', alt: sponsor.name)
              .large-8.columns
                =link_to sponsor.name, sponsor.website
                %p
                  = sponsor.description

.stripe.reverse
  = render partial: 'members/organisers_grid', locals: { members: @course.organisers, show_info: false }
