.container-fluid.mb-4
  .row
    .col
      %h1 New Group
      = simple_form_for [:admin, @group] do |f|
        .row
          .col-12.col-md-6
            = f.input :name, label: "Name", collection: Group::NAMES, prompt: "Select one"
        .row.mt-3
          .col-12.col-md-6
            = f.input :description
        .row
          .col-12.col-md-6
            = f.association :chapter, required: true
        .row
          .col.text-right
            = f.submit 'Create group', class: 'btn btn-primary mt-4'
