.container-fluid.pt-3
  .row.mb-4
    .col
      %h1 New Group

  .row
    .col.col-lg-8
      = simple_form_for [:admin, @group] do |f|
        = f.input :name, label: 'Name', collection: Group::NAMES
        = f.input :description, input_html: { rows: 3 }
        = f.association :chapter, required: true
        .text-right
          = f.button :button, 'Create group', class: 'btn btn-primary'
