.container.py-4.py-lg-5
  .row.mb-4
    .col
      %h1
        = @group.name
        %small.text-muted #{@group.chapter.name}

  .row
    .col
      %h3.mb-3 Members (#{@group.members.count})
      %table.table.table-striped.table-hover
        %tbody
          - @group.members.each do |member|
            %tr
              %td= image_tag(member.avatar(32), class: 'rounded-circle', title: member.full_name, alt: member.full_name)
              %td= link_to member.full_name, admin_member_path(member)
              %td= mail_to member.email, member.email
              %td= member.mobile
