%fieldset.mt-0
  %legend.mb-3 Job post details
  = f.input :title, required: true
  = f.input :description, input_html: { rows: 10 }, required: true
  = f.input :salary, required: true
  = f.input :remote
  = f.input :email
  = f.input :link_to_job, required: true
  = f.input :expiry_date, as: :string, required: true, input_html: { data: { value: @job.expiry_date.try(:strftime, '%d/%m/%Y') } }

%fieldset
  %legend.mb-3 Company details
  = f.input :company, required: true
  = f.input :company_website, required: true
  = f.input :location, required: true

%fieldset
  %p
    %small= t('member.jobs.new.optional_details_message')
  = f.input :company_address
  = f.input :company_postcode

.text-right
  = f.button :button, 'Submit job for approval', class: 'btn btn-primary'
