.job
  .row.pt-4
    .col
      %nav{'aria-label': 'breadcrumb'}
        %ol.breadcrumb.ml-0
          %li.breadcrumb-item.active= link_to t('member.jobs.title'), '#'

  - if @jobs.any?
    .stripe.reverse
      .row
        %table.table.table-striped
          %thead
            %tr
              %th Job title
              %th Company
              %th Location
              %th Published on
              %th Expires on
              %th Status
              %th
          %tbody
            - @jobs.each do |job|
              = render partial: 'member/jobs/job', locals: { job: job }

      .row.mb-4
        .col-12.col-md-6.text-left
          = page_entries_info(@jobs, model: 'job')
        .col-12.col-md-6.text-right
          = will_paginate(@jobs)

      .row
        .col.text-right
          = link_to('Post a job', new_member_job_path, class: 'btn btn-primary')
  - else
    .stripe.reverse
      .row.justify-content-center
        .col.col-md-10.col-lg-8
          %h1.h2= t('member.jobs.index.title', students_count: @students_count)
          %p= t('member.jobs.index.description')
          .card.mb-4.border-primary
            .card-body
              %p.mb-0
                = raw t('member.jobs.index.offer.title')
                %br
                %span= t('member.jobs.index.offer.job_board')
                %br
                %span= t('member.jobs.index.offer.slack')
                %br
                %span= t('member.jobs.index.offer.twitter')
          = link_to('Post a job', new_member_job_path, class: 'btn btn-primary')

    .stripe.reverse
      .row.justify-content-center
        .col.col-md-10.col-lg-8
          %blockquote
            %p= t('member.jobs.index.testimonial')
            %footer.clearfix
              = image_tag('ok.png', size: '30', class: 'th radius left', alt: 'Bruno Girin')
              %cite.left Bruno Girin, CTO, Imby
