.job
  .row
    .small-12.columns
      %br
      %ul.breadcrumbs
        %li.current=link_to t('member.jobs.title'), "#"

  - if @jobs.any?
    .row
      %table.large-12.columns
        %thead
          %tr
            %th Job title
            %th Company
            %th Location
            %th Published on
            %th Expires on
            %th Status
            %th
        %tbody
          - @jobs.each do |job|
            = render partial: 'member/jobs/job', locals: { job: job }
    .row
      .medium-6.columns.text-left
        = page_entries_info(@jobs, model: 'job')
      .medium-6.columns.text-right
        = will_paginate(@jobs)

    .row.mt2
      .small-12.columns
        =link_to('Post a job', new_member_job_path, class: 'button medium')

  - else
    .stripe.reverse
      .row
        .small-12.large-10.columns
          %h1= t('member.jobs.index.title', students_count: @students_count)
          %p= t('member.jobs.index.description')
          .panel
            %p
              = raw t('member.jobs.index.offer.title')
              %br
              %span= t('member.jobs.index.offer.job_board')
              %br
              %span= t('member.jobs.index.offer.slack')
              %br
              %span= t('member.jobs.index.offer.twitter')
          =link_to('Post a job', new_member_job_path, class: 'button medium')
    
    .stripe.reverse
      .row
        .small-12.large-8.large-offset-2.columns
          %blockquote
            %p= t('member.jobs.index.testimonial')
            %footer.clearfix
              = image_tag('ok.png', size: "30", class: 'th radius left', alt: 'Bruno Girin')
              %cite.left Bruno Girin, CTO, Imby
