.job
  .stripe
    .row
      .large-12.columns
        %ul.breadcrumbs
          %li
            %span=link_to t('member.jobs.title'), member_jobs_path
          %li.current
            %span=t('member.jobs.new.title')

    .row
      .large-12.columns
        %p=t('member.jobs.new.description')

    .row
      .large-12.columns
        .panel
          %p=t('member.jobs.new.rules_intro')
          %ul.no-bullet
            %li
              %input#work-details{type: 'checkbox'}
              %label{for: 'work-details'}= t('member.jobs.new.details')
            %li
              %input#roles{type: 'checkbox'}
              %label{for: 'roles'}= t('member.jobs.new.suitability')
            %li
              %input#pay{type: 'checkbox'}
              %label{for: 'pay'}= t('member.jobs.new.salary')
            %li
              %input#short{type: 'checkbox'}
              %label{for: 'short'}= t('member.jobs.new.short')
            %li
              %input#donation{type: 'checkbox'}
              %label{for: 'donation'}= t('member.jobs.new.pay.html', link: new_donation_path)

    .row
      .large-12.columns
        %p= raw t('member.jobs.new.newsletter')

    %br
    .row
      .large-12.columns
        = simple_form_for @job, url: member_jobs_path, method: :post do |f|
          = render partial: 'form', locals: { f: f }
