.container.pt-4
  .row
    .col
      %nav{'aria-label': 'breadcrumb'}
        %ol.breadcrumb.ml-0.mb-0
          %li.breadcrumb-item=link_to t('member.jobs.title'), member_jobs_path
          %li.breadcrumb-item.active=t('member.jobs.new.title')

  .row.py-4.py-lg-5
    .col-12.col-lg-5.order-lg-2
      .card
        .card-header
          %h6.mb-0=t('member.jobs.new.rules_intro')
        .card-body
          %ul.list-unstyled.ml-0
            %li.form-check.mb-3
              %input.form-check-input.mt-1#roles{type: 'checkbox'}
              %label.form-check-label{for: 'roles'}= t('member.jobs.new.suitability')
            %li.form-check.mb-3
              %input.form-check-input.mt-1#degree{type: 'checkbox'}
              %label.form-check-label{for: 'degree'}= t('member.jobs.new.degree')
            %li.form-check.mb-3
              %input.form-check-input.mt-1#experience{type: 'checkbox'}
              %label.form-check-label{for: 'experience'}= t('member.jobs.new.experience')
            %li.form-check.mb-3
              %input.form-check-input.mt-1#work-details{type: 'checkbox'}
              %label.form-check-label{for: 'work-details'}= t('member.jobs.new.details')
            %li.form-check.mb-3
              %input.form-check-input.mt-1#short{type: 'checkbox'}
              %label.form-check-label{for: 'short'}= t('member.jobs.new.short')
            %li.form-check.mb-3
              %input.form-check-input.mt-1#pay{type: 'checkbox'}
              %label.form-check-label{for: 'pay'}= t('member.jobs.new.salary')
            %li.form-check.mb-3
              %input.form-check-input.mt-1#payment{type: 'checkbox'}
              %label.form-check-label{for: 'payment'}= t('member.jobs.new.pay.html', link: new_payment_path)
          %p.mb-0= raw t('member.jobs.new.newsletter')
      %br
    .col-12.col-lg-7.order-lg-1
      = simple_form_for @job, url: member_jobs_path, method: :post do |f|
        = render partial: 'form', locals: { f: f }
