.stripe.reverse
  .row
    .large-12.columns
      %h2=t('member.jobs.new.title')
      %p
        =t('member.jobs.new.rules_intro')
        %ul.no-bullet
          %li
            %input#work-details{type: 'checkbox'}
            %label{for: 'work-details'}= t('member.jobs.new.details')
          %li
            %input#roles{type: 'checkbox'}
            %label{for: 'roles'}= t('member.jobs.new.suitability')
          %li
            %input#pay{type: 'checkbox'}
            %label{for: 'pay'}= t('member.jobs.new.salary')
          %li
            %input#short{type: 'checkbox'}
            %label{for: 'short'}= t('member.jobs.new.short')
      %p
        = t('member.jobs.new.payment')
      =link_to t('jobs.new.pay'), new_donation_path, class: 'button'
      %br
      %small= t('jobs.new.approval_info')

.stripe.reverse
  .row
    .large-12.columns
      = render partial: 'form'
