.container.pt-4
  .row.pt-4.mb-4
    .col
      %nav{'aria-label': 'breadcrumb'}
        %ol.breadcrumb.ml-0.mb-0
          %li.breadcrumb-item= link_to t('member.jobs.title'), member_jobs_path
          %li.breadcrumb-item.active= @job.title

  .row.mb-4
    .col-12
      .alert.alert-info
        = t("job.messages.#{@job.status}_html")
        - if @job.published?
          = t('job.messages.public_page_html', link: link_to('public page', job_path(@job)))
    .col-12
      - if @job.draft? || @job.pending?
        = link_to 'Edit', edit_member_job_path(@job.id), class: 'btn btn-primary', role: 'button'
      - if @job.pending?
        = link_to 'Submit', '#', class: 'btn btn-primary disabled', role: 'button'
      - else
        = link_to 'Submit', member_job_submit_path(@job.id), class: 'btn btn-primary', method: :post, role: 'button'
        = link_to t('member.jobs.new.button.pay'), new_payment_path, class: 'btn btn-info', role: 'button'
        %br
        %small= t('member.jobs.new.approval_info')
  .row
    %h1.mb-4 Preview

.bg-light
  = render partial: 'jobs/show', locals: { admin: false, preview: true }
