.row
  .medium-12.columns
    - @chapter.groups.each do |group|
      - if belongs_to_group?(group)
        %span{ "data-tooltip" =>"", "aria-haspopup" => "true",  class: "has-tip", title: "Unsubscribe from #{@chapter.name} #{group.name}" }
          = link_to subscriptions_path(subscription: { group_id: group }), method: 'delete', class: 'button secondary small' do
            =group.name
            %i.fa.fa-check
      - else
        %span{ "data-tooltip" =>"", "aria-haspopup" => "true",  class: "has-tip", title: "Subscribe to #{@chapter.name} #{group.name}" }

          = link_to subscriptions_path(subscription: { group_id: group }), method: 'post', class: 'button small' do
            = group.name
            %i.fa.fa-rss
