%section.stripe.reverse
  .row
    .large-12.columns
      %h1= @chapter.name
  .row
    .large-7.columns
      - if @chapter.description
        %p.lead= @chapter.description
      - else
        %p.lead= t('chapters.intro_html')
.panel
  .row
    .small-12.medium-6.columns
      = t('chapters.info', email: h(@chapter.email)).html_safe
    .small-12.medium-6.columns.text-center
      - if logged_in?
        = render partial: 'subscriptions'
      - else
        =link_to 'Sign up', new_member_path, class: 'button small radius'

%section.stripe.reverse#chapter
  .row
    .large-8.columns
      - if @upcoming_workshops.any?
        - @upcoming_workshops.each do |date, workshops|
          .row.grouped-events
            .medium-12.columns
              %h4= date
            = render workshops

      - if @latest_workshops.any?
        %h3 Latest events
        %br
        - @latest_workshops.each do |date, workshops|
          .row.grouped-events
            .medium-12.columns
              %h4= date
            = render workshops

    .large-4.columns
      - if @chapter.twitter_handle
        %a.twitter-timeline{href: "https://twitter.com/#{@chapter.twitter_handle}", "data-widget-id" => @chapter.twitter_id }="Tweets by #{@chapter.twitter_handle}"
      - else
        %a.twitter-timeline{href: "https://twitter.com/codebar", "data-widget-id" => @chapter.twitter_id, "data-height" => "500" }="Tweets by codebar"

      %script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

- if @recent_sponsors.any?
  .stripe.reverse
    .row
      .small-12.columns
        %h2 Sponsors
    .row.sponsor-row
      - @recent_sponsors.each do |sponsor|
        .small-4.medium-2.columns.sponsor-image
          = link_to image_tag(sponsor.avatar, class: "small-image", alt: sponsor.name), sponsor.website, title: sponsor.name

.stripe.reverse
  .row
    .large-12.columns
      %a{ name: 'organisers' }
      %h2 Team
  .row.organisers-grid
    - @chapter.organisers.shuffle.each do |organiser|
      .small-12.medium-6.large-3.columns.organiser-item
        = link_to twitter_url_for(organiser.twitter), title: "#{organiser.full_name} Twitter profile", class: 'organiser-content' do
          = image_tag(organiser.avatar(65), alt: organiser.full_name, class: 'organiser-image')
          = organiser.full_name
  .row  
    .large-12.columns
      .panel
        = t('chapters.contact', city: @chapter.name, email: @chapter.email)
