= render partial: 'shared/title', locals: { title: @chapter.name, date: nil }
.row
  .large-7.medium-6-small-12.columns
    Our workshops are open to anyone under-represented in the tech industry, but places are limited.
    =link_to "Sign up", new_member_path
    to receive invitations to our upcoming workshops.

%section#chapter
  .row
    .large-7.medium-6.small-12.columns
      - if @upcoming_workshops.empty?
        %p.lead
          There are no upcoming workshops.
        %p.lead
          =link_to "Sign up", new_member_path, class: 'round tiny'
          to receive an invitation when the next workshop is announced!

      %ul.no-bullet
        - @upcoming_workshops.each do |workshop|
          = render partial: 'events/event', locals: { event: workshop }

    .large-offset-1.large-4.medium-6.small-12.columns
      %a.twitter-timeline{href: "https://twitter.com/#{@chapter.twitter_handle}", "data-widget-id" => @chapter.twitter_id }="Tweets by #{@chapter.twitter_handle}"
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    %hr
  .row
    .large-12.columns
      %a{ name: "organisers" }
      %h4 The team

      %ul.small-block-grid-1.medium-block-grid-3
        - @chapter.organisers.shuffle.each do |organiser|
          %li.organiser
            .row
              .small-12.columns
                =link_to twitter_url_for(organiser.twitter) do
                  =image_tag organiser.avatar(96), class: 'th radius', title: organiser.full_name
            .row
              .small-12.columns
                =link_to twitter_url_for(organiser.twitter) do
                  = organiser.full_name

      .panel
        To contact the #{@chapter.name} team, send an email to #{@chapter.email}
