.container
  .row
    .col-md-6.col-sm-12
      %h1= @chapter.name
      - if @chapter.description
        %p.lead= @chapter.description
      - else
        %p.lead= t('chapters.intro_html')
    - if @chapter.image.present?
      .col-6.chapter-header-image
        = image_tag @chapter.image.bg, alt: "#{@chapter.name} chapter"

.alert.alert-primary
  .row
    .col-6
      = t('chapters.info', email: h(@chapter.email)).html_safe
    .col-6.text-center
      - if logged_in?
        = render partial: 'subscriptions'
      - else
        =link_to 'Sign up', new_member_path, class: 'btn btn-primary'

.container.stripe.reverse
  .row
    .col-md-8.col-sm-12
      - if @upcoming_workshops.any?
        .events-list.events-list--upcoming
          %h3 Upcoming Events
          - @upcoming_workshops.each do |date, workshops|
            .grouped-events
              = render workshops

      - if @latest_workshops.any?
        .events-list.events-list--past
          %h3 Past Events
          - @latest_workshops.each do |date, workshops|
            .grouped-events
              = render workshops

    .col-md-4.col-sm-12
      - if @chapter.twitter_handle
        %a.twitter-timeline{href: "https://twitter.com/#{@chapter.twitter_handle}", "data-widget-id" => @chapter.twitter_id }="Tweets by #{@chapter.twitter_handle}"
      - else
        %a.twitter-timeline{href: "https://twitter.com/codebar", "data-widget-id" => @chapter.twitter_id, "data-height" => "500" }="Tweets by codebar"

      %script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")

- if @recent_sponsors.any?
  .stripe.reverse
    .row
      .col.text-center
        %h2 Sponsors
    .row.mt-4.d-flex.align-items-center
      - @recent_sponsors.each do |sponsor|
        .col-3.col-md-2
          = link_to image_tag(sponsor.avatar, alt: sponsor.name), sponsor.website, class: "border-0", title: sponsor.name

.stripe.reverse
  .container.row
    .col.text-center
      %a{ name: 'organisers' }
      %h2 Team
  .container.row.mt-4
    - @chapter.organisers.shuffle.each do |organiser|
      .col-4.col-md-3.text-center.border
        .pt-4
          = link_to twitter_url_for(organiser.twitter), title: "#{organiser.full_name} Twitter profile" do
            = image_tag(organiser.avatar(65), class: "mt-3", alt: organiser.full_name, class: 'rounded-circle')
            %p= organiser.full_name
  .container.row.mt-4
    .col.alert.alert-primary
      = t('chapters.contact', city: @chapter.name, email: @chapter.email)
