%section.stripe.reverse
  .row
    .large-12.columns
      %h4= @chapter.name
      %p.lead
        = raw t('chapters.intro', email: @chapter.email)
      - if logged_in?
        = render partial: 'subscriptions'
      - else
        %p
          =link_to "Sign up", new_member_path, class: 'button tiny'


%section.stripe.reverse#chapter
  .row
    .large-8.columns
      - if @upcoming_workshops.any?
        - @upcoming_workshops.each do |date, workshops|
          .row.grouped-events
            .medium-12.columns
              %h4= date
            = render workshops

      - if @latest_workshops.any?
        %h3 Latest events
        %br
        - @latest_workshops.each do |date, workshops|
          .row.grouped-events
            .medium-12.columns
              %h4= date
            = render workshops


    .large-4.columns
      - if @chapter.twitter_handle
        %a.twitter-timeline{href: "https://twitter.com/#{@chapter.twitter_handle}", "data-widget-id" => @chapter.twitter_id }="Tweets by #{@chapter.twitter_handle}"
      - else
        %a.twitter-timeline{href: "https://twitter.com/codebar", "data-widget-id" => @chapter.twitter_id, "data-height" => "500" }="Tweets by codebar"

      %script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")


.stripe.reverse
  .row
    .large-12.columns
      %a{ name: "organisers" }
      %h3 Team

      .row
        - @chapter.organisers.shuffle.each do |organiser|
          .small-12.medium-6.large-3.columns.end
            .organiser
              .row
                .small-12.columns
                  =link_to twitter_url_for(organiser.twitter), class: 'user-link' do
                    =image_tag(organiser.avatar(65), class: 'th radius', title: organiser.full_name, alt: organiser.full_name)
              .row
                .small-12.columns
                  =link_to twitter_url_for(organiser.twitter) do
                    = organiser.full_name

      %br
      .panel
        = t('chapters.contact', city: @chapter.name, email: @chapter.email)
