.container
  .row.align-items-center
    .col-md-6.py-4
      %h1= @chapter.name
      - if @chapter.description.present?
        %p.lead= @chapter.description
      - else
        %p.lead.mb-0= t('chapters.intro_html')
    - if @chapter.image.present?
      .col-md-6
        = image_tag @chapter.image.bg.url, alt: "#{@chapter.name} chapter", class: 'mw-100'

.alert.alert-primary.pt-4.pb-4.mb-0.rounded-0
  .container
    .row.align-items-center
      .col-md-6.mb-4.mb-md-0
        = t('chapters.info', email: h(@chapter.email)).html_safe
      .col-md-6.text-center
        - if logged_in?
          = render partial: 'subscriptions'
        - else
          = link_to t('members.sign_up'), new_member_path, class: 'btn btn-primary'

.container.py-4.py-lg-5
  .row
    .col-md-8.col-sm-12
      - if @upcoming_workshops.any?
        %h2.mb-4= t('homepage.events.upcoming')
        - @upcoming_workshops.each do |date, workshops|
          %h3.h5= date
          = render workshops

      - if @latest_workshops.any?
        .pt-4
          %h2.mb-4 Past Events
          - @latest_workshops.each do |date, workshops|
            = render workshops

- if @recent_sponsors.any?
  .py-4.py-lg-5.bg-light
    .container
      .row
        .col
          %h2.text-center Sponsors
      = render partial: 'shared/sponsors', object: @recent_sponsors

.container.py-4.py-lg-5
  = render partial: 'members/organisers_grid', locals: { members: @chapter.organisers.shuffle, show_info: false, title: t('chapters.team') }

  .mt-5
    .alert.alert-primary.mb-0
      = t('chapters.contact', city: @chapter.name, email: @chapter.email)

.py-4.py-lg-5.bg-light
  .container
    = render partial: 'shared/donation_platforms', locals: { title: t('homepage.donation_platforms.title'), with_button: true }
