.container-fluid
  .row
    .col
      %h1 Edit #{@chapter.name} chapter
  .row
    .col
      = simple_form_for [:admin, @chapter] do |f|
        .row
          .col-12.col-md-6
            = f.input :name, placeholder: 'e.g. Cambridge', required: true
        .row
          .col-12.col-md-6
            = f.input :email, placeholder: 'e.g. cambridge@codebar.io', required: true
        .row
          .col-12.col-md-6
            = f.input :city, required: true
        .row
          .col-12.col-md-6
            = f.input :description, required: false, hint: 'Optionally, specify a custom welcome message for the chapter, to be displayed on the chapter page. Max. 280 characters.'
        .row
          .col-12.col-md-6
            = f.input :twitter, placeholder: '@codebarCam', required: false
        .row
          .col-12.col-md-6.chosen-dropwdown
            = f.input :time_zone, required: true
        .row
          .col-12.col-md-6
            = f.input :image, as: :file
            = f.hidden_field :image_cache
        .row
          .col.text-right
            = f.button :button, 'Update chapter', class: 'btn btn-primary'
