%section#banner
  .row
    .large-12.columns
      %h1 Chapters
      = link_to t('.view_all_chapters'), admin_chapters_path
      &nbsp;
      = link_to t('.view_active_chapters'), admin_chapters_path(active: true)
      &nbsp;
      = link_to t('.view_inactive_chapters'), admin_chapters_path(active: false)
    .row
      .large-12.columns
        %hr
      .large-4.columns
        Name / City / Slug
      .large-4.columns
        Email / Twitter
      .large-1.columns
        Active?

  - @chapters.each do |chapter|
    .row
      %hr
      .large-4.columns
        = link_to admin_chapter_path(chapter) do
          %p= chapter.name
        %p= chapter.city
        %p= chapter.slug
      .large-4.columns
        %p= chapter.email
        %p= chapter.twitter
      .large-1.columns
        = check_box_tag :chapter_active, 'true', chapter.active?, class: 'chapter_active', data: { 'chapter-id': chapter.id, }

- content_for :page_footer do
  :javascript
    $('input.chapter_active').on('click', function() {
      let active = $(this).is(':checked');
      let message = "#{t('.change_chapter_to_inactive_confirmation')}";

      if (active) {
        message = "#{t('.change_chapter_to_active_confirmation')}";
      }

      if (!confirm(message)) {
        return false;
      }
    });

    $('input.chapter_active').on('change', function() {
      let element = $(this);
      let chapterId = element.data('chapter-id');
      let active = element.is(':checked');
      let url = '/admin/chapters/' + chapterId;

      $.ajax({
        type: "PUT",
        url: url,
        data: { chapter: { active: active } }
      })
    });
