.container-fluid
  .row
    .col
      %h2 New Chapter
  .row
    .col
      = simple_form_for [:admin, @chapter] do |f|
        .row
          .col-12.col-md-6
            = f.input :name, placeholder: 'e.g. Cambridge', required: true
        .row
          .col-12.col-md-6
            = f.input :email, placeholder: 'e.g. cambridge@codebar.io', required: true
        .row
          .col-12.col-md-6
            = f.input :city, required: true
        .row
          .col-12.col-md-6
            = f.input :time_zone, required: true
        .row.mt-4
          .col.text-right
            = f.button :button, 'Create chapter', class: 'btn btn-primary'
