%section#banner
  .row
    .medium-12.columns
      %h2.subheader
        %small
          = link_to edit_admin_chapter_path(@chapter) do
            %i.fa.fa-edit
        = @chapter.name
        %small= @chapter.email

  .row
    .large-4.columns.panel
      %h4 Organisers
      %ul.no-bullet
        - @chapter.organisers.each do |organiser|
          %li
            = organiser.full_name
            - if organiser.mobile.present?
              =organiser.mobile
            - else
              .label.alert Phone number not set
    .large-4.columns
      %ul.side-nav
        - @groups.each do |group|
          %li
            = link_to [ :admin, group ] do
              #{group.name} (#{group.members.count})
            = link_to admin_chapter_members_path(@chapter, type: group.name.downcase) do
              View #{group.name} emails
    .large-3.columns.end
      = link_to 'View all sponsors', admin_sponsors_path, class: 'button round expand small'
      = link_to 'View all workshops', admin_chapter_workshops_path(@chapter), class: 'button round expand small'

  .row
    .large-4.columns
      %h4 Upcoming Workshops
      %ul.side-nav
        - @workshops.each do |workshop|
          %li
            = link_to admin_workshop_path(workshop) do
              = humanize_date(workshop.date_and_time, with_time: true)
              - if workshop.invitable?
                (#{workshop.invitations.accepted.count})
    .large-8.columns
      %h4 Latest subscribers
      = render partial: 'admin/subscriptions/index', locals: { subscribers: @subscribers }
