%section#banner
  .row
    .medium-12.columns
      %h2.subheader
        =@chapter.name
        %small=@chapter.email

  .row
    .large-4.columns.panel
      %h4 Organisers
      %ul.no-bullet
        %li
          - @chapter.organisers.each do |organiser|
            = organiser.full_name
            - if organiser.mobile.present?
              =organiser.mobile
            - else
              .label.alert Phone number not set
    %hr

  .row
    .large-4.columns
      %h4 Upcoming Workshops
      %ul.side-nav
        - @workshops.each do |workshop|
          %li
            =link_to admin_workshop_path(workshop) do
              = humanize_date_with_time(workshop.date_and_time, workshop.time)
              - if workshop.invitable?
                (#{workshop.invitations.accepted.count})
    .large-4.columns
      %h4 Sponsors
      %ul.side-nav
        - @sponsors.each do |sponsor|
          %li
            = link_to sponsor.name, [ :admin, sponsor ]
    .large-4.columns
      %h4 Groups
      %ul.no-bullet
        - @groups.each do |group|
          %li
            =link_to group.name, [ :admin, group ]
            (#{group.members.count})
  .row
    .large-4.columns
      %h4 Last 10 subscribers
      %ul.no-bullet
        - @subscribers.each do |member|
          %li
            =image_tag member.avatar(24), class: 'th radius', title: member.full_name
            = member.full_name
