= render partial: 'shared/title', locals: { title: "Workshop Feedback" , date:  humanize_date(@workshop.date_and_time, with_time: true) }
%section#banner
  .row
    .large-12.columns
      %p
        Your submission will be completely anonymous. We read every piece of feedback and use it to help us improve our workshops

  .row
    .large-12.columns
      = simple_form_for @feedback, url: submit_feedback_path(params[:id]), html: {method: "patch"} do |f|
        = f.hidden_field :token, :value => params[:id]
        = f.hidden_field :rating
        .row
          .large-6.columns
            %label.required
              %abbr(title='required') *
              Your overall rating of the workshop
            .rating{:data => {:rating_max => 5 }}
        .row
          .large-6.columns
            = f.association :coach, collection: @coaches, label_method: :full_name, value_method: :id, label: 'Who was your coach?', include_blank: '- Select Coach -'
        .row
          .large-6.columns
            = f.association :tutorial, label_method: :title, value_method: :id, label: 'What tutorial did you go through?', include_blank: '- Select Tutorial -'
        .row
          .large-6.columns
            = f.input :workshop_id, collection: recent_workshop_details, value_method: :first, label_method: :last, label: 'Which workshop did you attend?', include_blank: '- Select Workshop -'
        .row
          .large-12.columns
            = f.input :request, label: 'How did you find the workshop?'
        .row
          .large-12.columns
            = f.input :suggestions, label: "Was there something you didn't like? What can we do to improve your experience?"
        .row
          .large-12.columns.text-right
            = f.submit 'Submit feedback', class: 'button round right'

:javascript
  $(".rating").starRating({
    minus: false
    });
    $('input[name="commit"]').click(function(){
    $('#feedback_rating').val($('.rating').data('val'))
  });
