.container.py-4.py-lg-5
  .row.justify-content-md-center
    .col-md-10.col-lg-8
      %h1= t('feedback_form.title')
      %p.lead.text-muted= humanize_date(@workshop.date_and_time, with_time: true)

.container.pb-4.pb-lg-5
  .row.justify-content-md-center
    .col-md-10.col-lg-8
      %p
        = t('feedback_form.description')
        %br
        %small= t('feedback_form.note')

  .row.justify-content-md-center
    .col-md-10.col-lg-8
      = simple_form_for @feedback, url: submit_feedback_path(params[:id]), html: { method: 'patch' } do |f|
        .row
          = f.hidden_field :token, value: params[:id]
          = f.hidden_field :rating
          .mb-3
            %label.required
              %abbr(title='required') *
              = t('feedback_form.rating')
            .rating{:data => {:rating_max => 5 }}
          .col-lg-6
            = f.association :coach, collection: @coaches, label_method: :full_name, value_method: :id, label: t('feedback.coach')
          .col-lg-6
            = f.association :tutorial, label_method: :title, value_method: :id, label: t('feedback_form.tutorial'), include_blank: t('feedback_form.select_tutorial')
          = f.input :request, label: t('feedback_form.request'), input_html: { rows: 3 }
          = f.input :suggestions, label: t('feedback_form.suggestions'), input_html: { rows: 3 }
          .text-right
            = f.button :button, 'Submit feedback', class: 'btn btn-primary'

:javascript
  $('.rating').starRating({ minus: false });

  $('button[type="submit"]').on('click', function () {
    $('#feedback_rating').val($('.rating').data('val'))
  });
