%li
  %h6.dropdown-header Admin Menu
%li
  = link_to admin_root_path, class: 'dropdown-item' do
    Admin Dashboard
%li
  = link_to admin_feedback_index_path, class: 'dropdown-item' do
    View Feedback
%li
  = link_to new_admin_announcement_path, class: 'dropdown-item' do
    New Announcement
%li
  = link_to new_admin_workshop_path, class: 'dropdown-item' do
    New workshop
%li
  = link_to new_admin_sponsor_path, class: 'dropdown-item' do
    New sponsor
%li
  = link_to new_admin_event_path, class: 'dropdown-item' do
    New event
%li
  = link_to new_admin_meeting_path, class: 'dropdown-item' do
    New monthly
%li
  = link_to new_admin_chapter_path, class: 'dropdown-item' do
    New chapter
%li
  = link_to new_admin_group_path, class: 'dropdown-item' do
    New group
%li
  = link_to admin_testimonials_path, class: 'dropdown-item' do
    Testimonials

- if current_user.has_role?(:organiser, :any)
  %li
    %hr.dropdown-divider
  %li
    %h6.dropdown-header My Chapters
  - current_user.organised_chapters.each do |chapter|
    %li
      = link_to chapter.name, admin_chapter_path(chapter), class: 'dropdown-item'
    %li
      = link_to "#{chapter.name} feedback", admin_chapter_feedback_index_path(chapter), class: 'dropdown-item'
