%aside.left-off-canvas-menu
  %ul.off-canvas-list
    - if upcoming_workshops.any?
      - upcoming_workshops.each do |workshop|
        - if can_access?(workshop)
          %li
            = link_to "(#{workshop.chapter.city}) #{l(workshop.date_and_time, format: :date)}", admin_workshop_path(workshop)
    - if current_user.is_admin? or current_user.is_organiser?
      %li
        = link_to "Dashboard", admin_root_path
      %li=link_to "New workshop", new_admin_workshop_path
      %li=link_to "Feedback", coach_feedback_index_path
    - if current_user.is_admin?
      %li=link_to "Review jobs (#{jobs_pending_approval})", admin_jobs_path
    %li= link_to "Jobs", jobs_path


    %li
      %label Account
    %li=link_to "Invitations", invitations_path
    %li=link_to "Update Profile", profile_path
    %li=link_to "Manage subscriptions", subscriptions_path
    - if current_user.is_admin?
      %li
        %label Admin
      %li=link_to "New chapter", new_admin_chapter_path
      %li=link_to "New group", new_admin_group_path
