%aside.left-off-canvas-menu
  %ul.off-canvas-list
    - if current_user.is_admin?
      = render 'layouts/admin_menu'
    - elsif current_user.is_monthlies_organiser?
      = render 'layouts/monthlies_org_menu'
    - elsif current_user.has_role?(:organiser, :any)
      = render 'layouts/organiser_menu'
    %li
      %label Portal
      %li= link_to 'Jobs',  jobs_path
      %li= link_to 'List a job',  new_job_path
    %li
      %label Account
    %li= link_to 'My Profile', profile_path
    %li= link_to 'My Dashboard', dashboard_path
    %li= link_to 'Invitations', invitations_path
    %li= link_to 'Manage subscriptions', subscriptions_path
    %li= link_to 'Update details', edit_member_path
    %li
      = link_to logout_path do
        Sign out
        %i.fa-stack.fa-lg
          %i.fa.fa-stack-2x
          %i.fa.fa-sign-out.fa-stack-1x
