%footer
  .row
    .large-3.columns
      %p.copyright
        &#169; 2015 codebar

      %p.contact
        =t("footer.email_us")
        =mail_to "hello@codebar.io?Subject=Hello%20codebar", "hello@codebar.io"

    .large-3.columns
      %ul.no-bullet
        %li= link_to t("navigation.code_of_conduct"), code_of_conduct_path
        %li= link_to t("navigation.coach_guide"), teaching_guide_path
        %li= link_to t("navigation.tutorials"), "http://tutorials.codebar.io"
        %li= link_to t("navigation.becoming_sponsor"), "http://manual.codebar.io/becoming-a-sponsor"
        %li= link_to t("navigation.faq"), faq_path

    .large-3.columns
      %ul.no-bullet
        %li= link_to t("navigation.blog"), "http://blog.codebar.io"
        %li= link_to t("navigation.coaches"), coaches_path
        %li= link_to t("navigation.sponsors"), sponsors_path
        %li= link_to t("navigation.events"), events_path
        %li.active= link_to t("navigation.donate"), "http://donate.codebar.io"

    .large-3.columns
      = render partial: 'shared/social_media'
      %span.git-tip
        %script{ :"data-gittip-username" => "by_codebar", :src => "//gttp.co/v1.js" }
  .row
    .large-12.columns
      = link_to "https://www.gosquared.com/", title: "GoSquared.com" do
        =image_tag "https://dl.dropboxusercontent.com/u/108831317/gosq.png"
