%nav.top-bar{ "data-topbar" => "" }
  %ul.title-area
    - if logged_in?
      %li#profile
        =link_to "#", class: "left-off-canvas-toggle menu" do
          .fa-stack.fa-lg
            .fa.fa-stack-2x
            .fa.fa-stack-1x.fa-outdent

    %li.name
      =link_to root_path do
        .brand codebar
    %li.toggle-topbar.menu-icon
      =link_to "Menu", "#"

  %section.top-bar-section
    %ul.right
      - if current_page?(events_path)
        %li.active= link_to "Events", events_path
      - else
        %li= link_to "Events", events_path
      - if current_page?(faq_path)
        %li.active= link_to "FAQ", faq_path
      - else
        %li= link_to "FAQ", faq_path
      %li= link_to "Tutorials", "http://tutorials.codebar.io"
      - if current_page?(coaches_path)
        %li.active= link_to "Our Coaches", coaches_path
      - else
        %li= link_to "Our Coaches", coaches_path
      - if current_page?(sponsoring_path)
        %li.active= link_to "Sponsoring", sponsoring_path
      - else
        %li= link_to "Sponsoring", sponsoring_path
      - if logged_in?
        %li
          =link_to logout_path do
            %i.fa-stack.fa-lg
              %i.fa.fa-stack-2x
              %i.fa.fa-sign-out.fa-stack-1x
      - else
        %li
          = link_to "/auth/github" do
            %i.fa-stack.fa-lg
              %i.fa.fa-stack-2x
              %i.fa.fa-sign-in.fa-stack-1x
