.contain-to-grid.sticky
  %nav.top-bar{ 'data-topbar': '' }
    %ul.title-area
      %li.name
        =link_to root_path do
          .brand
            = image_tag("logo.png", alt: "codebar logo", size: "148x40")
      %li.toggle-topbar
        = link_to '#' do
          .button
            %span.fa.fa-bars{"aria-hidden" => "true"}
            %span Menu

    %section.top-bar-section
      %ul.right
        %li
          = link_to 'https://medium.com/@codebar' do
            %span Blog
        %li{class: active_link_class(events_path)}
          = link_to events_path do
            %span Events
        %li
          = link_to 'http://tutorials.codebar.io' do
            %span Tutorials
        %li{class: active_link_class(coaches_path)}
          = link_to coaches_path do
            %span Coaches
        %li{class: active_link_class(sponsors_path)}
          = link_to sponsors_path do
            %span Sponsors
        %li{class: active_link_class(jobs_path)}
          = link_to jobs_path do
            %span Jobs
        %li{class: active_link_class(new_donation_path)}
          = link_to new_donation_path do
            %span.highlight
              Donate
        - if !logged_in?
          %li
            = link_to '/auth/github' do
              %span
                Sign in
        - else
          %li
            = link_to '#', class: 'left-off-canvas-toggle', id: 'profile' do
              .fa.fa-navicon
              Menu
