%nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top.py-3
  .container
    = link_to root_path, class: 'navbar-brand border-0' do
      = image_tag('logo.png', alt: 'codebar logo', size: '200x54')
    %button.navbar-toggler.collapsed.mb-0{'type': 'button', 'data-bs-toggle': 'collapse', 'data-bs-target': '#navbarSupportedContent', 'aria-controls': 'navbarSupportedContent', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation'}
      %span.navbar-toggler-icon
    %div.collapse.navbar-collapse.justify-content-end#navbarSupportedContent
      %ul.navbar-nav.ms-0
        %li.nav-item.dropdown
          = link_to '#', {'role': 'button', 'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', class: 'nav-link border-0 dropdown-toggle', id: 'navbarDropdownMenuLinkEvents'} do
            Events
          %ul.dropdown-menu{'aria-labelledby': 'navbarDropdownMenuLinkEvents'}
            %li= link_to 'Events', events_path, class: 'dropdown-item'
            %li= link_to 'codebar Festival', 'http://festival.codebar.io/', class: 'dropdown-item'
            %li= link_to 'uncodebar', 'https://uncodebar.com', class: 'dropdown-item'
        %li.nav-item.dropdown
          = link_to '#', {'role': 'button', 'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', class: 'nav-link border-0 dropdown-toggle', id: 'navbarDropdownMenuLinkCommunity'} do
            Community
          %ul.dropdown-menu{'aria-labelledby': 'navbarDropdownMenuLinkCommunity'}
            %li= link_to 'Coaches', coaches_path, class: 'dropdown-item'
            %li= link_to 'Impact Report', 'https://impact-report.codebar.io/', class: 'dropdown-item'
            %li= link_to 'codebar Stories Podcast', codebar_stories_podcast_path, class: 'dropdown-item'
            %li= link_to 'codebar Stories Blog', 'https://medium.com/codebar-stories', class: 'dropdown-item'
            %li= link_to 'codebar Blog', 'https://medium.com/the-codelog', class: 'dropdown-item'
            %li.dropdown-divider
            %li= link_to 'Tutorials', 'http://tutorials.codebar.io', class: 'dropdown-item'
        %li.nav-item
          = link_to volunteer_path, class: 'nav-link border-0' do
            Volunteer
        %li.nav-item
          = link_to fundraise_path, class: 'nav-link border-0' do
            Fundraise
        %li.nav-item
          = link_to "http://jobs.codebar.io/", class: 'nav-link border-0' do
            Job Board
        - if !logged_in?
          %li.nav-item
            = link_to '/auth/github', class: 'nav-link border-0' do
              Sign in
        - else
          - if current_user.is_admin? || current_user.organiser? || current_user.monthlies_organiser?
            %li.nav-item.dropdown
              = link_to '#', {'role': 'button', 'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', class: 'nav-link border-0 dropdown-toggle', id: 'navbarDropdownMenuLinkAdmin'} do
                Admin
              %ul.dropdown-menu.dropdown-menu-end{'aria-labelledby': 'navbarDropdownMenuLinkAdmin'}
                - if current_user.is_admin?
                  = render 'layouts/admin_menu'
                - elsif current_user.organiser? || current_user.monthlies_organiser?
                  = render 'layouts/organiser_menu'
          %li.nav-item.dropdown
            = link_to '#', {'role': 'button', 'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', class: 'nav-link border-0 dropdown-toggle', id: 'navbarDropdownMenuLinkMember'} do
              Menu
            = render 'layouts/member_menu'
        %li.nav-item.d-flex.align-items-center
          %div.nav-link.d-flex.gap-2.py-0
            = link_to donate_path, class: 'btn btn-sm fs-6 fw-semibold btn-primary' do
              Donate
