%nav.top-bar{ "data-topbar" => "" }
  %ul.title-area
    %li.name
      =link_to root_path do
        .brand codebar
    %li.toggle-topbar.menu-icon
      =link_to "Menu", "#"

  %section.top-bar-section
    %ul.right
      - if admin?
        %li.has-form
          = link_to "Admin", admin_root_path, class: 'button alert'
      - if logged_in?
        %li.has-form
          = link_to "My account", portal_index_path, class: 'button success'
        %li
          - if current_page?(jobs_path)
            %li.active= link_to "Jobs", jobs_path
          - else
            = link_to "Jobs", jobs_path

      - if current_page?(events_path)
        %li.active= link_to "Events", events_path
      - else
        %li= link_to "Events", events_path
      - if current_page?(faq_path)
        %li.active= link_to "FAQ", faq_path
      - else
        %li= link_to "FAQ", faq_path
      %li= link_to "Tutorials", "http://tutorials.codebar.io"
      - if current_page?(coaches_path)
        %li.active= link_to "Our Coaches", coaches_path
      - else
        %li= link_to "Our Coaches", coaches_path
      - if current_page?(sponsoring_path)
        %li.active= link_to "Sponsoring", sponsoring_path
      - else
        %li= link_to "Sponsoring", sponsoring_path
      - if logged_in?
        %li= link_to "Log Out", logout_path, class: "login-button"
      - else
        %li= link_to "Sign in", "/auth/github", class: "login-button"
