%li
  %label Admin Menu
- if current_user.is_organiser?
  - if has_permission?
    %li= link_to "New workshop", new_admin_workshop_path
    %li= link_to "New sponsor", new_admin_sponsor_path

- if current_user.is_monthlies_organiser?
  %li= link_to "New monthly", new_admin_meeting_path

-if current_user.organised_chapters.any?
  %li
    %label My Chapters
  - current_user.organised_chapters.each do |chapter|
    %li= link_to chapter.name, admin_chapter_path(chapter)
    %li= link_to "#{chapter.name} feedback", admin_chapter_feedback_index_path(chapter)
