%li
  %h6.dropdown-header Admin Menu
- if current_user.admin_or_organiser?
  %li
    = link_to new_admin_workshop_path, class: 'dropdown-item' do
      New workshop
  %li
    = link_to new_admin_sponsor_path, class: 'dropdown-item' do
      New sponsor

- if current_user.monthlies_organiser?
  %li
    = link_to new_admin_meeting_path, class: 'dropdown-item' do
      New monthly

-if current_user.organised_chapters.any?
  %li
    %hr.dropdown-divider
  %li
    %h6.dropdown-header My Chapters
  - current_user.organised_chapters.each do |chapter|
    %li
      = link_to chapter.name, admin_chapter_path(chapter), class: 'dropdown-item'
    %li
      = link_to "#{chapter.name} feedback", admin_chapter_feedback_index_path(chapter), class: 'dropdown-item'
