<!DOCTYPE html>
<html>
  <head>
    <title>Planner</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
      <%= render partial: 'layouts/messages' %>
      <%= yield %>
    </div>

  </body>
</html>
