!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{ name: 'robots', content: 'index, follow' }
    %meta{ property: 'fb:admins', content: '622070503' }
    %meta{ name: 'keywords', content: 'codebar, programming, diversity, html, css, javascript, ruby, python' }
    %meta{ name: 'description', content: 'Making tech more diverse and welcoming by bringing people together and helping teach programming skills.' }

    - if content_for? :meta_tags
      = yield :meta_tags
    - elsif !admin_namespace?
      = render partial: 'shared/meta_tags'

    %link{ rel: 'icon', sizes: '196x196', href: '/Icon-196.png'}
    %link{ rel: 'icon', sizes: '128x128', href: '/Icon-128.png'}
    %link{ rel: 'apple-touch-icon', sizes: '128x128', href: '/Icon-128.png'}

    %title= retrieve_title
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag('application', media: 'all', data: { turbo_track: 'reload' })
    = javascript_include_tag('application', data: { turbo_track: 'reload' })
    %link{ href: 'https://fonts.googleapis.com/css?family=Open+Sans:400,300', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel: 'stylesheet', type: 'text/css' }

    // this gets any content from page templates
    = content_for :head

    = csrf_meta_tags
    = csp_meta_tag

  %body.no-js{ 'class': "#{params[:controller]}-#{params[:action]}", 'data-bs-no-jquery': 'true' }
    #top
      = render 'layouts/navigation'
      = render 'layouts/messages'
    = yield
    = render 'layouts/footer'

    = content_for :page_footer
