<!DOCTYPE html>
<html>
  <head>
    <title>Codebar.io</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href='http://fonts.googleapis.com/css?family=Allerta' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//use.typekit.net/hhc0xau.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="top"></div>
    <div id="navlight">
      <div id="nav-inside">
        <div class="logo">
          <%=link_to root_path do %>
            <%= image_tag "logo.png", width: '185px'%>
          <% end %>
        </div>
        <div class="navigation">
          <ul class="navbar">
            <li><a href="">Wall of Fame</a></li>
            <li><a href="">Courses</a></li>
            <li><a href="">Feedback</a></li>
            <%=link_to "Become a member", new_members_path, class: 'member-button'%>
          </ul>
        </div>
      </div>
    </div>
    <!-- <div id="main-layout"> -->
      <!-- <div id="left-image"><%= image_tag "bg_2.jpg", width: '285px'%></div> -->
      <div id="container">
        <%= render partial: 'layouts/messages' %>
        <%= yield %>

      </div>
      <!-- <div id="right-image"><%= image_tag "bg_1.jpg", width: '285px'%></div> -->
    <!-- </div> -->
    <footer>
      <div id="footer-width">
        <div class="dot-footer"></div>
        <div class="footer-copy">Get in touch: <a href="mailto:hello@codebar.io?Subject=Hello%20Codebar">hello@codebar.io</a></div>
        <div class="footer-copy right-float">&#169; 2013 Codebar</div>
      </div>
    </footer>

  </body>
</html>
