!!!DOCTYPE html
%html{ lang: 'en' }
  %head
    = render partial: 'layouts/meta'
    = content_for :meta_tags

    %link{ rel: 'image_src', href: 'http://codebar.io/images/logo-square.png', :alt => "codebar logo" }

    %title
      = retrieve_title
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    %link{ href: 'https://fonts.googleapis.com/css?family=Open+Sans:400,300', rel:'stylesheet', type:'text/css' }
    %link{ href: 'https://fonts.googleapis.com/icon?family=Material+Icons', rel:'stylesheet', type:'text/css' }

    // this gets any content from page templates
    = content_for :head

    = csrf_meta_tags

  %body.no-js{ 'class': "#{params[:controller]}-#{params[:action]}", "data-no-jquery": "true"}
    #top
      = render partial: 'layouts/navigation'
      = render partial: 'layouts/messages'
    = yield
    = render partial: 'layouts/footer'

    = content_for :page_footer
