!!!DOCTYPE html
%html{ lang: "en" }
  %head
    = render partial: 'layouts/meta'
    %link{ rel: "image_src", href: "http://codebar.io/images/logo-square.png" }

    %title Codebar.io
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{ href: 'http://fonts.googleapis.com/css?family=Gabriela', rel: 'stylesheet', type: 'text/css' }
    = csrf_meta_tags
  %body
    .off-canvas-wrap{ "data-offcanvas" => true }
      .inner-wrap
        #top
          = render partial: 'layouts/navigation'
          = render partial: 'layouts/messages'

        - if logged_in?
          %aside.left-off-canvas-menu
            %ul.off-canvas-list
              - if current_user.is_admin? or current_user.is_organiser?
                %li
                  %label Manage
                  %li.has-form
                    = link_to "Dashboard", admin_root_path
                %li=link_to "New workshop", new_admin_workshop_path
              - if current_user.is_organiser? or current_user.is_admin?
                %li=link_to "View feedback", admin_feedback_index_path
              %li=link_to "Moderated Feedback", coach_feedback_index_path
              - if current_user.is_admin?
                %li=link_to "Review jobs (#{jobs_pending_approval})", admin_jobs_path
              %li= link_to "Jobs", jobs_path
              %li
                %label Account
              %li=link_to "Invitations", invitations_path
              %li=link_to "Update Profile", profile_path
              %li=link_to "Manage subscriptions", subscriptions_path
              - if current_user.is_admin?
                %li=link_to "New chapter", new_admin_chapter_path
                %li=link_to "New group", new_admin_group_path
        = yield


        = render partial: 'layouts/footer'
        %a.exit-off-canvas
