.row.justify-content-md-center.subscriptions
  .col-12.col-md-7
    %h2.h4.toggle
      As a Coach
      - if collapsed
        %i.fas.fa-chevron-right
      - else
        %i.fas.fa-chevron-down
    .group-container{class: collapsed ? 'collapsed' : ''}
      %p.lead #{link_to('Read our effective teacher guide', 'http://codebar.io/effective-teacher-guide')}
      - groups.each do |group|
        - if belongs_to_group?(group)
          = simple_form_for :subscription, url: :destroy_subscriptions, method: :delete do |f|
            = f.input :subscription_id, as: :hidden, input_html: { value: nil }
            = f.input :group_id, as: :hidden, input_html: { value: group.id }
            = button_tag type: :submit, class: 'btn btn-success w-100' do
              %i.fas.fa-check
              = group.chapter.name
        - else
          = simple_form_for :subscription, url: :subscriptions do |f|
            = f.input :group_id, as: :hidden, input_html: { value: group.id }
            = f.button :button, group.chapter.name, class: 'btn btn-secondary w-100'
