= simple_form_for @member, method: :put do |f|
  .row
    .large-6.columns
      = f.input :name
    .large-6.columns
      = f.input :surname
  .row
    .large-4.column
      = f.input :preferred_pronoun, placeholder: "e.g. she/her"

  .row
    .large-6.columns
      = f.input :email
    .large-6.columns
      = f.input :twitter
  .row
    .large-6.columns
      = f.input :mobile

  .row
    .large-6.columns
      = f.input :about_you, as: :text, label: "Tell us a little bit about yourself", required: true
    - if @member.coach?
      .large-6.columns
        = f.input :skill_list, label: "Skills, enter as a comma separated list", url: autocomplete_skill_name_members_path, as: :autocomplete, input_html: {'data-delimiter' => ','}

  .row
    .large-12.columns.text-right
      = f.submit submit_text, class: 'button round right'
