= simple_form_for @member do |f|
  .row
    .large-6.columns
      = f.input :name
    .large-6.columns
      = f.input :surname

  .row
    .large-6.columns
      = f.input :email
    .large-6.columns
      = f.input :twitter
  .row
    .large-6.columns
      = f.input :mobile

  .row
    .large-12.columns
      = f.input :about_you, as: :text, label: "Tell us a little bit about yourself", required: true

  .row
    .large-12.columns
      = f.association :roles, collection: Role.no_admins, as: :check_boxes, label: "Subscribe as"

  .row
    .large-12.columns.text-right
      = f.submit submit_text, class: 'button round right'
