= simple_form_for @member, method: :put do |f|
  .row
    .col-sm
      = f.input :name, required: true
    .col-sm
      = f.input :surname, required: true
  .row
    .col-sm-12.col-md-6
      = f.input :pronouns, label: "What pronouns do you use?", placeholder: "e.g. she/her/they"

  .row
    .col-sm
      = f.input :email, required: true
    .col-sm
      = f.input :twitter
  .row
    .col-sm
      = f.input :mobile

  .row
    .col-sm
      = f.input :about_you, as: :text, label: "Tell us a little bit about yourself", required: true
    - if @member.coach?
      .col-sm
        = f.input :skill_list, label: "Skills, enter as a comma separated list", input_html: { value: @member.skill_list.join(", ") }

  .row
    .col.text-right
      = f.submit submit_text, class: 'btn btn-primary btn-lg'
