.container-fluid.mt-5.mb-5
  .row
    .col-1
      =image_tag(member.avatar(100), title: member.full_name, alt: member.full_name)
    .col-11
      %h2
        = member.full_name

  .row.mt-4
    .col-12.col-md-8
      %dl
        - if member.pronouns.present?
          %dt Pronouns
          %dd= member.pronouns || "Not specified"

        %dt Email
        %dd= mail_to member.email, member.email

        %dt Twitter handle
        %dd= link_to "@#{member.twitter}", twitter_url_for(member.twitter)

        %dt Phone number
        %dd= member.mobile || "N/A"

        %dt About
        %dd= member.about_you

        - if member.skills.any?
          %dt Skills
          %p
            - member.skills.each do |skill|
              = link_to skill.name, skill_url(skill.name), class: "skill"
      = link_to "Update your details", edit_member_path, class: 'btn btn-primary'

    .col-12.col-md-4
      - if member.groups.any?
        %h3 Subscriptions
        %ul.list-unstyled.ml-0
          - member.groups.each do |group|
            %li
              = link_to chapter_path(group.chapter.slug) do
                #{group.name} (#{group.chapter.name})
      - else
        .badge.bg-primary You are not subscribed to any chapters

      .mt-4.mb-4
        = link_to "Manage subscriptions", subscriptions_path, class: 'btn btn-primary'

      Member since
      %em #{l(member.created_at, format: :website_format)}
