#new_member
  %h3 Become a member
  = simple_form_for @member do |f|
    .row
      .half
        = f.input :name
      .half
        = f.input :surname

    .row
      .half
        = f.input :email
      .half
        = f.input :twitter

    = f.input :about_you, as: :text, label: "Tell us a little bit about yourself"

    .form-footer
      = f.submit "Join #{t("brand")}"
