%section#member
  .titlebox.mission
    %h2
      Become a member
      .dot
  .description
    %p.lead
    = simple_form_for @member do |f|
      .row
        .half
          = f.input :name
        .half
          = f.input :surname

      .row
        .half
          = f.input :email
        .half
          = f.input :twitter

      = f.input :about_you, as: :text, label: "Tell us a little bit about yourself"

      %p
      = f.association :roles, as: :check_boxes, label: "Sign up as a"
      %ul.hint
        %li if you want to learn but also have some programming related skills you want to share, you can select both <b>Student</b> and <b>Coach</b>
        %li
          You can only sign up as a <b>Student</b>
          %ul
            %li if you are a woman, or
            %li you are part of a group underrepresented in the tech industry, or
            %li you succesfuly convince at least two women friends of yours, how amazing programming is and get them to join us and start attending our sessions.

      .form-footer
        = f.submit "Join #{t("brand")}"
