.container.pt-5.pb-5
  .row
    .cols
      %h2=@page_title
.container-fluid.stripe.reverse
  .row
    .col
      %p.lead
        = t('members.new.intro')
        = link_to t('members.code_of_conduct'), code_of_conduct_path
        \.
      %p.lead
        = t('members.new.students.intro')
        = link_to t('members.new.students.criteria_link'), 'http://codebar.io/student-guide#eligibility'
        = t('members.new.students.criteria_brief')
      %p.lead
        = t('members.new.students.github')
      .d-flex.flex-column.align-items-start
        = link_to registration_path(member_type: "student"), class: "btn-lg btn-primary mb-4" do
          = t('members.sign_up_as_student')
          %i.fa.fa-github.fa-fw
        = link_to registration_path(member_type: "coach"), class: "btn-lg btn-primary" do
          = t('members.sign_up_as_coach')
          %i.fa.fa-github.fa-fw
