.stripe.reverse#banner
  .row
    .large-12.columns
      %h2=@page_title
.stripe.reverse
  .row
    .medium-12.columns
      %p.lead
        = t('members.new.intro')
        = link_to t('members.code_of_conduct'), code_of_conduct_path
        \.
      %p.lead
        = t('members.new.students.intro')
        = link_to t('members.new.students.criteria_link'), 'http://codebar.io/student-guide#eligibility'
        = t('members.new.students.criteria_brief')
      = link_to registration_path(member_type: "student"), class: "button round" do
        = t('members.sign_up_as_student')
        %i.fa.fa-github.fa-fw
      %br
      = link_to registration_path(member_type: "coach"), class: "button round" do
        = t('members.sign_up_as_coach')
        %i.fa.fa-github.fa-fw
