%section#banner.sign-up-wizard
  .row
    .medium-12.columns
      %h1 Subscribe
      %p
        You're now signed up to codebar!
      %p
        You haven't signed up to any events yet. If you'd like to sign up to the next event at your local codebar chapter, visit its page. A full list of chapter pages can be found on the 
        = link_to("homepage", root_path(anchor: "chapters")) + "."
      %p
        We also email out invites to workshops (aside from Central London ones, where you'll need to sign up to on the 
        = link_to("London chapter page", "https://codebar.io/london") + "."
        If you tick any chapters in the list below, you'll be put on their mailing list. Just be aware that spots to some of our busier chapters fill up fast!


  - if @type == "student"
    = render partial: 'student_invite_subscriptions', locals: {groups: @student_groups, collapsed: false}
  - elsif @type == "coach"
    = render partial: 'coach_invite_subscriptions', locals: {groups: @coach_groups, collapsed: false}
  - else
    = render partial: 'student_invite_subscriptions', locals: {groups: @student_groups, collapsed: false}
    = render partial: 'coach_invite_subscriptions', locals: {groups: @coach_groups, collapsed: false}

  .row
    .large-6.large-offset-3.columns
      %p
        = link_to "Done", profile_path, class: "button round right"
