%section#banner.sign-up-wizard
  .row
    .medium-12.columns
      %h1 Pick an invite list
      %p
        You can register for events on the Codebar site, but it's easier via email. You can
        join an email list below to receive invites for that location.

  .row.subscriptions
    .large-6.large-offset-3.columns
      %h2
        Coaches
      - @coach_groups.each do |g|
        - if belongs_to_group? g
          = simple_form_for :subscription, url: :destroy_subscriptions, method: :delete do |f|
            = f.input :subscription_id, as: :hidden, input_html: { value: nil }
            = f.input :group_id, as: :hidden, input_html: { value: g.id }
            = button_tag type: :submit, class: 'button expand success round' do
              %i.fa.fa-check.fa-lg
              Subscribed to #{g.chapter.name} coach invites
        - else
          = simple_form_for :subscription, url: :subscriptions do |f|
            = f.input :group_id, as: :hidden, input_html: { value: g.id }
            = f.submit "Subscribe to #{g.chapter.name} coach invites", class: 'button expand warn round'

  .row.subscriptions
    .large-6.large-offset-3.columns
      %h2
        Students
      - @student_groups.each do |g|
        - if belongs_to_group? g
          = simple_form_for :subscription, url: :destroy_subscriptions, method: :delete do |f|
            = f.input :subscription_id, as: :hidden, input_html: { value: nil }
            = f.input :group_id, as: :hidden, input_html: { value: g.id }
            = button_tag type: :submit, class: 'button expand success round' do
              %i.fa.fa-check.fa-lg
              Subscribed to #{g.chapter.name} student invites
        - else
          = simple_form_for :subscription, url: :subscriptions do |f|
            = f.input :group_id, as: :hidden, input_html: { value: g.id }
            = f.submit "Subscribe to #{g.chapter.name} student invites", class: 'button expand warn round'

  .row
    .large-6.large-offset-3.columns
      %p
        = link_to "Done", root_path, class: "button round right"
